{% load static %}
<!DOCTYPE html>
<html>

<!-- HEAD -->

<head>
    
    <title> ToKeTa </title>
     
    <!-- framework bootstrap5
         bibliotheque d'icones bootstrap
         feuille de style principale
         feuille de style relative aux codes colores
         favicon dans l'onglet du navigateur -->
    <link href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC' crossorigin='anonymous'>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel='stylesheet' href="{% static 'home/styles/style51.css' %}">  
    <link rel='stylesheet' href="{% static 'home/styles/prism.css' %}">  
    <link rel='icon' type='image/png' href="{% static 'home/images/general/symbole_circulaire.png' %}">
   
    <!-- utilisation des accents francais -->
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>  


<body>




<!-- HEADER  -->

<header>
    <nav class="navbar navbar-expand-md fixed-top navbar-dark" style="background-color:var(--couleur_nav);">
        <div class="container-fluid">
            <a class="navbar-brand bi bi-x-diamond-fill fw-bold px-2" href="{% url 'creerIndex' %}" fw-bold>
                <span class="bg-gradient p-1 rounded-3" style="background-color:var(--couleur_important)">ToK</span>eTa</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse fw-bold" id="navbarNav">
                <div class="navbar-nav">
                    <a class="nav-item nav-link active px-3" aria-current="page" href="{% url 'afficherPresentation' niveau='python' %}" style="font-size:1.3em;">Python<span class="sr-only"></span></a>
                    <a class="nav-item nav-link px-3" href="{% url 'afficherPresentation' niveau='nsi' %}" style="font-size:1.3em;">Sciences<br/>numériques</a>
                    <a class="nav-item nav-link px-3" href="{% url 'afficherPresentation' niveau='maths' %}" style="font-size:1.3em;">Calcul<br/>numérique</a>
                </div>
                <button class="btn btn-outline-light me-2 fw-bold btn-md" type="button">Connexion</button>
            </div>
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="mot-clé" aria-label="Search">
                <button class="btn btn-outline-light fw-bold btn-md" type="submit">Recherche</button>
            </form>
        </div>
    </nav>  
</header>


<!-- BLOCK PRINCIPAL -->

{% block principal %} {% endblock principal %}


<!-- FOOTER -->

<footer>
    <section class="my-5 py-5 px-5 bg-white">
        <div class="container">
            <div class="row">
            <p class="bi bi-badge-cc"> ToKeTa 2021 Stephane R.</p>
            <a class="bi bi-linkedin  col-md-2" href="" target="_blank"> LinkedIn</a>
            <a class="bi bi-facebook  col-md-2" href="" target="_blank"> Facebook</a>
            <a class="bi bi-youtube  col-md-2" href='https://www.youtube.com/channel/UCgCl1cAuhEa5RxCsV87cG4A/featured' target="_blank"> YouTube</a>
            </div>
            <div class="row py-4">
                <p>LIENS UTILES</p>           
                <a href="https://realpython.com/" target="_blank">Real Python</a>
                <a href="https://docs.python.org/3/" target="_blank">Doc python</a>
                <a href="https://www.w3schools.com/" target="_blank">W3school</a>
                <a href="https://www.php.net/docs.php" target="_blank">Doc PHP</a>
                <a href="https://www.w3schools.com/charsets/ref_emoji.asp" target="_blank">Emoji unicode</a>
                <a href="https://tice.univ-irem.fr/lexique/res/Annexe_E_-_Liste_des_symboles_mathematiques_usuels__LaTeX_.pdf" target="_blank">Symboles LaTeX</a>
            </div>     
        </div>
    </section>
</footer>


<!-- JS SCRIPTS -->

<!-- script for latex mathjax -->
<script type="text/x-mathjax-config">
    MathJax.Hub.Config({
      extensions: ["tex2jax.js"],
      jax: ["input/TeX", "output/HTML-CSS"],
      tex2jax: {
        inlineMath: [ ["\\(","\\)"] ],
        displayMath: [ ["\\[","\\]"] ],
        processEscapes: true
      },
      "HTML-CSS": { availableFonts: ["TeX"] }
    });
</script>
<script type="text/javascript"
        src="https://cdn.mathjax.org/mathjax/latest/MathJax.js"></script>

<!-- script for code coloring -->
<script defer src="{% static 'home/styles/prism.js' %}"></script>

<!-- script for other functions -->
<script src="{% static 'home/general/fonctionsJS.js' %}"></script>

</body>
</html>