{% extends '../../../modelePage.html' %}
{% load static %}

{% block contenu %}
<ul>
    <li>utilisation de variables</li>
    <li>utilisation de conditions</li>
    <li>utilisation de boucles</li>
    <li>pratique de la construction de code</li>
</ul>
{% endblock contenu %}

{% block cours %}  

<p>Ce projet est l'occasion d'un travail en binôme. Il vous est demandé de construire un jeu de pendu simple 
    mais fonctionnel, sans interface graphique. Vous n'utiliserez donc pas la bibliothèque turtle. Vous 
    afficherez sur la console des tirets à la place du mot à trouver, puis les lettres correctes trouvées 
    par le joueur aux emplacements correspondant dans ce mot. Vous afficherez également toutes les lettres 
    proposées par le joueur. La saisie des lettres se fera directement à la console.</p>

<p>Le joueur dispose de 5 tentatives pour gagner. A la 6ème tentative, le joueur perd la partie.</p>

<p>Vous afficherez finalement à la console si le joueur a perdu ou gagné, et dans ce cas vous rajouterez 
    son score en pourcentage.</p>


<p>Une solution possible :</p>

<pre><code class="language-python"></code></pre>

{% endblock cours %}
