{% extends '../../../modelePage.html' %}
{% load static %}

{% block contenu %}
<ul>
    <li><p>travail de découverte sur les variables</p></li>
</ul>
<a href="{% static 'home/documents/variables.ipynb' %}" download class="bi bi-download"> Notebook - variables.ipynb</a><br/>
<a href="{% static 'home/documents/memoVariables.pdf' %}" download class="bi bi-download"> Fiche mémo - variables.pdf</a>
{% endblock contenu %}

{% block tampon %}
<p class="tampon">TRAVAIL PRATIQUE</p>
{% endblock tampon %}

{% block cours %}

<!-- A PLACER EN DEBUT DE FICHIER -->
<!-- script for pyodide python sandbox -->
<script src="https://cdn.jsdelivr.net/pyodide/v0.24.1/full/pyodide.js"></script>
<!-- import codemirror stylings -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.63.3/codemirror.min.css" />
<!-- install codemirror.js version /5.63.3 from cdn -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.63.3/codemirror.min.js"
integrity="sha512-XMlgZzPyVXf1I/wbGnofk1Hfdx+zAWyZjh6c21yGo/k1zNC4Ve6xcQnTDTCHrjFGsOrVicJsBURLYktVEu/8vQ=="
crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<!-- install codemirror python language support -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.63.3/mode/python/python.min.js"
integrity="sha512-/mavDpedrvPG/0Grj2Ughxte/fsm42ZmZWWpHz1jCbzd5ECv8CB7PomGtw0NAnhHmE/lkDFkRMupjoohbKNA1Q=="
crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<!-- import codemirror dracula theme styles from cdn -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.63.3/theme/elegant.css" />

<style>
    /* set codemirror ide height to 100% of the textarea */
    .CodeMirror {
      height: auto;
      overflow: hidden;
    }
  </style>


<!-- Common function to initialize a sandbox -->
<script>
    var commentInitial = "# type your code here";
    let texteInitial = "";
    const sandboxes = {};
  
    function initializeSandbox(codeInitial, sandboxId) {
      const outputElement = document.getElementById(`output${sandboxId}`);
      const codeElement = document.getElementById(`code${sandboxId}`);
  
      const editor = CodeMirror.fromTextArea(codeElement, {
        mode: {
          name: "python",
          version: 3,
          singleLineStringErrors: false,
        },
        theme: "elegant",
        lineNumbers: true,
        indentUnit: 4,
        matchBrackets: true,
      });
  
      editor.setValue(codeInitial);
      outputElement.value = "Initializing...\n";
  
      const sandbox = {
        pyodide: null,
        editor,
        outputElement,
      };
  
      sandboxes[sandboxId] = sandbox;
  
      async function main() {
        sandbox.pyodide = await loadPyodide({
          indexURL: "https://cdn.jsdelivr.net/pyodide/v0.24.1/full/",
        });
  
        sandbox.pyodide.runPython(`
          import sys
          sys.version
        `);
  
        sandbox.outputElement.value = ">>>\n";
      }
  
      main();
    }
  
    function executePython(sandboxId) {
      const sandbox = sandboxes[sandboxId];
  
      try {
        sandbox.pyodide.runPython(`
          import io
          sys.stdout = io.StringIO()
        `);
  
        const result = sandbox.pyodide.runPython(sandbox.editor.getValue());
        const stdout = sandbox.pyodide.runPython("sys.stdout.getvalue()");
        sandbox.outputElement.value += stdout + "\n";
      } catch (err) {
        sandbox.outputElement.value += "Error: " + err + "\n";
      }
    }
</script>
<!-- fin js sandbox -->


<!-- INTRODUCTION -->
<p class="invisible" id="intro">ancre</p>
<h3>Découvrir les variables par la pratique</h3>

<p>Pour découvrir les connaissances de base sur les variables en Python, écoute la vidéo ci-dessous
    puis complète et exécute les codes des différentes consoles.</p>
    
<div class="col-12 col-md-8 my-5">
    <iframe src="https://www.youtube.com/embed/p2M999meN2Y"
            title="Les variables en Python - ToKeTa" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media;
            gyroscope; picture-in-picture" allowfullscreen></iframe>
    <figcaption>Les variables</figcaption>
</div>

<div class="exerciceApplication">

<p><strong>A toi de jouer :</strong></p>

<h4 class="font-weight-bold">Qu'est-ce qu'une variable ?</h4>

<p>Une variable est un objet informatique composé d'un nom, d'une valeur, d'une adresse et d'un type.</p>
<ul>
    <li>le nom doit être explicite, ne peut pas être composé d'une instruction Python, ne peut pas commencer par un chiffre</li>
    <li>la valeur d'une variable est amenée à changer au cours de l'exécution d'un programme</li>
    <li>l'adresse de la variable permet de la retrouver en mémoire</li>
    <li>le type correspond à la famille de cette variable et permet de lui fournir une structure qui répond à ses besoins</li>
</ul>


<h4>Comment définir une variable ?</h4>

<p>On définit la valeur d'une variable avec un signe = comme dans l'exemple ci-dessous :</p>
<pre><code class="language-python">age = "16"</code></pre>
<p>On pourra par la suite donner de nouvelles valeurs à la variable <code>age</code> autant de fois que nécessaire.</p>


<h4>Comment utiliser une variable ?</h4>

<p>On utilise une variable en l'appelant par son nom et le programme remplacera ce nom par sa valeur, 
    comme dans l'exemple ci-dessous où <code>identite</code> prend la valeur <code>Antoine - Robert</code> :</p>
<pre><code class="language-python">prenom = "Antoine"
nom = "Robert"
identite = nom + " - " + prenom</code></pre>


<h4>Comment afficher une variable ?</h4>

<p>On utilise l'instruction print() et le texte à afficher. Par exemple, exécute le code 
    suivant qui affiche <code>Diane code en Python</code> :</p>

<!-- SANDBOX 19 -->
{% include '../../../sandbox.html' with nmr='19' nbLines='25' %}
<script>
    texteInitial = 'print("Diane code en Python")';
    initializeSandbox(texteInitial, 19);
</script>


    <p>Trouve comment afficher les valeurs des variables 
    <code>age</code> et <code>prenom</code> en complétant le code ci-dessous :</p>
    

<!-- SANDBOX 13 -->
{% include '../../../sandbox.html' with nmr='13' nbLines='125' %}
<script>
    initializeSandbox('age = "12"\nprenom = "Diane"\n# type your code here', 13);
</script>

<p>Le code ci-dessous affiche maintenant <code>Hervé a 17 ans</code> :</p>
    <pre><code class="language-python">prenom = "Hervé"
age = "17"
print(prenom + " a " + age + " ans")</code></pre>

    <p>Ecris un code dans la cellule ci-dessous, qui définit 
    une variable <code>date</code> en lui donnant la valeur 2023 et une variable <code>pseudo</code> en lui 
donnant la valeur <i>sharkrunner</i>. Construis ensuite un mot de passe en écrivant bout à 
    bout les deux variables précédentes.</p>

<!-- SANDBOX 14 -->
{% include '../../../sandbox.html' with nmr='14' nbLines='125' %}
<script>
    initializeSandbox(commentInitial, 14);
</script>

<p>On va essayer de comprendre l'utilité des guillemets lorsqu'on définit une variable, 
    sachant qu'il n'est pas toujours nécessaire de les utiliser.</p>

    <p>Exécute le code ci-dessous et trouve dans quel cas on 
    doit mettre les guillemets "</p>

<!-- SANDBOX 12 -->
{% include '../../../sandbox.html' with nmr='12' nbLines='175' %}
<script>
    texteInitial = 'age = 6\nnouvel_age = age + 1\nprint(nouvel_age)\nage = "6"\nexpression = age + " ans"\nprint(expression)';
    initializeSandbox(texteInitial, 12);
</script>

<p>Cherchons maintenant les principaux types de variables en Python.</p>

    <p>Exécute la cellule ci-dessous et trouve les 4 principaux 
    types simples de variables :</p>

<!-- SANDBOX 15 -->
{% include '../../../sandbox.html' with nmr='15' nbLines='100' %}
<script>
    texteInitial = 'print(type("bonjour"))\nprint(type(25))\nprint(type(17.5))\nprint(type(True))';
    initializeSandbox(texteInitial, 15);
</script>


<h4>Les principales opérations</h4>

    <p>Exécute le code ci-dessous et explique ce que calcule 
    chacune des lignes :</p>

<!-- SANDBOX 16 -->
{% include '../../../sandbox.html' with nmr='16' nbLines='175' %}
<script>
    texteInitial = 'print(7 + 2)\nprint(4 - 3)\nprint(5 * 3)\nprint(3 ** 2)\nprint(5 / 2)\nprint(5 // 2)\nprint(5 % 2)';
    initializeSandbox(texteInitial, 16);
</script>

<p>On retiendra donc les opérations suivantes :</p>
<ul>
    <li>+ pour l'addition</li>
    <li>- pour la soustraction</li>
    <li>* pour la multiplication</li>
    <li>** pour la puissance</li>
    <li>/ pour la division</li>
    <li>// pour le quotient de division</li>
    <li>% pour le reste de division</li>
</ul>


<h4>Comment saisir la valeur d'une variable au clavier</h4>

<p>On utilise l'instruction <code>input()</code> et on stocke la valeur saisie dans une variable, comme dans 
    l'exemple ci-dessous qui affiche <i>Quel est ton nom ?</i> et attend une réponse avant de la stocker 
    dans la variable <code>nom</code> :</p>
<pre><code class="language-python">nom = input("Quel est ton nom ? ")</code></pre>

    <p>Ecris un code dans la cellule ci-dessous qui demande 
        son age à l'utilisateur et affiche par exemple <i>Tu as 20 ans</i> lorsque l'âge saisi est 20.</p>

<!-- SANDBOX 17 -->
{% include '../../../sandbox.html' with nmr='17' nbLines='50' %}
<script>
    initializeSandbox(commentInitial, 17);
</script>

<p>Appliquons maintenant nos connaissance sur un cas concret :</p>
    <p>Complète le code ci-dessous utilisé dans un jeu vidéo pour 
    afficher le score d'un joueur avec son pseudo qui a été saisi au clavier par le joueur. Le 
    code doit par exemple afficher une phrase du type <i>Bravo Skyliner ton score est 340</i> 
    où <i>Skyliner</i> a été saisi au clavier par le joueur.</p>

<!-- SANDBOX 18 -->
{% include '../../../sandbox.html' with nmr='18' nbLines='100' %}
<script>
    texteInitial = 'score = 340\n# type your code here';
    initializeSandbox(texteInitial, 18);
</script>

</div>

<p>Il est également possible d'effectuer le travail pratique ci-dessus en téléchargeant puis en complétant 
    le Jupyter Notebook suivant. Il faut pour cela avoir installé le plug-in Jupyter sur Visual Studio Code 
    ou avoir installé directement le projet <a href="https://jupyter.org/install">Jupyter Notebook</a>.</p>
    

<div class="mb-3 mt-5 resume">

<!-- L'ESSENTIEL -->
<h4>Résumé</h4>

<h4 class="font-weight-bold">Qu'est-ce qu'une variable ?</h4>

<p>Une variable est un objet informatique composé d'un nom, d'une valeur, d'une adresse et d'un type.</p>
<ul>
    <li>le nom doit être explicite, ne peut pas être composé d'une instruction Python, ne peut pas commencer par un chiffre</li>
    <li>la valeur d'une variable est amenée à changer au cours de l'exécution d'un programme</li>
    <li>l'adresse de la variable permet de la retrouver en mémoire</li>
    <li>le type correspond à la famille de cette variable et permet de lui fournir une structure qui répond à ses besoins</li>
</ul>


<h4>Comment définir une variable ?</h4>

<p>On définit la valeur d'une variable avec un signe = comme dans l'exemple ci-dessous :</p>
<pre><code class="language-python">age = 16</code></pre>


<h4>Comment utiliser une variable ?</h4>

<p>On utilise une variable en l'appelant par son nom et le programme remplacera ce nom par sa valeur, 
    comme dans l'exemple ci-dessous où <code>identite</code> prend la valeur <code>Antoine - Robert</code> :</p>
<pre><code class="language-python">prenom = "Antoine"
nom = "Robert"
identite = nom + " - " + prenom</code></pre>


<h4>Comment afficher une variable ?</h4>

<p>On utilise l'instruction print() et le nom de la variable. Par exemple, le code suivant affiche 
    <i>Hervé a 17 ans</i> :</p>
    <pre><code class="language-python">prenom = "Hervé"
age = "17"
print(prenom + " a " + age + " ans")</code></pre>


<h4>Les principales opérations</h4>

<ul>
    <li>+ pour l'addition</li>
    <li>- pour la soustraction</li>
    <li>* pour la multiplication</li>
    <li>** pour la puissance</li>
    <li>/ pour la division</li>
    <li>// pour le quotient de division</li>
    <li>% pour le reste de division</li>
</ul>


<h4>Les principaux types de variables</h4>

<ul>
    <li><code>str</code> pour du texte (chaînes de caractères)</li>
    <li><code>int</code> pour des nombres entiers</li>
    <li><code>float</code> pour des nombres réels</li>
    <li><code>bool</code> pour des booléens (True, False)</li>
</ul>


<h4>Comment saisir la valeur d'une variable au clavier</h4>

<p>On utilise l'instruction <code>input()</code> et on stocke la valeur saisie dans une variable, comme dans 
    l'exemple ci-dessous qui affiche <i>Quel est ton nom ?</i> et attend une réponse avant de la stocker 
    dans la variable <code>nom</code> :</p>
<pre><code class="language-python">nom = input("Quel est ton nom ? ")</code></pre>

</div>

<a href="{% static 'home/documents/memoVariables.pdf' %}" download class="bi bi-download"> Fiche mémo - variables.pdf</a>



{% endblock cours %}