{% extends '../../../modelePage.html' %}
{% load static %}

{% block contenu %}
<ul>
    <li><a href="#structure">comprendre la structure des blocs de code Python</a></li>
    <li><a href="#decouvrir">découvrir les variables</a></li>
    <li><a href="#type">connaître le type d'une variable</a></li>
    <li><a href="#notation">respecter les conventions de notation</a></li>
    <li><a href="#operateur">connaître les opérateurs</a></li>
    <li><a href="#manipuler">comment manipuler les variables</a></li>
    <li><a href="#afficher">comment afficher les variables à l'écran</a></li>
    <li><a href="#biblio">comment importer une bibliothèque</a></li>
</ul>
{% endblock contenu %}

{% block cours %}

<!-- STRUCTURE DU CODE -->
<p class="invisible" id="structure">ancre</p>

<h3>La structure des blocs de code Python</h3>

<p>Chaque programme est composé d'instructions, qui sont comme des phrases avec leur propre syntaxe, 
    leur orthographe et leur grammaire. Contrairement à la langue française, le nombre de mots est très limité, 
et la syntaxe est toujours la même. Elle peut paraître compliquée au début mais le meilleur moyen de bien la connaître 
 est de pratiquer en s'aidant des commentaires de l'ordinateur pour effectuer les corrections. Il faut par ailleurs 
toujours garder à l'esprit que l'ordinateur exécute à la lettre ce qu'on lui demande de faire, ligne après ligne.</p>

<p>Les phrases composent des paragraphes, qui eux-même composent des chapitres qui composent un livre. 
    En suivant cette analogie, une ligne de code serait une phrase, un bloc ou ensemble d'instructions 
    regroupées entre elles serait un paragaphe, un module serait un chapitre et un projet serait un livre.</p>

<p>Le langage Python a la particularité de ne pas séparer les blocs de code par des accolades. 
    Il utilise plutôt un niveau de décalage à droite (appelé indentation) représentatif de chaque bloc.</p>

<p>Par exemple, au lieu d'avoir un code structuré ainsi :</p>

<pre><code class="language-svg">{
instruction du bloc 1
instruction du bloc 1
{
instruction du bloc 2
instruction du bloc 2
}
instruction du bloc 1
}</code></pre>

<p>le même code en Python serait</p>

<pre><code class="language-svg">instruction du bloc 1
instruction du bloc 1
    instruction du bloc 2
    instruction du bloc 2
instruction du bloc 1</code></pre>

<p>On remarque tout de suite que le code Python est plus court et plus lisible. En revanche, 
    il est impératif de penser à décaler les instructions du bloc 2, sinon elles appartiendraient 
    au bloc 1 et cela changerait le code.</p>

<p>Par ailleurs, la fin d'une ligne symbolise la fin d'une instruction. Il n'est pas nécessaire en Python 
    d'utiliser des points-virgules pour symboliser la fin d'une instruction.</p>

<p>Il est possible et même très important d'écrire des commentaires dans un programme. Ces portions de code ne
    sont pas exécutées par l'interpréteur Python et ont pour but de faciliter la compréhension du code, pour le 
    lecteur du code comme pour le développeur (car parfois les codes sont compliqués). Les commentaires d'une ligne 
commencent toujours par le symbole #, alors que les commentaires de plusieurs lignes sont entourés des symboles """, 
comme dans l'exemple ci-dessous.</p>

<pre><code class="language-python"># ceci est un commentaire d'une ligne

"""
ceci est un commentaire
sur plusieurs lignes
"""</code></pre>

<p>Il faut prendre l'habitude d'écrire les commentaires en anglais car Python est écrit en anglais. 
    A défaut, il faut écrire en français sans accent, ou alors rajouter dès la première ligne de code l'instruction 
    suivante qui indique à Python que les accents et caractères spéciaux sont autorisés :</p>

<pre><code class="language-python"># -*- coding: utf-8 -*-</code></pre>


<!-- DECOUVRIR LES VARIABLES  -->
<p class="invisible" id="decouvrir">ancre</p>

    <h3>Découvrir les variables</h3>

<div class="col-12 col-md-8 my-5">
    <iframe src="https://www.youtube.com/embed/p2M999meN2Y"
            title="Les variables en Python - ToKeTa" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media;
            gyroscope; picture-in-picture" allowfullscreen></iframe>
    <figcaption>Les variables</figcaption>
</div>

    <p>Une variable est un peu comme un carton de rangement. On a besoin d'un nom pour savoir ce qu'il contient, 
et bien sûr on doit pouvoir accéder à son contenu quand on en a besoin. On doit même pouvoir retirer une affaire 
du carton, rajouter une affaire ou en modifier totalement le contenu. Afin de pouvoir le retrouver facilement, 
on a besoin de savoir à quelle famille il appartient, par exemple de taille moyenne et de couleur rouge. Il est 
également important de connaître son emplacement dans la maison lorsqu'on a besoin d'y accéder. Une variable est 
construite suivant le même principe qu'un carton, et dispose des mêmes caractéristiques : nom, contenu, emplacement, 
famille.</p>

<img src="{% static 'home/images/python/carton.png' %}" width="150px">

<p>Une variable permet de stocker une donnée du code. Par exemple dans un jeu, on a besoin de garder en 
    mémoire le score du joueur, sur un site internet on a besoin de garder en mémoire le pseudo de l'utilisateur 
    lorsqu'il est identifié. On comprend bien que les variables sont les briques les plus essentielles de tout 
    programme.</p>
    
<p>Une variable est constituée d'un nom, d'une valeur, d'un emplacement en mémoire et 
    d'un type. En Python, on ne s'occupera que du nom de la variable, de sa valeur et de son type.</p>

<p>A noter que le nom d'une variable ne peut pas commencer par un chiffre, ne peut pas contenir d'espace et ne peut 
    pas être un mot réservé, c'est à dire une instruction Python. Voici un premier exemple où
    le nom de la variable est <strong>age</strong> :</p>

<pre><code class="language-python">age = 18</code></pre>

<p>On utilise le signe <strong>"="</strong> pour donner la valeur <strong>18</strong> à la variable appelée 
    <strong>age</strong>. On peut maintenant changer la valeur de <strong>age</strong> autant de fois que l'on 
     souhaite. Celle-ci est stockée en mémoire sous le nom <strong>age</strong>. C'est parce qu'on peut en changer 
     la valeur autant de fois que l'on veut, qu'on parle de "variable".</p>

<p>&#9889; <em>Attention</em>, en mathématiques le signe <strong>"="</strong> est réversible, c'est à
dire qu'on peut l'utiliser dans les deux sens et on peut également résoudre une équation pour obtenir la valeur 
d'une inconnue x par exemple. En informatique, c'est beaucoup plus simple, le signe <strong>"="</strong> signifie 
uniquement qu'on donne une valeur à une variable. Il n'y a pas de notion d'égalité. Pour mieux comprendre, analysons le code ci-dessous :</p>

<pre><code class="language-python">x = 12 # x prend la valeur 12
y = x
x = 44</code></pre>

<p>Un programme se lit et s'exécute ligne par ligne. Ici, x prend la valeur 12, puis y prend la valeur de x 
    c'est à dire 12, finalement x prend la valeur 44. C'est juste un exemple sans intérêt, si ce n'est pour bien comprendre 
    qu'à la fin x vaut 44 et y vaut 12 alors qu'il était écrit y = x. IL NE S'AGIT PAS D'UNE EGALITE MAIS DE 
    L'AFFECTATION DE VALEURS A DES VARIABLES.</p>

<p>Voici une liste non exhaustive de mots-clés qu'il n'est donc pas possible d'utiliser comme nom de variable :
    <em>print, input, if, while, for, range, list, str, float, int, def, match, else, elif</em></p>

<div class="exerciceApplication">
    <p><strong>A toi de jouer : </strong>parmi les noms suivants, choisir ceux qu'on peut utiliser comme noms de variables 
        (attention, on ne peut pas non plus utiliser de mot-clé Python comme nom de variable):</p>
        <ul>
            <li>nA2rt5</li>
            <li>compteur</li>
            <li>3noms</li>
            <li>print</li>
            <li>_nom</li>
            <li>nom prenom</li>
            <li>nom1</li>
            <li>print4</li>
        </ul>
</div>

<p>Pour afficher la valeur d'une variable, il suffit d'utiliser l'instruction <strong>print</strong> avec le nom de cette variable :</p>

<pre><code class="language-python">print(age)</code></pre>

<p>affichera <strong>18</strong>.</p>

<p><em>Attention</em>, vous avez déjà exécuté l'instruction suivante pour tester Python :</p>

<pre><code class="language-python">print("Hello world")</code></pre>

<p>Note l'importance des <strong>""</strong> dans le script ci-dessus. Essaie le même script sans les <strong>""</strong>. L'interpréteur Python pense dans ce cas que Hello est une variable dont il ne connaît pas la valeur. Les <strong>""</strong> permettent simplement d'afficher du texte et non pas la valeur d'une variable.</p>

<div class="exerciceApplication">
    <p><strong>A toi de jouer : </strong>pour comprendre l'utilité des guillemets "", donne la valeur "Antoine" à la variable <strong>prenom</strong> :</p>
    <pre><code class="language-python">prenom = "Antoine"</code></pre>
    <p>puis exécute le code suivant :</p>
    <pre><code class="language-python">print("prenom")
print(prenom)</code></pre>
    <p>Votre code devra afficher<br/><strong>prenom<br/>Antoine</strong></p>
</div>

<iframe src="https://trinket.io/embed/python/14ddd142a7" width="100%" height="230" frameborder="0" marginwidth="0" marginheight="0" allowfullscreen></iframe>


<p>Pour afficher les valeurs de plusieurs variables successives, il suffit de les séparer avec le signe "+" dans l'instruction <strong>print</strong></p>

<div class="exerciceApplication">
    <p><strong>A toi de jouer : </strong>affecte ton prénom à la variable <strong>prenom</strong>, puis ton nom à la variable <strong>nom</strong>, comme ceci :</p>
    <pre><code class="language-python">prenom = "Antoine"
nom = "Legendre"</code></pre>
        <p>Affichez ensuite à l'écran votre nom suivi de votre prénom en utilisant
        les deux variables que vous venez de créer.</p>

    <div>
        <p><button class='bouton' type="submit" onclick="affichageConditionnel(this,'solution1');"> Voir la solution </button></p>
    </div>

    <div id="solution1" style="display:none;">
    <pre><code class="language-python">prenom = "Antoine"
nom = "Legendre"
print(nom + prenom)</code></pre>
    </div>
</div>

<iframe src="https://trinket.io/embed/python/14ddd142a7" width="100%" height="230" frameborder="0" marginwidth="0" marginheight="0" allowfullscreen></iframe>


<p>Nous verrons plus tard dans le tutoriel comment créer un format d'affichage qui nous convient bien.</p>


<!-- QESTIONNAIRE -->
<h4>As-tu bien compris ?</h4>

{% include '../../../questionnaireUnique.html' with nmr='1' %}

<script>
var questionsData = 
    {
        question: "Quelle affirmation est vraie ...",
        options:["une variable peut prendre plusieurs valeurs en même temps", "une variable ne change pas de valeur", "une variable ne change pas de nom"],
        correctIndex: 2,
        commentaire: "Seule le nom d'une variable reste inchangé."
    };
questionnaireUnique(1);
</script>


<!-- LES TYPES -->

<p class="invisible" id="type">ancre</p>

<h3>Les différents types de variables</h3>

<p>Chaque variable appartient à une famille particulière relative à la valeur de cette variable :</p>
<ul>
    <li>les nombres entiers sont stockés dans des variables de type <strong>int</strong> pour integer</li>
    <li>les nombres réels sont stockés dans des variables de type <strong>float</strong> pour nombres à virgules flottantes</li>
    <li>les textes (chaînes de caractères) sont stockés dans des variables de type <strong>str</strong> pour string</li>
    <li>les valeurs <strong>True</strong> et <strong>False</strong> sont stockées dans des variables de type <strong>bool</strong> pour booléens.</li>
</ul>

<p>A noter que la place qu'occupe une variable en mémoire dépend fortement du type de cette variable. C'est la raison pour laquelle il est parfois
préférable de travailler avec un type de variable plutôt qu'un autre.</p>

<p>On peut afficher le type d'une variable avec l'instruction <strong>type()</strong> et le nom de la variable. Par exemple :

    <pre><code class="language-python">print(type(age))</code></pre>

    <p>affichera <strong>int</strong>.</p>


<div class="exerciceApplication">
    <p><strong>A toi de jouer : </strong>dans un jeu vidéo, le niveau peut varier de <em>beginner</em> à 
        <em>master</em>. Donne la valeur "beginner" à une variable que vous appelerez 
        <strong>utilisateur</strong>, puis à la ligne suivante la valeur "master" à cette même variable.
         Affiche ensuite le type de la variable <strong>utilisateur</strong>.</p>

    <div>
        <p><button class='bouton' type="submit" onclick="affichageConditionnel(this,'solution7');"> Voir la solution </button></p>
    </div>

    <div id="solution7" style="display:none;">
        <p>Solution : </p>
        <pre><code class="language-python">utilisateur = "beginner"
utilisateur = "master"
print(type(utilisateur))</code></pre>
    </div>
</div>

<iframe src="https://trinket.io/embed/python/14ddd142a7" width="100%" height="230" frameborder="0" marginwidth="0" marginheight="0" allowfullscreen></iframe>


<div class="exerciceApplication">
    <p><strong>A toi de jouer : </strong>on écrit le code suivant qui permet d'effectuer certains calculs :</p>
<pre><code class="language-python">compteur_tours = 7
compteur_ravitaillement = compteur_tours * 2
quantite_nourriture = 3500 - 64 * compteur_ravitaillement</code></pre>
<p>Quelle est la valeur de la variable <strong>quantite_nourriture</strong> lors de l'exécution du code ? (travail sans ordinateur)</p>
</div>


<!-- QESTIONNAIRE -->
<h4>As-tu bien compris ?</h4>

{% include '../../../questionnaireUnique.html' with nmr='2' %}

<script>
var questionsData = 
    {
        question: "Quelle affirmation est vraie ...",
        options:["le type d'une variable définit sa famille d'appartenance", "le type d'une variable est immuable", "on accède au type de la variable x en écrivant x.type()"],
        correctIndex: 0,
        commentaire: "Le type d'une variable définit à quel groupe elle appartient."
    };
questionnaireUnique(2);
</script>


<!-- CONVENTIONS DE NOTATION -->

<p class="invisible" id="notation">ancre</p>

<h3>Les conventions de notation</h3>

<p>Les noms de variables doivent avoir un sens et s'écrivent très souvent d'une des deux manières suivantes :</p>
<pre><code class="language-python">nomUtilisateur = "Antoine"
nom_utilisateur = "Antoine"</code></pre>

<p>Les constantes (qui ne varient donc pas) portent un nom qui s'écrit en majuscules, et sont considérées en
    Python comme étant un cas particulier de variables. Par exemple :</p>

<pre><code class="language-python">PI = 3.14</code></pre>

<p>Rappel, le nom d'une variable ne commence pas par un chiffre et ne peut pas être un mot-clé du langage Python, 
    comme par exemple <em>print, if, else, while, def, int, str, float, bool, for, range, not, chr, ord, list, ...</em>
Par ailleurs, les virgules sont représentées par des points en anglais et donc également en Python, comme dans l'exemple 
précédent de PI.</p>


<!-- QESTIONNAIRE -->
<h4>As-tu bien compris ?</h4>

{% include '../../../questionnaireUnique.html' with nmr='3' %}

<script>
var questionsData = 
    {
        question: "3nom_securise est un nom de variable valable ...",
        options:["vrai", "faux", "peut le devenir si on enlève le underscore _"],
        correctIndex: 1,
        commentaire: "Un nom de variable ne peut pas commencer par un chiffre en Python."
    };
questionnaireUnique(3);
</script>


<!-- OPERATIONS -->

<p class="invisible" id="operateur">ancre</p>

<h3>Les principaux opérateurs</h3>

<p>Les opérateurs servent à modifier la valeur des variables. Pour les nombres entiers (<strong>int</strong>) et les nombres réels (<strong>float</strong>), on peut utiliser les opérations suivantes :</p>

    <h4>+ pour l'addition</h4>
    <p>L'instruction ci-dessous donne la valeur 8 à la variable x.</p>
    <pre><code class="language-python">x = 5 + 3</code></pre>

    <h4>- pour la soustraction</h4>
    <p>L'instruction ci-dessous donne la valeur 3 à la variable x.</p>
<pre><code class="language-python">x = 5 - 2</code></pre>

    <h4>* pour la multiplication</h4>
    <p>L'instruction ci-dessous donne la valeur 35 à la variable x.</p>
        <pre><code class="language-python">x = 5 * 7</code></pre>

    <h4>/ pour la division</h4>
    <p>L'instruction ci-dessous donne la valeur 1.4 à la variable x.</p>
<pre><code class="language-python">x = 7 / 5</code></pre>

    <h4>** pour l'exposant</h4>
    <p>L'instruction ci-dessous donne la valeur 49 à la variable x.</p>
<pre><code class="language-python">x = 7 ** 2</code></pre>

    <h4>// pour le quotient d'une division</h4>

<p>Il est également possible d'effectuer une division euclidienne. Par exemple, on sait que 
    \(7 = 1 \times 5 + 2\).</p>
    <p>L'instruction ci-dessous donne la valeur 1 à la variable x.</p>
    <pre><code class="language-python">x = 7 // 5</code></pre>

        <p>Attention la division décimale de 7 par 5 donne 1.4, mais la division 
        euclidienne de 7 par 5 donne 1 fois 5 plus 2. Ainsi le quotient vaut 1 
        et le reste de division vaut 2, ce qui explique le résultat obtenu.</p>

    <h4>% pour le reste de division</h4>
    <p>L'instruction ci-dessous donne la valeur 2 à la variable x. On utilise encore une 
        fois la division euclidienne. Celle-ci permet de mettre en valeur l'opérateur modulo % 
        pour savoir si un nombre est multiple d'un autre, ou si une séquence de caractères 
        peut être regroupée en blocs de 8 éléments.</p>
        <pre><code class="language-python">x = 7 % 5</code></pre>

        <div class="exerciceApplication">
            <p><strong>A toi de jouer : </strong>donne les valeurs 3, 8 et 9 aux variables <strong>x</strong>, <strong>y</strong>, <strong>z</strong>, 
                puis affiche le résultat des opérations
             \(x + y \times z\) et \((x + y) \times z\). Les parenthèses jouent le même rôle en Python qu'en mathématiques.</p>

            <div>
                <p><button class='bouton' type="submit" onclick="affichageConditionnel(this,'solution3');"> Voir la solution </button></p>
            </div>
        
            <div id="solution3" style="display:none;">
                <pre><code class="language-python">x = 3
        y = 8
        z = 9
        
        print(x + y * z)
        print((x + y) * z)</code></pre>
        </div>
        </div>

<iframe src="https://trinket.io/embed/python/14ddd142a7" width="100%" height="230" frameborder="0" marginwidth="0" marginheight="0" allowfullscreen></iframe>


<p>En mathématiques, on utilise essentiellement des variables de type <strong>int</strong> 
    (nombres entiers naturels) et <strong>float</strong> (nombres réels). Par exemple, 
    pour affecter la valeur 17.2 à la variable <strong>x</strong></p>

<pre><code class="language-python">x = 17.2</code></pre>

<p>On remarque l'utilisation du point à la place de la virgule suivant 
    la norme anglaise.</p>

<p>Pour afficher la valeur de x, il suffit ainsi d'utiliser l'instruction :</p>

<pre><code class="language-python">print(x)</code></pre>

<p>qui affichera <strong>17.2</strong>.</p>
    
    <p>Attention, le signe <strong>==</strong> sert à comparer 2 valeurs et non pas affecter une valeur à une variable.
    Essayez le code ci-dessous pour mieux comprendre :</p>

<pre><code class="language-python">print(x == 17.2)</code></pre>

<p>Ce code affiche True car x a été défini avec la valeur 17.2, donc la comparaison de x et de 17.2 renvoie True.</p>

<div class="exerciceApplication">
    <p><strong>A toi de jouer : </strong>quel est l'affichage du code suivant ? (travail sans ordinateur)</p>
    <pre><code class="language-python">a = -3
b = a + 4
c = a
a = b
print(a)</code></pre>
</div>
        
    <div class="exerciceApplication">
<p><strong>A toi de jouer : </strong>certes on peut additionner et multiplier des nombres, mais en Python on peut également additionner et 
            multiplier du texte. Essaye par exemple le code suivant pour comprendre ce qu'il fait :</p>

<pre><code class="language-python">instrument = "guitare"
orchestre = "Groove"
groupe = instrument + orchestre
print(groupe)
repetition = 3 * instrument
print(repetition)</code></pre>

<p>Dans le cas d'un texte, l'addition s'appelle concaténation et la multiplication s'appelle duplication.</p>
</div>

<iframe src="https://trinket.io/embed/python/14ddd142a7" width="100%" height="230" frameborder="0" marginwidth="0" marginheight="0" allowfullscreen></iframe>

    

    <div class="exerciceApplication">
        <p><strong>A toi de jouer :</strong> stocke ton prénom dans une variable appelée <strong>prenom</strong>, puis affiche 3 fois ton prénom sur une
            même ligne.</p>
        

            <div>
                <p><button class='bouton' type="submit" onclick="affichageConditionnel(this,'solution9');"> Voir la solution </button></p>
            </div>
        
            <div id="solution9" style="display:none;">
                
        
        
            <pre><code class="language-python">prenom = "Jade"
print(3 * prenom)</code></pre>
        
                <p>A noter que dans ce cas, on n'a pas géré l'espace se trouvant entre les prénoms et on obtient l'affichage suivant :</p>
                <pre><code class="language-python">JadeJadeJade</code></pre>
        
        </div>
        </div>

<iframe src="https://trinket.io/embed/python/14ddd142a7" width="100%" height="230" frameborder="0" marginwidth="0" marginheight="0" allowfullscreen></iframe>


<div class="exerciceApplication">
    <p><strong>A toi de jouer : </strong>l'utilisateur d'un site donne son nom qui est enregistré dans une 
    variable appelée <strong>nom</strong>, puis un code non secret de 4 chiffres enregistré dans une variable 
appelée <strong>nombre</strong>. A partir de ces deux variables, créer une variable appelée <strong>pseudo</strong> 
qui sera en permanence affichée en haut du site, composée du nom rattaché au code à 4 chiffres. Affiche ensuite 
la valeur de <strong>pseudo</strong> à l'écran.</p>

</div>

<iframe src="https://trinket.io/embed/python/14ddd142a7" width="100%" height="230" frameborder="0" marginwidth="0" marginheight="0" allowfullscreen></iframe>


<!-- QESTIONNAIRE -->
<h4>As-tu bien compris ?</h4>

{% include '../../../questionnaireUnique.html' with nmr='6' %}

<script>
var questionsData = 
    {
        question: "<p>Quelle est la valeur de la variable c lors de l'exécution du code suivant</p> <pre><code>a = 12<br/>b = a + 7<br/>c = a + b</code></pre>",
        options:["19", "7", "31"],
        correctIndex: 2,
        commentaire: "import math oblige à écrire math à chaque appel de la fonction gcd."
    };
questionnaireUnique(6);
</script>


<!-- MANIPULER LES VARIABLES -->

<p class="invisible" id="manipuler">ancre</p>

<h3>Manipuler les variables</h3>

<h4>Inverser deux variables</h4>

<p>En Python, on peut définir plusieurs variables sur une même ligne, en les séparant par une virgule. Par exemple :</p>
<pre><code class="language-python">nom, prenom = "Gulliver", "Cedric"</code></pre>


<p>On veut maintenant inverser les valeurs de deux variables. En fait, ce n'est pas si simple. Pour s'en rendre 
    compte, il suffit d'imaginer deux fichiers Word appelés monFichier1.docx et monFichier2.docx. Si on veut changer
    le nom de monFichier1.docx en monFichier2.docx, le système d'exploitation de la machine refuse cette modification car 
    on ne peut pas avoir deux fichiers du même nom dans un même dossier.</p>

<p>Si on bouge monFichier2.docx dans un autre dossier, qu'on renomme monFichier1.docx, cela va marcher mais on ne 
    pourra plus faire revenir monFichier2.docx dans son dossier initial puisqu'on aurait dans ce cas deux fichiers 
    du même nom.</p> 
    
<p>Il faut en fait utiliser un nom de fichier temporaire pour monFichier1.docx, par exemple l'appeler temp.docx. 
    On peut ensuite renommer monFichier2.docx en monFichier1.docx et temp.docx en monFichier2.docx.</p>

<p>Pour bien comprendre le principe, il suffit de manipuler les fichiers une fois comme dans l'exemple ci-dessous :</p>

<div class="exerciceApplication">
    <p><strong>A toi de jouer : </strong>créer 3 fichiers vides qu'on pourra appeler f1.py, f2.py, f3.py. 
    Ensuite, rajouter un nouveau fichier vide que vous appelerez f2.py. Ce fichier doit donc prendre la place de f2.py 
qui va maintenant s'appeler f3.py. Quant à f3.py, il va maintenant s'appeler f4.py.</p>

<p>Tous ces fichiers peuvent également contenir des instructions, mais le but est d'apprendre à interchanger les noms 
    des fichiers, pas de modifier ce qu'ils contiennent.</p>
</div>

<p>Le principe est le même pour les noms de variables. On ne peut pas avoir deux noms de variables identiques 
    dans un même programme. Pour inverser les noms des variables, il faudra donc recourir à une variable temporaire 
    qui prendra momentanément la valeur d'une des deux variables.</p>

<div class="exerciceApplication">
    <p><strong>A toi de jouer : </strong>écrire un script qui permet d'inverser les valeurs de deux variables x et y.</p>
    <pre><code class="language-python">x = 3
y = 8
# completer la suite ...</code></pre>

    <div>
        <p><button class='bouton' type="submit" onclick="affichageConditionnel(this,'solution4');"> Voir la solution </button></p>
    </div>

    <div id="solution4" style="display:none;">
        <pre><code class="language-python">x = 3
y = 8
print("x = ", x)
print("y = ", y)

temp = x
x = y
y = temp

print("x = ", x)
print("y = ", y)</code></pre>
        <p>On utilise ici une variable temporaire temp afin de conserver en mémoire la valeur initiale de x, même après avoir changé x.
         A noter qu'en Python, il existe une méthode plus simple :</p>
        <pre><code class="language-python">x, y = y, x

print("x = ", x)
print("y = ", y)</code></pre>
    </div>
</div>

<iframe src="https://trinket.io/embed/python/14ddd142a7" width="100%" height="230" frameborder="0" marginwidth="0" marginheight="0" allowfullscreen></iframe>


<h4>Effectuer des calculs avec des variables</h4>

<p>On peut calculer la valeur d'une variable en utilisant celle d'autres variables. Par exemple si on veut trouver la hauteur
d'un muret composé de pots surmontés d'arbustes, on peut effectuer le calcul suivant</p>

<pre><code class="language-python">hauteur_pots = 0.6
hauteur_arbustes = 1.2
hauteur_muret = hauteur_pots + hauteur_arbustes</code></pre>

<p>L'avantage d'utiliser des variables plutôt que des valeurs directement est le même que celui du 
calcul littéral en mathématiques. Cela rend le calcul plus facile lorsqu'on doit changer
les valeurs initiales.</p>

<div class="exerciceApplication">
    <p><strong>A toi de jouer : </strong>écris un script qui calcule la vitesse moyenne d'un cycliste, connaissant la distance de montée de 16 km,
        la distance de descente de 51 km, le temps de montée de 1,2 heures et le temps de descente de 1,5 heures.<br/> <em>Indication : </em>
        la vitesse moyenne se calcule en faisant la moyenne de la vitesse de montée et de la vitesse de descente. Une vitesse est le quotient 
    d'une distance par un temps, d'où l'unité km/h.</p>

    <div>
        <p><button class='bouton' type="submit" onclick="affichageConditionnel(this,'solution5');"> Voir la solution </button></p>
    </div>

    <div id="solution5" style="display:none;">
        
<p>On peut tout à fait utiliser Python comme une simple calculatrice. Dans ce cas, il suffit d'écrire 
    les lignes suivantes pour notre programme :</p>
<pre><code class="language-python">vitesse_moyenne = (16 / 1.2 + 51 / 1.5) / 2
print(vitesse_moyenne)</code></pre>

<p>Toutefois, il est souvent astucieux de créer plusieurs variables et de détailler 
    nos calculs afin de pouvoir réutiliser des portions de code ou les variables dans 
    d'autres parties du programme. On pourrait donc écrire :</p>

    <pre><code class="language-python">distance_montee = 16 # en km
temps_montee = 1.2 # en heures
distance_descente = 51
temps_descente = 1.5

vitesse_montee = distance_montee / temps_montee
vitesse_descente = distance_descente / temps_descente

vitesse_moyenne = (vitesse_montee + vitesse_descente) / 2
print(vitesse_moyenne)</code></pre>
    </div>
</div>

<p>Il peut parfois être utile de connaître la durée d'exécution d'une instruction. Pour cela, on
utilise la bibliothèque <strong>time</strong>. L'instruction <strong>time()</strong> renvoie le
    temps en secondes depuis le 1er janvier 1970 (big bang de l'informatique). L'instruction <strong>sleep()</strong>
    permet de suspendre l'exécution d'une partie d'un programme pendant un certain nombre de secondes. Le code suivant
permet par exemple de se rendre compte du temps nécessaire à Python pour compter jusqu'à 100 000 :</p>
<pre><code class="language-python">import time

print(time.time())

compteur = 0
for i in range(100000):
    compteur = compteur + 1

print(time.time())</code></pre>

<div class="exerciceApplication">
    <p><strong>A vous de jouer : </strong>écrire un script qui convertit un nombre de secondes en son équivalent en heures, minutes et secondes,
        puis affiche le résultat.</p>
        <pre><code class="language-python">nbre_initial = 324457

minutes_temp = nbre_initial // 60
nbre_secondes = ???
# completer la suite ...</code></pre>

    <div>
        <p><button class='bouton' type="submit" onclick="affichageConditionnel(this,'solution6');"> Voir la solution </button></p>
    </div>

    <div id="solution6" style="display:none;">
        <pre><code class="language-python">nbre_initial = 324457

minutes_temp = nbre_initial // 60
nbre_secondes = nbre_initial % 60

nbre_heures = minutes_temp // 60
nbre_minutes = minutes_temp % 60

print(str(nbre_heures) + " heures, " + str(nbre_minutes) + " minutes, " + str(nbre_secondes) + " secondes")</code></pre>

<p>A noter qu'on ne peut pas additionner des nombres avec du texte. On choisit donc de transformer les nombres en texte en 
    utilisant l'instruction str().</p>
    </div>
</div>


<!-- AFFICHAGE A L'ECRAN -->

<p class="invisible" id="afficher">ancre</p>

<h3>Afficher les variables à l'écran</h3>

<p>Nous allons voir comment afficher les valeurs de plusieurs variables, ou la valeur d'une variable au sein d'un texte.</p>

<pre><code class="language-python">nom = "Parker"
prenom = "Peter"
print(prenom + nom) # affiche PeterParker
print(prenom + " - " + nom) # affiche Peter - Parker
print(prenom + "\t" + nom) # affiche Peter   Parker séparés par une tabulation
print(prenom + "\n" + nom) # affiche Peter Parker l'un en dessous de l'autre
</code></pre>

<p>On remarque donc que l'instruction <strong>print()</strong> saute automatiquement la ligne, une fois
    le travail effectué. Elle correspond en fait au <strong>println()</strong> qu'on retrouve dans d'autres
   langages.</p>


<h4>Affichage respectant un format</h4>

<p>On a vu ensemble qu'on pouvait afficher la valeur d'une variable au milieu d'un texte, en construisant un texte qui 
    contient cette variable. Par exemple le code suivant :</p>

<pre><code class="language-python">prenom = "Antoine"
date_naissance = "17-02-2008
print(prenom + " est né le " + date_naissance)</code></pre>

<p>affichera le résultat suivant :</p>

<pre><code class="language-svg">Antoine est né le 17-02-2008</code></pre>

<p>Il existe une façon plus efficace d'afficher le même résultat en utilisant l'instruction <strong>print(f)</strong> :</p>

<pre><code class="language-python">prenom = "Antoine"
date_naissance = "17-02-2008
print(f"{prenom} est né le {date_naissance}")</code></pre>

<div class="exerciceApplication">
    <p><strong>A vous de jouer : </strong>à partir du code suivant</p>
    <pre><code class="language-python">nombre_invites = 8
nom_restaurant = "Chaîne d'or"</code></pre>
    <p>et en utilisant l'instruction <strong>print(f)</strong>, écrire un code qui affiche "Demain nous serons 8 invités au restaurant
     Chaîne d'or".</p>

<div>
    <p><button class='bouton' type="submit" onclick="affichageConditionnel(this,'solution8');"> Voir la solution </button></p>
</div>

<div id="solution8" style="display:none;">
    <pre><code class="language-python">print(f"Demain nous serons {nombre_invites} invités au restaurant {nom_restaurant}")</code></pre>
</div>
</div>


<!-- QESTIONNAIRE -->
<h4>As-tu bien compris ?</h4>

{% include '../../../questionnaireUnique.html' with nmr='4' %}

<script>
var questionsData = 
    {
        question: "Pour afficher le nom suivi du prénom d'une personne en sautant la ligne entre les deux variables nom et prenom, il faut exécuter ...",
        options:["print(nom + '\\n' + prenom)", "print(nom + '\\t' + prenom)", "print(nom + \\n + prenom)"],
        correctIndex: 0,
        commentaire: "'\n' lu comme une chaîne de caractères permet de sauter une ligne."
    };
questionnaireUnique(4);
</script>


<!-- IMPORTER UNE BIBLIOTHEQUE -->

<p class="invisible" id="biblio">ancre</p>

<h3>Importer une bibliothèque</h3>

<p>Il est parfois très utile de savoir importer une bibliothèque, par exemple 
    lorsqu'on veut introduire un paramètre de fatalité dans certains jeux, lorsqu'on veut utiliser la 
    fonction racine carrée ou sinus en mathématiques, lorsqu'on veut créer un modèle spécifique
    en intelligence artificielle. Une bibliothèque est un ensemble de fonctionnalités et de méthodes qui permettent de fournir certains résultats aux 
    questions que d'autres développeurs se sont déjà posées. Schématiquement, il s'agit d'un ensemble de fonctions qui 
    vous permettent d'éviter de reconstruire ce qui existe déjà.</p>

<p>Les bibliothèques représentent donc un gain de temps précieux pour vous, et il est astucieux de s'en servir à profusion, 
    d'autant plus qu'il existe probablement une bibliothèque répondant aux questions de vous vous posez lorsque vous créez 
    un programme.</p>
    
<p>Vous devez vous demander "pourquoi faut-il les installées si elles sont si importantes ?" Tout simplement pour ne pas 
    encombrer la mémoire occupée par votre programme avec des bibliothèques inutiles. Par exemple, à quoi cela sert-il de pouvoir utiliser  
    la fonction tangente lorsqu'on crée un jeu vidéo ? Dans ce cas la bibliothèque math ne semble pas très utile.</p>

<div class="fieldsetDefinition">
    <h4>A RETENIR ...</h4>
    <p>Le fait d'importer certains modules, uniquement lorsque nous en avons besoin, permet au langage de préserver de la mémoire.</p>
</div>

    <p>Apprenons maintenant à importer une bibliothèque. Les bibliothèques Python sont téléchargées et installées 
        sur votre ordinateur automatiquement par votre environnement de développement, 
        ou manuellement si vous souhaitez les installer vous-même à un emplacement spécifique.</p>

<p>Importer une bibliothèque ne consiste pas à la télécharger sur Internet et à l'installer, mais à la récupérer 
    à partir de son emplacement d'installation afin de la rendre disponible pour votre programme. Pour cela, rien 
de plus simple, il suffit d'utiliser en début de programme l'instruction <strong>import</strong>.</p>

<p>Il existe 4 façons de procéder, toutes valides. Prenons pour exemple la bibliothèque 
    math afin de calculer \(\sqrt{3}\). Dans le premier cas, on importe toute la bibliothèque 
et on doit l'appeler devant la fonction sqrt() à chaque fois qu'on l'utilise.</p>

<pre><code class="language-python">import math

print(math.sqrt(3))</code></pre>

<p>Dans le deuxième cas, on importe la bibliothèque math en lui donnant un pseudo plus rapide 
    à écrire, qu'on doit utiliser devant la fonction sqrt() à chaque fois qu'on l'utilise.</p>

    <pre><code class="language-python">import math as m

print(m.sqrt(3))</code></pre>

<p>Dans le troisième cas, on importe la bibliothèque math sans lui donner de pseudo, mais
    il n'est pas nécessaire de l'appeler devant la fonction sqrt() à chaque fois qu'on l'utilise.
C'est très pratique mais cela peut entraîner des confusions si on utilise deux fonctions portant le 
même nom mais appartenant à des bibliothèques différentes.</p>

    <pre><code class="language-python">from math import *

print(sqrt(3))</code></pre>

<p>Dans le quatrième cas, on importe uniquement la fonction sqrt() de la bibliothèque 
math et on ne peut donc utiliser aucune autre fonction de cette bibliothèque. Il n'est pas non plus 
nécessaire d'utiliser le nom de la bibliothèque devant la fonction sqrt().</p>

<pre><code class="language-python">from math import sqrt

print(sqrt(3))</code></pre>


<p>Python est un langage de programmation permettant des calculs scientifiques poussés et des représentations graphiques élaborées, grâce à l'utilisation de bibliothèques conçues à cet effet.</p>

<p>En mathématiques, nous utiliserons souvent le module <strong>math</strong> pour accéder à certaines fonctions, et le module <strong>Random</strong> pour fournir des résultats aléatoires en probabilité. Nous utiliserons plus rarement le module <strong>numpy</strong> pour accéder à certaines fonctionnalités de calcul.</p>

<p>Nous commencerons donc souvent notre code par :</p>

<pre><code class="language-python">from math import *
from Random import *
from numpy import *</code></pre>


<!-- QESTIONNAIRE -->
<h4>As-tu bien compris ?</h4>

{% include '../../../questionnaireUnique.html' with nmr='5' %}

<script>
var questionsData = 
    {
        question: "si on écrit au début d'un programme 'import math', on doit exécuter le code suivant pour calculer le pgcd de 18 et 24 ...",
        options:["gcd(18, 24)", "m.gcd(18, 24)", "math.gcd(18, 24)"],
        correctIndex: 2,
        commentaire: "import math oblige à écrire math à chaque appel de la fonction gcd."
    };
questionnaireUnique(5);
</script>


<!-- ENTRAINEMENT -->

<h3>Entraînement</h3>

<div class="exerciceApplication">
    <p><strong>Exercice 1 : </strong>quelle valeur sera affichée lors de l'exécution du code suivant ? (travail sans ordinateur)</p>
            <pre><code class="language-python">x = 5
x = x -3
y = x * x
print(x + y)</code></pre>
        
</div>

<p class="separateur"></p>

<div class="exerciceApplication">
    <p><strong>Exercice 2 : </strong>quelle valeur sera affichée lors de l'exécution du code suivant ? (travail sans ordinateur)</p>

    <pre><code class="language-python">a = 5
b = 2 * a 
c = a + b 
print(b ** a)</code></pre>
</div>

<p class="separateur"></p>

<div class="exerciceApplication">
    <p><strong>Exercice 3 : </strong>quelle valeur sera affichée lors de l'exécution du code suivant ? (travail sans ordinateur)</p>

    <pre><code class="language-python">a = 5
a = 6 * a 
b = a + 27 
print(b)</code></pre>
</div>

<p class="separateur"></p>

<div class="exerciceApplication">
    <p><strong>Exercice 4 : </strong>quelle est la valeur de la variable nom lors de l'exécution du code suivant ? (travail sans ordinateur)</p>

    <pre><code class="language-python">nom = "Revard"
prenom = "Antoine"
nom = nom + prenom</code></pre>
</div>

<p class="separateur"></p>

<div class="exerciceApplication">
    <p><strong>Exercice 5 : </strong>quelle est la valeur de la variable x lors de l'exécution du code suivant ? (travail sans ordinateur)</p>

    <pre><code class="language-python">a = 12
b = 5
x = a % b</code></pre>
</div>

<p class="separateur"></p>

<div class="exerciceApplication">
    <p><strong>Exercice 6 : </strong>que vaut la variable a à la fin de ce script ? (travail sans ordinateur)</p>

    <pre><code class="language-python">a = 5
a = 2 * a 
b = 2 * a
a = a * a 
a = a - b + 13</code></pre>
</div>

<p class="separateur"></p>

<div class="exerciceApplication">
    <p><strong>Exercice 7 : </strong>écrire un programme qui affiche le score d'un joueur lorsque les variables 
    score = 152 et pseudo="bestPlayer" sont connues. Dans ce cas, le programme devra utiliser les variables score 
    et pseudo pour afficher 'bestPlayer, vous avez obtenu 152 points.'</p>
</div>

<p class="separateur"></p>

<div class="exerciceApplication">
    <p><strong>Exercice 8 : </strong>corriger le code ci-dessous pour qu'il affiche <em>Tu joues un mi au 2ème octave</em> 
        en utilisant les variables note et octave.</p>
    <pre><code class="language-python">note = "mi"
octave = 2
print("Tu joues un " note " du " octave ème octave")</code></pre>
</div>

<p class="separateur"></p>

<div class="exerciceApplication">
    <p><strong>Exercice 9 : </strong>corriger le code ci-dessous qui demande son nom à un utilisateur et 
        lui dit bonjour en utilisant le nom saisi par l'utilisateur.</p>
    <pre><code class="language-python">input("Quel est ton nom ?)
print("Bonjour + nom")</code></pre>
</div>

<p class="separateur"></p>

<div class="exerciceApplication">
    <p><strong>Exercice 10 : </strong>un élève effectue chaque jour 3 aller-retour pour se rendre dans la cour et 5 aller-retours 
        pour changer de classe. En moyenne chaque changement de classe lui fait parcourir 150 mètres et chaque déplacement 
        vers la cour lui fait parcourir 100 mètres. Ecrire un programme qui calcule la distance parcourue par un élève en 
        une semaine et l'affiche. On tiendra compte des variables suivantes :</p>

    <pre><code class="language-python">deplacementCour = ???
changementClasse = ???</code></pre>
</div>

<p class="separateur"></p>

<div class="exerciceApplication">
    <p><strong>Exercice 11 : </strong>écrire un programme qui contient les variables nom, prenom et nmrTelephone, et doit 
        afficher "Le numéro de téléphone de Diane Autissier est 0612322112" lorsque les variables ci-dessus valent respectivement 
    Autissier, Diane et 0612322112.</p>
</div>

<p class="separateur"></p>

<div class="exerciceApplication">
    <p><strong>Exercice 12 : </strong>une ville comporte 12345 habitants. Sa population augmente chaque année de 3,5%. 
        Cela signifie qu'à la fin de la 1ère année la population initiale est multipliée par 1,035, puis à la fin de 
        la 2ème année la population est encore multipliée par 1,035, etc ... Ecrire un programme qui calcule et affiche l'estimation de la population dans 5 ans.</p>
</div>


<!-- QUIZ -->

<div class="row py-5 gx-md-5 gy-2" style="border:2px solid var(--couleur_titre);border-radius:10px;margin:0%;margin-top:5%;padding-left:2%;">
    <div class="col-12 col-md-6">
        <img class="img_ombre" src="{% static 'home/images/general/index14.jpg' %}">  
    </div>
    <div class="col-12 col-md-6 my-auto" style="text-align:center;">
        <a class="blink_me annonce_quiz" href="{% url 'afficherModeleQuiz' niveau='python' chapitre='debuter' id=1 %}">Essaie le Quiz maintenant !</a>
    </div>
</div>

{% endblock cours %}