{% extends '../../../modelePage.html' %}
{% load static %}

{% block contenu %}
<ul>
    
</ul>
{% endblock contenu %}

{% block cours %}  

<!-- A PLACER EN DEBUT DE FICHIER -->
<!-- script for pyodide python sandbox -->
-<script src="https://cdn.jsdelivr.net/pyodide/v0.24.1/full/pyodide.js"></script>
<!-- import codemirror stylings -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.63.3/codemirror.min.css" />
<!-- install codemirror.js version /5.63.3 from cdn -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.63.3/codemirror.min.js"
integrity="sha512-XMlgZzPyVXf1I/wbGnofk1Hfdx+zAWyZjh6c21yGo/k1zNC4Ve6xcQnTDTCHrjFGsOrVicJsBURLYktVEu/8vQ=="
crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<!-- install codemirror python language support -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.63.3/mode/python/python.min.js"
integrity="sha512-/mavDpedrvPG/0Grj2Ughxte/fsm42ZmZWWpHz1jCbzd5ECv8CB7PomGtw0NAnhHmE/lkDFkRMupjoohbKNA1Q=="
crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<!-- import codemirror dracula theme styles from cdn -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.63.3/theme/dracula.css" />
</head>  


<style>
  /* set codemirror ide height to 100% of the textarea */
  .CodeMirror {
    height: 150px;
    overflow: hidden;
  }
</style>


<!-- Common function to initialize a sandbox -->
<script>
    const sandboxes = {};
  
    function initializeSandbox(sandboxId) {
      const outputElement = document.getElementById(`output${sandboxId}`);
      const codeElement = document.getElementById(`code${sandboxId}`);
  
      const editor = CodeMirror.fromTextArea(codeElement, {
        mode: {
          name: "python",
          version: 3,
          singleLineStringErrors: false,
        },
        theme: "dracula",
        lineNumbers: true,
        indentUnit: 4,
        matchBrackets: true,
      });
  
      editor.setValue("");
      outputElement.value = "Initializing...\n";
  
      const sandbox = {
        pyodide: null,
        editor,
        outputElement,
      };
  
      sandboxes[sandboxId] = sandbox;
  
      async function main() {
        sandbox.pyodide = await loadPyodide({
          indexURL: "https://cdn.jsdelivr.net/pyodide/v0.24.1/full/",
        });
  
        sandbox.outputElement.value = sandbox.pyodide.runPython(`
          import sys
          sys.version
        `);
  
        sandbox.outputElement.value += "\nPython Ready!\n";
      }
  
      main();
    }
  
    function executePython(sandboxId) {
      const sandbox = sandboxes[sandboxId];
  
      try {
        sandbox.pyodide.runPython(`
          import io
          sys.stdout = io.StringIO()
        `);
  
        const result = sandbox.pyodide.runPython(sandbox.editor.getValue());
        const stdout = sandbox.pyodide.runPython("sys.stdout.getvalue()");
        sandbox.outputElement.value += ">>> \n" + stdout + "\n";
      } catch (err) {
        sandbox.outputElement.value += ">>> Error: \n" + err + "\n";
      }
    }
  
    function clearHistory(sandboxId) {
      const sandbox = sandboxes[sandboxId];
      sandbox.outputElement.value = "";
      console.log(sandboxId);
    }
  </script>

{% include '../../../sandbox.html' with nmr='1' %}

  

<script>
    initializeSandbox(1);
</script>

{% include '../../../sandbox.html' with nmr='2' %}

<script>
        initializeSandbox(2);

</script>


{% endblock cours %}
