{% extends '../../../modelePage.html' %}
{% load static %}

{% block tampon %}
<p class="tampon">COURS ...</p>
{% endblock tampon %}

{% block cours %}

<!-- EXECUTER PYTHON -->
<h3>Comment exécuter Python dans ce tutoriel</h3>

<p>Pour coder en Python, il est généralement nécessaire d'installer Python 3 sur sa machine 
et d'en connaître le chemin d'accès. Ceci peut être difficile lorsqu'on commence la programmation. 
C'est pourquoi, dans la première partie de ce tutoriel <i>Bien débuter en Python</i>, on te propose 
d'exécuter les codes en ligne directement sur le site et sans aucune installation préalable.</p>

<p>Lorsque tu seras plus à l'aise ne programmation, tu pourras alors installer toi-même Python 
    ainsi qu'un environnement de développement (partie <i>Progresser en Python</i>).</p>

<div class="exerciceApplication">
<p><strong>A toi de jouer : </strong>ainsi pour exécuter un code, il suffit d'ouvrir une console en appuyant sur le lien 
    <i>Exécuter Python à la console</i>, d'écrire ou de copier/coller son code puis d'appuyer 
    sur le bouton <i>Exécuter Python</i>, comme dans l'exemple ci-dessous.</p>

<pre><code class="language-python">print("Bonjour à tous les codeurs Python")</code></pre>
<a href="{% url 'afficherSandbox' %}" class="bi bi-slack" target="_blank"> Exécuter Python à la console</a>

<p class="mt-3">A noter que la console Python est disponible pour exécution lorsque le message <i>Initializing...</i> devient >>></p>
</div>


<!-- PYTHON AVEC UN JEU DE DEVINETTE -->
<h3>Modifier un jeu de devinette</h3>

<p>Voici le code d'un programme Python qui tire un nombre au hasard et demande au joueur de le deviner 
    en 5 tentatives. Comme le programme interagit avec l'utilisateur qui saisit des réponses au clavier, 
nous utiliserons l'interface <i>Trinket</i> ci-dessous. Pour exécuter le code, il suffit d'appuyer sur 
<i>Run</i>.</p>

<div class="exerciceApplication">
    <p><strong>A toi de jouer :</strong> exécute ce code pour comprendre le déroulement du jeu. Puis essaie de 
    répondre aux questions suivantes :</p>
    <ul>
        <li><p>Pour mieux comprendre ce que fait le programme, lit les lignes de codes une à une en essayant 
            de deviner ce qu'elles font.</p></li>
        <li><p>Si on veut maintenant que le jeu se joue en 10 tentatives, que faut-il changer dans le code ? 
            Exécute de nouveau le code après l'avoir modifié.</p></li>
        <li><p>Si on veut ensuite que le nombre à deviner soit compris entre 1 et 100, que doit-on changer 
            dans le code ?. Exécute de nouveau le code après l'avoir modifié.</p></li>
        <li><p>Si on veut finalement truquer le jeu pour que le joueur ne trouve jamais la solution. 
            Comment pourrait-on changer le code ? Exécute de nouveau le code après l'avoir modifié.</p></li>
    </ul>

<iframe src="https://trinket.io/embed/python3/d8582fda76" width="100%" height="356" frameborder="0" marginwidth="0" marginheight="0" allowfullscreen></iframe>

<p>Pour rappel, tu trouveras ci-dessous le code original :</p>
<pre><code class="language-python">from random import randint

nbre_essais_max = 5
tentative = 1
min = 0
max = 50
choisi = randint(min, max)   
proposition = -1                      

print("Devine en " + str(nbre_essais_max) + " le nombre que j'ai choisi, entre " + str(min) + " et " + str(max))

while proposition != choisi and tentative <= nbre_essais_max:
    proposition = int(input("Ta proposition : "))
    if proposition < choisi:
        print("Trop petit")
    elif proposition > choisi:
        print("Trop grand")
    else:
        print("Bravo ! Tu as trouvé " + str(choisi) + " en " + str(tentative) + " essai(s)")
    tentative += 1
        
if tentative > nbre_essais_max and proposition != choisi :
    print("Perdu. J'avais choisi le nombre : " + str(choisi))</code></pre>

</div>



<!-- PYTHON AVEC UNE COURSE D'ESCARGOTS 

<p class="my-5 invisible" id="escargots">ancre</p>

<h3>Découvrir Python avec une course d'escargots</h3>

<p>Voici le code d'un programme Python qui fait courir trois escargots jusqu'à une ligne d'arrivée et affiche 
    vainqueur lorsque le premier escargot a terminé.</p>

<pre><code class="language-python">from tkinter import *
from time import sleep
from random import randint

def demarrer():
    global x1, x2, x3
    y = 1000
    while x1 < 1040 and x2 < 1040 and x3 < 1040:
        nbre_hasard = randint(1,3)
        if nbre_hasard == 1:
            x1 += 10
            can.coords(esca1, x1, y1)
            y = y1
        elif nbre_hasard == 2:
            x2 += 10
            can.coords(esca2, x2, y2)
            y = y2
        else:
            x3 += 10
            can.coords(esca3, x3, y3)
            y = y3
        sleep(0.05)  
        can.update()
    can.coords(vainqueur, 500, y)


def reinit():
    global x1, x2, x3, y1, y2, y3
    can.coords(esca1, x1, y1)
    can.coords(esca2, x2, y2)
    can.coords(esca3, x3, y3)
    can.coords(vainqueur, 200, 800)

x1, y1  = 130, 75
x2, y2  = 130, 225
x3, y3  = 130, 375

fen = Tk()
fen.title("Course d'escargots")
can = Canvas(fen, width=1100, height=500, bg ='white')
can.pack(side=TOP, padx=5, pady=5)
b2 = Button(fen, text ='Départ de la course', width=15, command=demarrer)
b2.pack(side=RIGHT)

can.create_line(1080, 0, 1080, 500, width=5, fill="red")
can.create_line(250, 0, 250, 500, width=5, fill="green")
can.create_line(0, 150, 1100, 150, width=5, fill="black")
can.create_line(0, 300, 1100, 300, width=5, fill="black")
can.create_line(0, 450, 1100, 450, width=5, fill="black")

photo1 = PhotoImage(file ='~/Documents/ecg1.png')
esca1 = can.create_image(x1, y1, image=photo1)
photo2 = PhotoImage(file ='~/Documents/ecg2.png')
esca2 = can.create_image(x2, y2, image=photo2)
photo3 = PhotoImage(file ='~/Documents/ecg3.png')
esca3 = can.create_image(x3, y3, image=photo3)
photo4 = PhotoImage(file ='~/Documents/vainqueur.png')
vainqueur = can.create_image(200, 800, image=photo4) 

fen.mainloop()
fen.destroy()</code></pre>

<div class="exerciceApplication">
    <p><strong>A toi de jouer :</strong> crée un fichier vierge à l'aide de Visual Studio Code. Copie-colle le programme 
        ci-dessus dans ce nouveau fichier, donne un nom à ton fichier comme par exemple escargots.py. Télécharge ensuite les 
        images ecg1.png, ecg2.png, ecg3.png et vainqueur.png, puis place ces images dans le même dossier que 
        ton fichier escargot.py. Exécute ensuite le code pour jouer.</p>
    <p>Il est possible que ton programme rencontre des difficultés pour trouver l'adresse des images. Tu peux 
        dans ce cas placer ton fichier escargots.py ainsi que les images dans le dossier Documents et modifier 
        les adresses du type 'ecg1.png' en adresses du type '~/Documents/ecg1.png'  </p>
    <ul>
        <li>Cherche sur Internet l'utilité des bibliothèques random, time et tkinter qui sont importées au début du programme</li>
        <li>Les escargots se déplacent trop vite. Comment pourrait-on changer le code pour ralentir la progression 
            des escargots et que cela ressemble plus à une course d'escargots.</li>
        <li>Que représentent les nombres dans la ligne de code can.create_line(1080, 0, 1080, 500, width=5, fill="red") ?</li>
        <li>Comment pourrait-on modifier le code en truquant le jeu pour que le 3ème escargot gagne systématiquement la course ?</li>
    </ul>
    
<a href="{% static 'home/images/ecg1.png' %}" download><button class="bouton2 bi bi-download"> ecg1.png</button></a>
<a href="{% static 'home/images/ecg2.png' %}" download><button class="bouton2 bi bi-download"> ecg2.png</button></a>
<a href="{% static 'home/images/ecg3.png' %}" download><button class="bouton2 bi bi-download"> ecg3.png</button></a>
<a href="{% static 'home/images/vainqueur.png' %}" download><button class="bouton2 bi bi-download"> vainqueur.png</button></a>
</div>-->


<!-- QUIZ -->

<div class="row py-5 gx-md-5 gy-2" style="border:2px solid var(--couleur_titre);border-radius:10px;margin:0%;margin-top:5%;padding-left:2%;">
    <div class="col-12 col-md-6">
        <img class="img_ombre" src="{% static 'home/images/general/index14.jpg' %}">  
    </div>
    <div class="col-12 col-md-6 my-auto" style="text-align:center;">
        <a class="blink_me annonce_quiz" href="{% url 'afficherModeleQuiz' niveau='python' chapitre='debuter' id=0 %}">Essaie le Quiz maintenant !</a>
    </div>
</div>

{% endblock cours %}
