{% extends '../../../modelePage.html' %}
{% load static %}

{% block contenu %}
<ul>
    <li><a href="#definir">définir une fonction</a></li>
    <li><a href="#appeler">appeler une fonction</a></li>
    <li><a href="#difference">comprendre la différence entre return et print</a></li>
</ul>
{% endblock contenu %}

{% block cours %}  

<p>Il est souvent nécessaire de créer des blocs de codes qu'on appelle lorsqu'on en a besoin. 
    Cela évite les répétitions inutiles de code. Ces blocs réutilisables sont en fait des fonctions, 
    qui effectuent le même travail à partir de données de départ (les paramètres) pour fournir des données 
    à l'arrivée (le résultat renvoyé).</p>

<p>Pour utiliser une fonction, il faut tout d'abord la définir (pour que le programme la connaisse), puis il faut 
    l'appeler (pour que le programme sache dans quel cas particulier l'exécuter).</p>



<!-- DEFINIR UNE FONCTION -->
<p class="my-5 invisible" id="definir">ancre</p>

<h3>Définir une fonction</h3>

<p>Pour définir une fonction, rien de plus simple, il faut :
<ul>
    <li>utiliser le mot-clé <strong>def</strong>,</li>
    <li>choisir les paramètres de la fonction, qui vont faire varier le résultat,</li>
    <li>penser à indenter les instructions afin de créer un bloc, qui définit pour Python le début et la fin de la fonction</li>
    <li>si une valeur est renvoyée à la fin, ne pas oublier le mot clé <strong>return</strong>.</li>
</ul></p>

<p>Par exemple la fonction <strong>saluer()</strong> qui dit bonjour à la personne dont le nom est entré en paramètre se définit de la façon suivante en Python :</p>
<pre><code class="language-python">def saluer(nom):
    return "bonjour " + nom</code></pre>

<p>Voici un autre exemple :</p>

<pre><code class="language-python">def perdreUnPoint(nbrePoints):
    nbrePoints = nbrePoints - 1
    print("Vous venez de perdre un point")
    return nbrePoints</code></pre>

<p>Ou dans le cas des mathématiques (il faut alors importer la bibliothèque math pour travailler) :</p>

<pre><code class="language-python">from math import *

def f(x):
    return sqrt(x)</code></pre>

<p>Notons qu'il est tout à fait possible de définir une fonction sans argument, ou une fonction qui ne renvoie pas 
    de valeur mais se contente d'exécuter une tâche. Dans ce cas, il faut quand même utiliser les () pour que Python 
    ne confonde pas le nom de la fonction avec le nom d'une variable. En voici un exemple </p>

<pre><code class="language-python">def annoncer():
    print("Cet été la météo sera clémente")
    print("Pensez à acheter de la crème solaire")</code></pre>

<p>On parle dans ce cas de procédure...</p>

<div class="exerciceApplication">
    <p><strong>A toi de jouer : </strong>écrire une fonction mathématique \(f\) définie par
    \(f(x)=2x+1\).</p>
    <div>
        <p><button class='bouton' type="submit" onclick="affichageConditionnel(this,'solution3');"> Voir la solution </button></p>
    </div>

    <div id="solution3" style="display:none;">
        <p>Solution : </p>
    <pre><code class="language-python">def f(x):
    return 2 * x + 1</code></pre>
    </div>
</div>


<!-- QESTIONNAIRE -->
<h4>As-tu bien compris ?</h4>

{% include '../../../questionnaireUnique.html' with nmr='1' %}

<script>
var questionsData = 
    {
        question: "Pour définir une fonction, il faut utiliser le mot-clé ...",
        options:["function", "f", "def"],
        correctIndex: 2,
        commentaire: ""
    };
questionnaireUnique(1);
</script>


<!-- APPELER UNE FONCTION -->
<p class="my-5 invisible" id="appeler">ancre</p>

<h3>Appeler une fonction</h3>

<p>Quand on appelle une fonction, on exécute en fait le code qu'elle contient.</p>
<p>Une fois que la fonction <strong>saluer()</strong> a été définie, pour l'exécuter avec le nom "Edouard", il suffit d'écrire</p>

<pre><code class="language-python">saluer("Edouard")</code></pre>

<p>Attention, dans ce cas l'interpréteur exécute bien <strong>saluer("Edouard")</strong> mais n'affiche rien. Si on veut que <em>bonjour Edouard</em> s'affiche à l'écran, on doit écrire</p>

<pre><code class="language-python">print(saluer("Edouard"))</code></pre>

<p>et si on veut que <em>bonjour Edouard</em> soit enregistré comme valeur d'une variable <strong>accueil</strong>, on doit écrire</p>

<pre><code class="language-python">accueil = saluer("Edouard")</code></pre>

<div class="exerciceApplication">
    <p><strong>A toi de jouer : </strong>on reprend la fonction \(f(x)=2x+1\). Ecrire un
    code qui affiche la valeur de \(f(45)\) calculée par le programme.</p>
    <div>
        <p><button class='bouton' type="submit" onclick="affichageConditionnel(this,'solution4');"> Voir la solution </button></p>
    </div>

    <div id="solution4" style="display:none;">
        <p>Solution : </p>
    <pre><code class="language-python">def f(x):
    return 2 * x + 1

print(f(45))</code></pre>
        <p>Dans le code ci-dessus, l'instruction <strong>f(45)</strong> calcule la valeur
        de \(f(45)\) mais ne le stocke dans aucune variable et ne l'affiche pas. On doit rajouter
        <strong>print</strong> pour que la valeur obtenue s'affiche.</p>
    </div>
</div>

<p>Une fonction peut prendre en arguments plusieurs paramètres. C'est même particulièrement utile dans certains cas.</p>

<div class="exerciceApplication">
    <p><strong>A toi de jouer : </strong>écrire une fonction appelée <strong>multiplication()</strong>, qui prend comme arguments x et y et renvoie le produit de x par y. Testez ensuite le résultat obtenu en affichant le résultat de \(41 \times 12,4\).</p>
    <div>
        <p><button class='bouton' type="submit" onclick="affichageConditionnel(this,'solution8');"> Voir la solution </button></p>
    </div>

    <div id="solution8" style="display:none;">
        <p>Solution : </p>
    <pre><code class="language-python">def multiplication(x, y):
    return x * y

print(multiplication(41, 12.4))</code></pre>
        <p>Attention, si dans le code ci-dessus on remplace 41 par "41" et 12.4 par "12.4", l'interpréteur va devoir multiplier du texte par un nombre à virgule et ne va pas comprendre ce qui est demandé.</p>
    </div>
</div>


<p>On va maintenant créer puis utiliser une fonction plus complexe, qui utilise une condition.</p>

<div class="exerciceApplication">
    <p><strong>A toi de jouer : </strong>créer une fonction qui prend un mot de passe en paramètre. Si ce mot de passe est <em>spiderman</em>, alors renvoyer <em>accès autorisé</em>, sinon renvoyer <em>accès refusé</em>.
     Puis exécuter cette fonction avec le mot de passe <em>batman</em>.</p>

<pre><code class="language-python">def gestionAcces(passe):
reponse = ""
if ???
# completer le code ...
else:
# completer le code ...

print(gestionAcces("batman"))</code></pre>
    <div>

        <p><button class='bouton' type="submit" onclick="affichageConditionnel(this,'solution2');"> Voir la solution </button></p>
    </div>

    <div id="solution2" style="display:none;">
<pre><code class="language-python">def gestionAcces(passe):
    reponse = ""
    if passe == "spiderman":
        reponse = "accès autorisé"
    else:
        reponse = "accès refusé"
    return reponse

print(gestionAcces("batman"))</code></pre>
</div>
</div>

<p>On continue notre travail sur les mots de passe :</p>

<div class="exerciceApplication">
    <p><strong>A toi de jouer : </strong>créer une fonction qui prend un mot de passe en paramètre. Si ce mot de passe commence par une Majuscule, alors renvoyer <em>mot de passe conforme</em>, sinon renvoyer <em>mot de passe non conforme</em>.</p>
    <div>
        <p><button class='bouton' type="submit" onclick="affichageConditionnel(this,'solution1');"> Voir la solution </button></p>
    </div>

    <div id="solution1" style="display:none;">
        <p>Solution :</p>
        <pre><code class="language-python">def verification(passe):
    if passe.capitalize() == passe:
        return "mot de passe conforme"
    else:
        return "mot de passe non conforme"</code></pre>
    </div>

</div>


<p>On va ensuite créer une fonction qui va créer un mot de passe renforcé à l'aide de 2 données fournies par l'utilisateur.</p>

<div class="exerciceApplication">

<p><strong>A toi de jouer : </strong>écrire une fonction <strong>renforcer_motpasse()</strong>, qui prend en argument un nom, une date de naissance au format AAAMMJJ, et qui renvoie le nom avec la première lettre en majuscule, auquel on rajoute la date de naissance saisie.</p>

<div>
        <p><button class='bouton' type="submit" onclick="affichageConditionnel(this,'solution6');"> Voir la solution </button></p>
    </div>

    <div id="solution6" style="display:none;">
        <p>Solution :</p>
    <pre><code class="language-python">def renforcer_motpasse(nom, dateNaissance):

    return nom.capitalize() + dateNaissance</code></pre>

    </div>

<p>Ecrire ensuite le code qui demande à l'utilisateur de saisir son nom puis sa date de naissance, et affiche le résultat fourni par la fonction <strong>renforcer_motpasse()</strong> avec les valeurs données par l'utilisateur.</p>

<div>
        <p><button class='bouton' type="submit" onclick="affichageConditionnel(this,'solution7');"> Voir la solution </button></p>
    </div>

    <div id="solution7" style="display:none;">
        <p>Solution :</p>
    <pre><code class="language-python">pseudo = input("quel est votre nom ? ")
date = input("quelle est votre date de naissance ? ")

print(renforcer_motpasse(pseudo, date))</code></pre>

 <p>On remarque que dans ce cas le paramètre <strong>nom</strong> dans la fonction <strong>renforcer_motpasse()</strong> prend la valeur de la variable <strong>pseudo</strong>, et le paramètre <strong>dateNaissance</strong> prend la valeur de la variable <strong>date</strong>.</p>
    </div>

</div>


<!-- QESTIONNAIRE -->
<h4>As-tu bien compris ?</h4>

{% include '../../../questionnaireUnique.html' with nmr='2' %}

<script>
var questionsData = 
    {
        question: "Pour appeler la fonction construire, qui prend en paramètre la superficie, il faut écrire ...",
        options:["(construire, superficie)", "construire(superficie)", "construire.superficie"],
        correctIndex: 1,
        commentaire: ""
    };
questionnaireUnique(2);
</script>


<!-- DIFFERENCE ENTRE RETURN ET PRINT -->
<p class="my-5 invisible" id="difference">ancre</p>

<h3>Différence entre return et print</h3>

<p>Quelle différence existe-t-il entre une fonction qui se termine par <strong>return</strong> et une fonction qui se termine par <strong>print</strong> ?</p>

<ul>
    <li>une fonction qui se termine par <strong>return</strong> renvoie une valeur qu'on pourra stocker ou afficher en appelant la fonction. Cela nous offre donc plusieurs possibilités.</li>
    <li>une fonction qui se termine par <strong>print</strong> ne pourra qu'afficher le résultat au moment de l'appel de la fonction.</li>
</ul>

<p>Reprenons pour bien comprendre l'exemple de notre fonction \(f(x)=2x+1\), en détaillant les deux cas possibles.</p>

<p>En utilisant <strong>return</strong> dans la fonction, on obtient :</p>

<pre><code class="language-python">def f(x):
    return 2 * x + 1

# on peut stocker la valeur de f(3) dans la variable resultat pour la réutiliser
resultat = f(3) 

# on peut afficher la valeur de f(3) en utilisant print à l'extérieur de la fonction
print(f(3))  # affiche 7</code></pre>

<p>En utilisant <strong>print</strong> dans la fonction, on obtient :</p>

<pre><code class="language-python">def f(x):
    print(2 * x + 1)

# on peut afficher la valeur de f(3) directement
f(3)  # affiche 7</code></pre>


<!-- QESTIONNAIRE -->
<h4>As-tu bien compris ?</h4>

{% include '../../../questionnaireUnique.html' with nmr='3' %}

<script>
var questionsData = 
    {
        question: "Le mot-clé return permet de ...",
        options:["renvoyer une valeur en terminant l'exécution d'une fonction", "renvoyer une valeur en continuant l'exécution d'une fonction", "retourner au début de la fonction"],
        correctIndex: 0,
        commentaire: ""
    };
questionnaireUnique(3);
</script>


<!-- ENTRAINEMENT -->

<h3>Entraînement</h3>

<div class="exerciceApplication">
    <p><strong>Exercice 1 : </strong>quel est le résultat affiché lors de l'exécution du code ci-dessous ? (travail sans ordinateur)</p>
    <pre><code class="language-python">def somme(x, y):
    return x + y 

def multiplication(x, y):
    return x * y 

def f(x, y):
    a = somme(x, y)
    return multiplication(a, y)

print(f(3, 7))</code></pre>
</div>

<p class="separateur"></p>

<div class="exerciceApplication">
    <p><strong>Exercice 2 : </strong>écrire une fonction prixTTC(prixHT) qui prend un prix Hors taxe en paramètre 
        et renvoie sa valeur TTC en tenant compte d'un taux de TVA de 20,6 %.</p>
</div>

<p class="separateur"></p>

<div class="exerciceApplication">
    <p><strong>Exercice 3 : </strong>écrire une fonction qui modélise le jeu du lièvre et de la tortue, dont on rappelle 
        les règles. Un lièvre et une tortue sont alignés au départ d'une course. On lance un dé non truqué à 6 faces 
        (penser à utiliser la bibliothèque random). Si le chiffre 6 ressort, le lièvre a gagné la partie et les deux 
        adversaires reviennent au départ. Si un chiffre différent de 6 ressort, la tortue avance d'une case. 
        Lorsque la tortue a avancé de 6 cases elle a gagné la partie. Le programme devra afficher le vainqueur.</p>

        <p>Dans un second temps, répéter 10 000 fois ce jeu et comptabiliser le nombre de victoires du lièvre et le 
            nombre de victoires de la tortue afin d'en afficher les résultats.</p>
</div>

<p class="separateur"></p>

<div class="exerciceApplication">
    <p><strong>Exercice 4 : </strong>écrire une fonction factorielle(n) qui prend en argument un nombre entier 
        n et calcule sa factorielle puis renvoie la valeur obtenue.</p>

    <p>Pour simplifier le travail, on ne tiendra pas compte du cas où l'utilisateur saisit au clavier 
        autre chose qu'un nombre réel. On rappelle que la factorielle de 5 est donnée par \(5\times4\times3\times2\times1\)</p>
</div>

<p class="separateur"></p>

<div class="exerciceApplication">
    <p><strong>Exercice 5 : </strong>écrire une fonction premier(texte) qui prend en argument un texte et renvoie 
        le premier mot de ce texte.</p>
</div>

<p class="separateur"></p>

<div class="exerciceApplication">
    <p><strong>Exercice 6 : </strong>écrire une fonction extension(fichier) qui prend en argument un nom de fichier
        (avec une extension comme par exemple tableau.docx) et renvoie l'extension de ce fichier.</p>
</div>

<p class="separateur"></p>

<div class="exerciceApplication">
    <p><strong>Exercice 7 : </strong>écrire une fonction nbreMots(texte) qui prend en argument un texte
        et renvoie le nombre de mots de ce texte.</p>
</div>

<p class="separateur"></p>

<div class="exerciceApplication">
    <p><strong>Exercice 8 : </strong>écrire une fonction indice() qui ne prend aucun argument (il s'agit donc 
    d'une procédure en fait). Cette fonction demande à l'utilisateur sa masse en kilos et sa taille en mètres, puis 
affiche son indice de masse corporelle donné par \(IMC = masse / taille^2\). Pour simplifier le travail, on ne tiendra 
pas compte du cas où l'utilisateur saisit au clavier autre chose que des nombres entiers.</p>
</div>

<p class="separateur"></p>

<div class="exerciceApplication">
    <p><strong>Exercice 9 : </strong>écrire une fonction trouver_bombe(x, y) qui prend comme paramètres les coordonnées 
    d'un point sur un échiquier et renvoie la distance qui sépare ce point à une bombe cachée aux coordonnées (7, 3).
Dans le cas où le point pris en paramètre correspond aux coordonnées de la bombe, la fonction renvoie -1.</p>

<p>Les abscisses et ordonnées des points de l'échiquier sont comprises entre les valeurs 1 et 8.</p>

<p>On rappelle que la distance euclidienne d'un point de coordonnes (x, y) à un point B de coordonnes (xb, yb) 
    est donnée par \\(\sqrt{(x-xb)^2+(y-yb)^2}\\)</p>

<p>Finalement, le code doit proposer au hasard les coordonnées de la bombe, puis le joueur dispose de 5 essais pour 
    trouver cette bombe. A chaque essai, il saisit au clavier des coordonnées et la fonction trouver_bombe(x, y) 
lui fournit la distance qui le sépare de cette bombe pour lui donner une chance de trouver. S'il gagne le programme 
affiche "Vous avez trouvé la bombe", sinon il affiche "boom".</p>

<p>Pour simplifier le travail, on ne tiendra pas compte du cas où le joueur saisit au clavier une lettre au lieu d'une valeur, 
    ce qui crée une erreur et stoppe le programme prématurément.</p>
</div>

<p class="separateur"></p>

<div class="exerciceApplication">
    <p><strong>Exercice 10 : </strong>écrire une fonction validerSequence(), qui ne prend aucun argument, demande à l'utilisateur
        de saisir une séquence de génôme, et affiche "Valide" si la séquence est valide, "Invalide" sinon.</p>

    <p>Une séquence de génôme est valide si elle ne comporte pas d'espace et si elle est composée exclusivement des 
        lettres A, T, G ou C.</p>

    <p>Ecrire une fonction testerSequence(genome), qui prend en argument une séquence de génôme, teste le nombre 
        d'apparitions du groupe ATC dans cette séquence et renvoie ce nombre d'apparitions ou la valeur -1.</p>

    <p>Ecrire une fonction proportionTC(genome), qui prend en argument une séquence de génômes, compte le nombre 
        d'apparitions du groupe TC dans cette séquence et renvoie la proportion de TC dans le génôme. Pour cela, 
        il faudra multiplier le nombre d'apparitions du groupe TC par 2 (car T et C comptent pour 2 éléments), puis 
        le diviser par la taille du génôme.</p>
</div>

<p class="separateur"></p>

<div class="exerciceApplication">
    <p><strong>Exercice 11 :</strong> on désire écrire un code qui
        demande à l'utilisateur de saisir un texte et qui le réécrit en omettant les espaces.
        Il ajoute ensuite à la fin un - suivi du nombre d'espaces retirés. L'utilisation de la fonction <strong>strip()</strong> n'est
         pas suffisant, vu qu'elle n'enlève que les espaces au début et à la fin de la chaîne
        de caractères. Voici un exemple de ce que donne ce code : Si le texte entré est
        "Les sanglots longs des violons de l'automne", il affiche "Lessanglotslongsdesviolonsdel'automne-6".</p>

    <div>
        <p><button class='bouton' type="submit" onclick="affichageConditionnel(this,'solution9');"> Voir la solution </button></p>
    </div>

    <div id="solution9" style="display:none;">

<pre><code class="language-python">texte = input("veuillez saisir un texte : ")
nouveau_texte = ""
compteur_espaces = 0
i = 0

while i &lt len(texte):

    if texte[i] != " ":
        nouveau_texte = nouveau_texte + texte[i]
    else:
        compteur_espaces = compteur_espaces + 1
    i = i + 1

print(nouveau_texte + "-" + str(compteur_espaces))</code></pre>

    </div>
</div>

<p class="separateur"></p>

<div class="exerciceApplication">
    <p><strong>Exercice 12 : </strong>écrire une fonction normer(chaine), qui prend en paramètre une chaîne de 
    caractères et renvoie cette chaîne modifiée de la façon suivante : tous les espaces sont remplacés par des "_", 
tous les caractères sont minuscules à l'exception de ceux qui suivent un "_" qui deviennent alors majuscules.</p>

<p>Par exemple : </p>

<pre><code class="language-python">chaine = "Les prénoms italiens"

print(normer(chaine)) # renvoie les_Prénoms_Italiens</code></pre>
</div>

<p class="separateur"></p>

<div class="exerciceApplication">
    <p><strong>Exercice 13 : </strong>écrire une fonction lien(url, titre) qui prend en argument une adresse url 
    et le titre correspondant à cette adresse, puis renvoie le lien hypertexte correspondant.</p>

    <p>On rappelle qu'un lien hypertexte est construit de la façon suivante :<br/>
    &lta href="adresse"&gttitre&lt/a&gt</p>
</div>

<p class="separateur"></p>

<div class="exerciceApplication">
    <p><strong>Exercice 14 : </strong>écrire une fonction grandMot(texte) qui prend en argument un texte
        et renvoie le mot le plus long de ce texte.</p>
</div>

<p class="separateur"></p>

<div class="exerciceApplication">
    <p><strong>Exercice 15 : </strong>une cuve peut contenir 1000 litres d'eau. En moyenne, la cuve se remplit de 
1,5 litres par minute. Ecrire une fonction remplir() qui ne prend aucun argument, mais calcule puis affiche le temps 
en minutes qu'il faut pour remplir la cuve.</p>
</div>

<p class="separateur"></p>

<div class="exerciceApplication">
    <p><strong>Exercice 16 : </strong>un magasin propose une promotion sur les smartphones. Si le téléphone coûte moins de 
    350 € la promotion est de 10% (cela signifie que le prix du téléphone est multiplié par 0,9), si le téléphone coûte 
    350 € ou plus, la promotion est de 15%. Ecrire une fonction promotion(prixInitial) qui prend comme argument le prix 
initial du téléphone et renvoie le prix en tenant compte de la promotion.</p>
<p>Ecrire ensuite une fonction envoyer(prixInitial) qui prend en argument le prix initial du téléphone, utilise la fonction 
    promotion() pour calculer le prix remisé, puis rajoute 10 € de frais de port avant d'afficher le montant total de la 
    facture pour le client.</p>
</div>


<!-- QUIZ -->

<div class="row py-5 gx-md-5 gy-2" style="border:2px solid var(--couleur_titre);border-radius:10px;margin:0%;margin-top:5%;padding-left:2%;">
    <div class="col-12 col-md-6">
        <img class="img_ombre" src="{% static 'home/images/general/index14.jpg' %}">  
    </div>
    <div class="col-12 col-md-6 my-auto" style="text-align:center;">
        <a class="blink_me annonce_quiz" href="{% url 'afficherModeleQuiz' niveau='python' chapitre='debuter' id=5 %}">Essaie le Quiz maintenant !</a>
    </div>
</div>

{% endblock cours %}