{% extends '../../../modelePage.html' %}
{% load static %}

{% block tampon %}
<p class="tampon">COURS ...</p>
{% endblock tampon %}

{% block cours %}


<!-- EXTRAIRE UNE CHAINE -->

<p class="invisible" id="extraire">ancre</p>

<h3>Extraire une sous-chaîne à partir d'une chaîne</h3>

<p>Il est parfois utile d'extraire une chaîne de caractères à partir d'une chaîne de caractères. L'instruction
    <strong>maChaine[3:6]</strong> extrait les caractères de <strong>maChaine</strong> dont les
    indices sont compris entre 3 et 5 inclus. <em>Attention</em>, de la même façon que pour la boucle
    <strong>for</strong>, ou pour les listes (que nous verrons plus tard), l'indice du dernier
    terme n'est pas pris en compte.</p>

<div class="exerciceApplication">
    <p><strong>A toi de jouer : </strong> exécute le code suivant pour bien comprendre ce qui
        est extrait de <strong>maChaine</strong></p>

    <pre><code class="language-python">maChaine = "la neige fond en été"
print(maChaine)
print(maChaine[3:6])  # affiche de l'indice 3 à l'indice 5, "nei"
print(maChaine[3:])  # affiche de l'indice 3 à la fin, "neige fond en été"
print(maChaine[:4])  # affiche du début à l'indice 3, "la n"
print(maChaine[-1])  # affiche "é"
print(maChaine[-5])  # affiche "n"</code></pre>

<a href="{% url 'afficherSandbox' %}" class="bi bi-slack" target="_blank"> Exécuter Python à la console</a>
</div>

<p class="mt-3">On est maintenant capable d'extraire une partie d'une chaîne, de la concaténer avec une autre partie
    de cette chaîne. On devrait donc pouvoir inverser les lettres d'un mot à l'aide d'un programme.</p>


<!-- ENTRAINEMENT -->
<h3>Entraînement</h3>



<!-- QUIZ -->

<div class="row py-5 gx-md-5 gy-2" style="border:2px solid var(--couleur_titre);border-radius:10px;margin:0%;margin-top:5%;padding-left:2%;">
    <div class="col-12 col-md-6">
        <img class="img_ombre" src="{% static 'home/images/general/index14.jpg' %}">  
    </div>
    <div class="col-12 col-md-6 my-auto" style="text-align:center;">
        <a class="blink_me annonce_quiz" href="{% url 'afficherModeleQuiz' niveau='python' chapitre='debuter' id=2 %}">Essaie le Quiz maintenant !</a>
    </div>
</div>

{% endblock cours %}