{% extends '../../../modelePage.html' %}
{% load static %}

{% block contenu %}
<ul>
    <li>utilisation de variables</li>
    <li>utilisation de conditions</li>
    <li>utilisation de boucles</li>
    <li>pratique de la construction de code</li>
</ul>
{% endblock contenu %}

{% block cours %}  

<h3>La bibliothèque random</h3>

<p>Dès qu'il est question de jeu, le hasard peut intervenir à tout moment, et il est utile pour le programmeur de savoir 
    utiliser la bibliothèque random et la bibliothèque time.</p>

<p>La bibliothèque random permet de tirer un nombre au hasard ou de choisir un ou plusieurs éléments au hasard dans 
    une liste.</p>

<p>Pour tirer un nombre au hasard compris entre 1 et 10 :</p>
<pre><code class="language-python">import random
nbre = random.randint(1, 10)</code></pre>

<p>Pour tirer un élément au hasard parmi une liste :</p>
<pre><code class="language-python">import random
semaine = ['lundi', 'mardi', 'mercredi', 'jeudi', 'vendredi']
jour = random.choices(semaine)</code></pre>

<p>Pour tirer 3 éléments au hasard parmi une liste (attention chacun des éléments choisi peut se répéter) :</p>
<pre><code class="language-python">import random 
semaine = ['lundi', 'mardi', 'mercredi', 'jeudi', 'vendredi']
liste_choix = random.choices(semaine, k=3)</code></pre>

<div class="exerciceApplication">
    <p><strong>A toi de jouer : </strong>Cette fois, on ne veut pas répéter le nom des personnes tirées au sort, ni au sein 
    d'une équipe ni entre plusieurs équipes. Que faut-il faire pour créer 3 équipes de 3 personnes au hasard à partir d'une 
liste de personnes ?</p>

<p>Solution</p>
<pre><code class="language-python">import random 

deck = ["Antoine", "Hervé", "Chloé", "Yvonne", "Noémie", "Pierre", "Noam", "Aylin", "Audrey"]
equipe = deck.copy()

def retirerGroupe(groupe):
    """retire groupe de la liste effectifs"""
    global equipe
    for elt in groupe:
        equipe.remove(elt)

equipe1 = random.sample(deck, k=3)
retirerGroupe(equipe1)

equipe2 = random.sample(deck, k=3)
retirerGroupe(equipe2)

equipe3 = equipe

print(equipe1)
print(equipe2)
print(equipe3)</code></pre>
</div>


<h3>La bibliothèque time</h3>

<p>Pour connaître le temps écoulé en secondes depuis la création de l'informatique (1er janvier 1970) :</p>

<pre><code class="language-python">import time
temps = time.time()</code></pre>

<p>Cela permet notamment de connaître le temps d'exécution d'un bloc d'instructions en mesurant le temps 
    avant l'exécution puis le temps après l'exécution :</p>

<pre><code class="language-python">import time
debut = time.time()
i = 0
while i < 100000:
    i += 1
print(i)
fin = time.time()

duree = fin - debut</code></pre>

<p>Pour mettre en pause l'exécution d'un programme pendant 10 secondes :</p>
<pre><code class="language-python">import time
print("Première phrase")
time.sleep(10)
print("Deuxième phrase après la pause")</code></pre>


<h3>Sujet du projet</h3>

<p>Ce projet est l'occasion d'un travail en binôme. Il vous est demandé de construire un jeu de pendu simple 
    mais fonctionnel, sans interface graphique. Vous n'utiliserez donc pas la bibliothèque turtle. Vous 
    afficherez sur la console des tirets à la place du mot à trouver, puis les lettres correctes trouvées 
    par le joueur aux emplacements correspondant dans ce mot. Vous afficherez également toutes les lettres 
    proposées par le joueur. La saisie des lettres se fera directement à la console.</p>

<p>Le joueur dispose de 5 tentatives pour gagner. A la 6ème tentative, le joueur perd la partie.</p>

<p>Vous afficherez finalement à la console si le joueur a perdu ou gagné, et dans ce cas vous rajouterez 
    son score en pourcentage.</p>


<p>Une solution possible :</p>

<pre><code class="language-python"></code></pre>

{% endblock cours %}
