{% extends '../../../modelePage.html' %}
{% load static %}

{% block contenu %}
<ul>
    <li><a href="#decouvrir">découvrir les conditions</a></li>
    <li><a href="#pseudo">les pseudo-codes et diagrammes pour représenter les conditions</a></li>
    <li><a href="#booleen">comprendre l'utilité des booléens</a></li>
    <li><a href="#indentation">maîtriser l'indentation</a></li>
    <li><a href="#imbriquer">savoir imbriquer les conditions</a></li>
    <li><a href="#structure">comprendre la structure d'une condition</a></li>
    <li><a href="#erreur">comprendre les messages d'erreur</a></li>
</ul>
{% endblock contenu %}

{% block cours %}

<p>Les conditions permettent au programme de prendre des décisions en fonction des situations qu'il rencontre. Elles sont donc
 essentielles à tout programme.</p>

 <p>Par exemple, lorsqu'on crée un jeu de rôle, on doit pouvoir proposer au joueur de monter d'un niveau s'il 
    a trouvé toutes les énigmes du niveau précédent, on doit pouvoir arrêter la partie si le joueur est tombé 
    dans un piège mortel.</p>


<!-- DECOUVRIR LES CONDITIONS -->
<p class="my-5 invisible" id="decouvrir">ancre</p>

<h3>Découvrir les conditions</h3>

<div class="col-12 col-md-8 my-5">
    <iframe src="https://www.youtube.com/embed/pn8T-kro--k"
            title="Les conditions en Python - ToKeTa" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media;
            gyroscope; picture-in-picture" allowfullscreen></iframe>
    <figcaption>Les conditions en Python</figcaption>
</div>

<p>Dans l'exemple suivant, on donne le nom "Alice" à la variable nom, si le nom de la personne est <em>Alice</em>, 
    le programme affiche <em>Bonjour Alice</em>, sinon il n'accorde pas l'accès.</p>

<pre><code class="language-python">nom = "Alice"
if nom == "Alice":
    print("Bonjour Alice")
else:
    print("Désolé, accès refusé.")</code></pre>

<div class="exerciceApplication">
    <p><strong>A vous de jouer : </strong>exécutez le code ci-dessus pour voir ce qui s'affiche,
        puis modifiez la variable <strong>nom</strong> en lui donnant la valeur "Camille".
        Exécutez à nouveau votre code pour constater la différence d'affichage.</p>
</div>

<p>Vous avez peut-être découvert la programmation avec Scratch. Dans ce cas, le code Python ci-dessus correspond en Scratch au script suivant :</p>

<img src="{% static 'home/images/python/codeScratchCondition.png' %}" alt="code Scratch" width="250px">

<p>La difficulté en Python réside dans le signe <strong>==</strong>. Il est essentiel de comprendre que la condition <strong>nom == "Alice"</strong> s'exprime par une comparaison entre <strong>nom</strong> et <strong>"Alice"</strong>. On utilise pour cela l'opérateur de comparaison <strong>==</strong>. Il n'a rien à voir avec l'opérateur d'affectation <strong>=</strong> de la 1ère ligne de code, qui donne la valeur <strong>"Alice"</strong> à la variable <strong>nom</strong>.</p>

<p>A noter que l'instruction <strong>print("Bonjour Alice")</strong> est décalée d'une tabulation (4 espaces) vers la droite.
On parle d'indentation. Cette indentation permet de regrouper des blocs de code et indique au programme quand se termine
le bloc concerné par l'instruction <strong>if</strong>, et quand se termine le bloc concerné par
 l'instruction <strong>else</strong>.</p>

<div class="exerciceApplication">
    <p><strong>A vous de jouer : </strong> donner une valeur entière à la variable mois, comprise entre 1 et 12.
    Le programme devra afficher "1er semestre" si mois est compris entre 1 et 6. Il devra afficher "2ème semestre"
    sinon.</p>
    <pre><code class="language-python">mois = 4

if mois ???
# completer le code ...
else:
# completer le code ...</code></pre>

<div>
    <p><button class='bouton' type="submit" onclick="affichageConditionnel(this,'solution1');"> Voir la solution </button></p>
</div>

<div id="solution1" style="display:none;">
    <p>Solution :</p>
    <pre><code class="language-python">mois = 4

if mois &lt 7:
    print("1er semestre")
else:
    print("2ème semestre")</code></pre>
</div>
</div>

<!-- QESTIONNAIRE -->

<h4>As-tu bien compris ?</h4>

<div class="quiz-container">
        
    <div class="question-container">
        <p id="question-1"></p>
        <form id="options_form-1">
            <ul>
                <li id="options"></li>
            </ul>
        </form>
        <p class="py-2" id="commentaire-1"></p>
    </div>
    <button class="bouton my-1" id="submit_btn-1">Soumettre</button>
    
</div>

<script>
var questionsData = 
    {
        question: " ...",
        options:["", "", ""],
        correctIndex: 2,
        commentaire: ""
    };
questionnaireUnique(1);
</script>


<!-- PSEUDO CODE ET DIAGRAMMES -->
<p class="my-5 invisible" id="pseudo">ancre</p>

<h3>Les pseudo-codes et diagrammes pour représenter les conditions</h3>

<p>Pour mieux comprendre la structure d'une condition if, on peut utiliser du pseudo-code (indifférencié d'un 
    langage de programmation à un autre, ou encore un diagramme. Voyons comment traduire le code Python ci-dessus en
     pseudo-code :</p>

<pre><code class="language-svg">nom prend la valeur "Alice"
si nom = "Alice"
alors afficher "Bonjour Alice"
sinon afficher "Désolé, accès refusé"</code></pre>

<p>Voyons maintenant comment traduire le code Python ci-dessus à l'aide d'un diagramme :</p>

<img src="{% static 'home/images/python/diagramme1.png' %}" alt="'diagramme" width="40%" style="margin-bottom:5%;">


<div class="exerciceApplication">
    <p><strong>A vous de jouer : </strong> posez la question suivante à un utilisateur "Comment 
    s'appelle l'auteur de l'Odyssée ?" S'il répond Homère, rajoutez deux points à sa note qui valait 10
auparavant, sinon enlevez-lui un point.</p>
    <pre><code class="language-python">note = 10

reponse = input(???)
# completer la suite ...</code></pre>

<div>
    <p><button class='bouton' type="submit" onclick="affichageConditionnel(this,'solution8');"> Voir la solution </button></p>
</div>

<div id="solution8" style="display:none;">
    <p>Solution :</p>
    <pre><code class="language-python">note = 10
reponse = input("Quel est l'auteur de l'Odyssée ? ")
if reponse == "Homère":
    note = note + 2
else:
    note = note - 1</code></pre>
</div>
</div>

<p>Vous connaissez maintenant la structure de base pour créer un QCM ...</p>

<!-- QESTIONNAIRE -->

<h4>As-tu bien compris ?</h4>

<div class="quiz-container">
        
    <div class="question-container">
        <p id="question-2"></p>
        <form id="options_form-2">
            <ul>
                <li id="options"></li>
            </ul>
        </form>
        <p class="py-2" id="commentaire-2"></p>
    </div>
    <button class="bouton my-1" id="submit_btn-2">Soumettre</button>
    
</div>

<script>
var questionsData = 
    {
        question: " ...",
        options:["", "", ""],
        correctIndex: 2,
        commentaire: ""
    };
questionnaireUnique(2);
</script>


<!-- LES BOOLEENS -->
<p class="my-5 invisible" id="booleen">ancre</p>

<h3>Les booléens</h3>

<pre><code class="language-python">nom = "Alice"
if nom == "Alice":
    print("Bonjour Alice")
else:
    print("Désolé, accès refusé.")</code></pre>

<p>Les conditions sont intimement liées aux booléens (<strong>True</strong> ou <strong>False</strong>).</p>

<p>En effet, il faut comprendre que dans l'instruction <strong>if nom == "Alice":</strong>, le mot <strong>if</strong>
permet d'orienter le programme dans une certaine direction lorsque la condition <strong>nom == "Alice"</strong> est vraie, c'est 
à dire est équivalente à True. Dans ce cas, le programme poursuit son exécution avec le bloc qui suit. Si le nom n'est pas Alice, 
alors la condition nom == "Alice" est fausse, donc équivalente à False et le programme décide de sauter le bloc relatif au mot if 
et exécute le bloc relatif au mot <strong>else:</strong>.</p>

<p>Ainsi le script ci-dessus peut se traduire en pseudo-code par :</p>

<pre><code class="language-svg">nom prend la valeur "Alice"
si nom vaut "Alice" alors{
    on affiche "Bonjour Alice"
    }
sinon{
    on affiche "Désolé, accès refusé"
    }</code></pre>

<div class="exerciceApplication">
    <p><strong>A vous de jouer : </strong>pour se convaincre du rôle des booléens dans les conditions, il suffit d'exécuter le code suivant</p>
    <pre><code class="language-python">nom = "Albert"
print(nom == "Albert")  # affiche True
print(nom == "Bob")  # affiche False
print(12 &lt 5)  # affiche False
print(7 &lt 10)  # affiche True</code></pre>

</div>


<h4>Les opérateurs utilisés</h4>

<p>La condition <strong>nom == "Alice"</strong> se traduit par <strong>True</strong> ou <strong>False</strong>, mais il existe
    d'autres opérateurs de comparaison que <strong>==</strong>. Les principaux opérateurs possibles sont les suivants :</p>

<table>
    <tr><th>opérateur</th><th>signification</th></tr>
    <tr><td>a == b</td><td>True si a vaut b</td></tr>
    <tr><td>a != b</td><td>True si a différent de b</td></tr>
    <tr><td>a &lt b</td><td>True si a inférieur à b</td></tr>
    <tr><td>a > b</td><td>True si a supérieur à b</td></tr>
    <tr><td>a &lt= b</td><td>True si a inférieur ou égal à b</td></tr>
    <tr><td>a >= b</td><td>True si a supérieur ou égal à b</td></tr>
    <tr><td>a == b and c == d</td><td>True si a vaut b et c vaut d</td></tr>
    <tr><td>a == b or c == d</td><td>True si a vaut b ou c vaut d</td></tr>
</table>

<div class="exerciceApplication">
    <p><strong>A vous de jouer : </strong> Voyons ensemble comment peut évaluer une comparaison. Essayez le code suivant :</p>
    <pre><code class="language-python">nom = "Alice"
print(nom == "Alice")
print(nom != "Bob")</code></pre>
</div>

<div class="exerciceApplication">
    <p><strong>A vous de jouer : </strong> complétez le code suivant qui demande à l'utilisateur 3 nombres réels et affiche le plus
        grand de ces nombres automatiquement :</p>
    <pre><code class="language-python">x = float(input("Entrer un premier nombre : "))
y = float(input("Entrer un deuxième nombre : "))
z = float(input("Entrer un troisième nombre : "))

# on cherche le maximum entre x, y et z

# on affiche le résultat</code></pre>

    <div>
        <p><button class='bouton' type="submit" onclick="affichageConditionnel(this,'solution4');"> Voir la solution </button></p>
    </div>

    <div id="solution4" style="display:none;">
        <pre><code class="language-python">x = float(input("Entrer un premier nombre : "))
y = float(input("Entrer un deuxième nombre : "))
z = float(input("Entrer un troisième nombre : "))

# on cherche le maximum entre x, y et z
maximum = x
if y > maximum:
    maximum = y
if z > maximum:
    maximum = z

# on affiche le résultat
print("le maximum est" + maximum)</code></pre>


        <p>Attention, dans cet exemple l'utilisation de elif plutôt que if serait dangereuse.
            En effet, si y est plus grand que x, il est possible que z soit également plus grand que x.
            Or l'utilisation de elif z > x:  ne permet de voir cette condition que si la condition
            y > x n'est pas vérifiée.</p>
    </div>

</div>


<h4>Les opérateurs and / or</h4>

<p>Exécuter le code suivant pour bien comprendre le fonctionnement des opérateurs and et or :</p>

<pre><code class="language-python">1 | a = 3
2 | b = 5
3 |
4 | if a > 4 and b > 4:
5 |    print("a et b sont tous les deux supérieurs à 4")
6 |
7 | if a > 4 or b > 4:
8 |    print("a ou b est supérieur à 4")</code></pre>

<p>La condition a > 4 and b > 4 nécessite que a et b soient tous les deux supérieurs à 4.
    Cette condition n'est pas vérifiée et le programme n'entre pas dans le bloc de la ligne 5.</p>

<p>La condition a > 4 or b > 4 nécessite qu'une seule des deux variables a ou b soit supérieure
    à 4. Cette condition est donc vérifiée et le programme entre dans le bloc de la ligne 8.</p>

<!-- QESTIONNAIRE -->

<h4>As-tu bien compris ?</h4>

<div class="quiz-container">
        
    <div class="question-container">
        <p id="question-3"></p>
        <form id="options_form-3">
            <ul>
                <li id="options"></li>
            </ul>
        </form>
        <p class="py-2" id="commentaire-3"></p>
    </div>
    <button class="bouton my-1" id="submit_btn-3">Soumettre</button>
    
</div>

<script>
var questionsData = 
    {
        question: " ...",
        options:["", "", ""],
        correctIndex: 2,
        commentaire: ""
    };
questionnaireUnique(3);
</script>


<!-- L'INDENTATION -->
<p class="my-5 invisible" id="indentation">ancre</p>

<h3>L'indentation</h3>

<p>L'indentation est le fait de décaler le code vers la droite (en général d'une tabulation ou de 4 espaces). C'est essentiel en Python qui n'utilise par d'accolades et choisit de commencer un bloc de code par une indentation et de rester dans ce bloc tant que le code est indenté. Par exemple dans le code suivant :</p>

<pre><code class="language-python">nom = "Alice"
if nom == "Alice":
    print("Bonjour Alice.")
    print("Comment allez-vous aujourd'hui ?")
print("Aujourd'hui c'est journée portes ouvertes.")</code></pre>

<p><em>Bonjour Alice. Comment allez-vous aujourd'hui ?</em> ne s'affichera que si le <strong>nom</strong> vaut <strong>Alice</strong>. Les deux phrases font partie du même bloc d'instructions. En revanche, <em>Aujourd'hui c'est journée portes ouvertes.</em> s'affichera tout le temps, même si <strong>nom</strong> ne vaut pas <strong>Alice</strong>, car cette instruction est indépendante de la condition <strong>if nom == "Alice":</strong>.</p>

<div class="exerciceApplication">
    <p><strong>A vous de jouer : </strong>exécutez le code ci-dessus pour voir ce qui s'affiche, puis 
        pour bien comprendre le rôle de l'indentation :</p>
        <ul>
            <li>changez le nom 'Alice' en 'Bob' et exécutez de nouveau le code</li>
            <li>indentez la dernière ligne avec la touche de tabulation avant d'exécuter le code pour constater 
                la différence d'affichage.</li>
        </ul>
</div>

<div class=fieldsetDefinition>
    <h4>A RETENIR ...</h4>
    <p>L'indentation est fondamentale en Python. Elle permet de délimiter les blocs de code,
        et donc de déterminer quand les blocs de code commencent et quand ils se terminent. Sans indentation,
        le programme est perdu. Il correspond dans d'autres langages à l'utilisation des { et }.</p>
</div>

<!-- QESTIONNAIRE -->

<h4>As-tu bien compris ?</h4>

<div class="quiz-container">
        
    <div class="question-container">
        <p id="question-4"></p>
        <form id="options_form-4">
            <ul>
                <li id="options"></li>
            </ul>
        </form>
        <p class="py-2" id="commentaire-4"></p>
    </div>
    <button class="bouton my-1" id="submit_btn-4">Soumettre</button>
    
</div>

<script>
var questionsData = 
    {
        question: " ...",
        options:["", "", ""],
        correctIndex: 2,
        commentaire: ""
    };
questionnaireUnique(4);
</script>


<!-- IMBRIQUER LES CONDITIONS -->
<p class="my-5 invisible" id="imbriquer">ancre</p>

<h3>Imbriquer les conditions</h3>

<p>Il est possible de créer une condition dans une condition. Dans l'exemple suivant
    on donne une valeur à une variable <strong>temperature</strong>, puis on affiche :</p>
<ul>
    <li><em>la neige a bien gelé</em> si la variable <strong>temperature</strong> est inférieure à -5,</li>
    <li><em>la neige est molle</em> si la variable <strong>temperature</strong> est supérieure à +10.</li>
</ul>

<pre><code class="language-python">if temperature &lt -5:
    print("la neige a bien gelé")
else:
    if temperature > 10:
        print("la neige est molle")</code></pre>

<p>Le code Python ci-dessus correspond au script Scratch suivant :</p>
<img src="{% static 'home/images/python/codeScratchConditionImbriquee.png' %}" alt="code Scratch" width="250px">

<p>A noter qu'en Python on peut remplacer l'instruction else if par elif. Dans ce cas, le code ci-dessus devient :</p>
<pre><code class="language-python">if temperature &lt -5:
    print("la neige a bien gelé")
elif temperature > 10:
    print("la neige est molle")</code></pre>


<div class="exerciceApplication">
    <p><strong>A vous de jouer : </strong>écrire les instructions suivantes</p>
    <ul><li>définir deux variables <strong>a</strong> et <strong>b</strong> en leur donnant les valeurs 3 et 5 respectivement,</li>
        <li>afficher <em>a est plus petit que b</em> si <strong>a</strong> est plus petit que <strong>b</strong>,</li>
        <li>afficher <em>a est plus grand que b</em> si <strong>a</strong> est plus grand que <strong>b</strong>,</li>
        <li>afficher <em>a est égal à b</em> si a est égal à b.</li>
    </ul>
    <p>Attention, ce n'est pas à vous de faire le travail et de décider si a est plus petit que b, c'est à l'ordinateur 
        de trouver grâce aux instructions de votre programme. Ainsi, si vous donnez maintenant la valeur 10 à la variable a, 
        l'ordinateur saura quand même trouver le plus grand des nombres sans intervention de votre part.</p>

    <div>
        <p><button class='bouton' type="submit" onclick="affichageConditionnel(this,'solution2');"> Voir la solution </button></p>
    </div>

    <div id="solution2" style="display:none;">
        <pre><code class="language-python">a = 3
b = 5

if a &lt b:
    print("a est plus petit que b")
elif a > b:
    print("a est plus grand que b")
else:
    print("a est égal à b")</code></pre>
    </div>
</div>

<p>Les conditions imbriquées sont très fréquentes dans les programmes car elles représentent les situations complexes
de la vie de tous les jours ou les structures complexes des applications. A noter qu'en Python il existe 
l'instruction <strong>match</strong> qui est l'équivalent de l'instruction <strong>switch</strong> des autres langages 
de programmation.</p>

<div class="exerciceApplication">
    <p><strong>A vous de jouer : </strong> une séance de cinéma est interdite aux moins de 16 ans.
        Le prix du billet dépend de l'âge de l'utilisateur. Les seniors (plus de 65 ans) et les mineurs (moins de 18 ans) paient un tarif réduit, les autres un tarif plein.
        Ecrire un script qui affiche le type de tarif si l'utilisateur a le droit d'assister à une séance, et "accès refusé" dans le cas contraire.</p>

<pre><code class="language-python">age = int(input("quel est votre age ? "))

if age &lt ???
# completer la suite ...</code></pre>

<div>
    <p><button class='bouton' type="submit" onclick="affichageConditionnel(this,'solution6');"> Voir la solution </button></p>
</div>

<div id="solution6" style="display:none;">
    <pre><code class="language-python">age = int(input("quel est votre age ? "))

if age &lt 16:
    print("pas de séance")
elif age &lt 18 or age >= 65:
    print("tarif réduit")
else:
    print("plein tarif")</code></pre>

</div>
</div>



<!-- BIEN COMPRENDRE LA STRUCTURE D'UNE CONDITION -->
<p class="my-5 invisible" id="structure">ancre</p>

<h3>Bien comprendre la structure d'une condition</h3>

<p>Exécutez le code suivant pour bien comprendre le cheminement suivi par le programme.</p>
<pre><code class="language-python">1 | cheveux = "bruns"
2 | yeux = "bleus"
3 |
4 | if cheveux == "bruns":
5 |    print("May a les cheveux bruns")
6 | else:
7 |    if yeux == "bleus":
8 |        print("May a les yeux bleus")
9 |
10| print("voilà c'est tout")</code></pre>

<p>Si les cheveux sont bruns, le programme exécute la ligne 4 mais n'entre jamais dans le bloc de la ligne 6.
Il reprend ensuite à la ligne 10 pour afficher "voilà c'est tout". Du coup on ne saura jamais si les yeux de May sont bleus.</p>

<p>A noter qu'en Python, l'instruction <strong>else: if</strong> peut se condenser en une instruction <strong>elif</strong></p>
<pre><code class="language-python">1 | cheveux = "bruns"
2 | yeux = "bleus"
3 |
4 | if cheveux == "bruns":
5 |    print("May a les cheveux bruns")
6 | elif yeux == "bleus":
7 |    print("May a les yeux bleus")
8 |
9 | print("voilà c'est tout")</code></pre>

<div class="exerciceApplication">
<p><strong>A vous de jouer : </strong>en revanche le programme suivant exécute tous les blocs. Essayez par vous-mêmes :</p>

<pre><code class="language-python">1 | cheveux = "bruns"
2 | yeux = "bleus"
3 |
4 | if cheveux == "bruns":
5 |    print("May a les cheveux bruns")
6 |
7 | if yeux == "bleus":
8 |    print("May a les yeux bleus")
9 |
10| print("voilà c'est tout")</code></pre>

<p>Si les cheveux sont bruns, le programme exécute la ligne 4, puis si les yeux sont bleus, le programme
exécute la ligne 8. Il reprend ensuite à la ligne 10 pour afficher "voilà c'est tout".</p>
</div>

<div class="exerciceApplication">
    <p><strong>A vous de jouer : </strong>compléter le programme suivant qui demande à un élève
    sa moyenne au 1er trimestre, au 2ème trimestre puis au 3ème trimestre et affiche la mention
    obtenue par l'élève en fin d'année (examen à repasser en-dessous de 10, mention passable entre 10 et 12,
    mention assez bien entre 12 et 14, mention bien entre 14 et 16, mention très bien entre 16 et 20.</p>

    <pre><code class="language-python">noteSemestre1 = float(input("Moyenne au 1er trimestre : "))
noteSemestre2 = float(input("Moyenne au 2ème trimestre : "))
noteSemestre3 = float(input("moyenne au 3ème trimestre : "))
moyenne = ???
if moyenne &lt 10:
# completer la suite ...</code></pre>

    <div>
        <p><button class='bouton' type="submit" onclick="affichageConditionnel(this,'solution3');"> Voir la solution </button></p>
    </div>

    <div id="solution3" style="display:none;">
        <p>Solution :</p>
        <pre><code class="language-python">moyenne = (noteSemestre1 + noteSemestre2 + noteSemestre3) / 3
if moyenne &lt 10:
    print("examen à repasser")
elif 10 &lt= moyenne &lt 12:
    print("mention passable")
elif 12 &lt= moyenne &lt 14:
    print("mention assez bien")
elif 14 &lt= moyenne &lt 16:
    print("mention bien")
else:
    print("mention très bien")</code></pre>
    </div>
</div>


<p>On va maintenant essayer de comprendre les décisions prises par un programme en suivant les
    valeurs prises par plusieurs variables.</p>

<div class="exerciceApplication">
    <p><strong>A vous de jouer : </strong>considérons le code suivant</p>
<pre><code class="language-python">1 | x = 3
2 | y = 2
3 | t = x - y
4 |
5 | z = x
6 | x = t + 3
7 | y = y + 5
8 |
9 | if x > y: # si x est plus grand que y
10|    z = 2 * x
11| else: # sinon
12|    y = 3 * z - t</code></pre>
<p>quelles sont les valeurs des variables x, y, z et t à la ligne 4, à la ligne 8 et à la fin du code ?</p>
    <div>
        <p><button class='bouton' type="submit" onclick="affichageConditionnel(this,'solution10');"> Voir la solution </button></p>
    </div>

    <div id="solution10" style="display:none;">
    <pre><code class="language-python">1 | # x prend la valeur 3
2 | # y prend la valeur 2
3 | # t prend la valeur 3-2 = 1
4 |
5 | # z prend la valeur de x donc 3
6 | # x prend la valeur 1+3 = 4
7 | # y prend la valeur 2+5 = 7
8 |
9 | # x n'est pas plus grand que y
10|
11| # donc y prend la valeur 9-1 = 8
12|</code></pre>
   <p>Ainsi à la ligne 4 on obtient x=3, y=2, z non défini et t=1, à la ligne 8 on obtient x=4, y=4, z=3, t=1,
   à la fin du code on obtient x=4, y=2, z=3, t=1.</p>
        <p>On peut résumer cela dans un tableau : </p>
        <table>
            <tr><th>ligne</th><th>x</th><th>y</th><th>z</th><th>t</th></tr>
            <tr><td>1</td><td>3</td><td>None</td><td>None</td><td>None</td></tr>
            <tr><td>2</td><td>3</td><td>2</td><td>None</td><td>None</td></tr>
            <tr><td>3</td><td>3</td><td>2</td><td>None</td><td>1</td></tr>
            <tr><td>4</td><td>3</td><td>2</td><td>None</td><td>1</td></tr>
            <tr><td>5</td><td>3</td><td>2</td><td>3</td><td>1</td></tr>
            <tr><td>6</td><td>4</td><td>2</td><td>3</td><td>1</td></tr>
            <tr><td>7</td><td>4</td><td>7</td><td>3</td><td>1</td></tr>
            <tr><td>8</td><td>4</td><td>7</td><td>3</td><td>1</td></tr>
            <tr><td>9</td><td>4</td><td>7</td><td>3</td><td>1</td></tr>
            <tr><td>10</td><td>4</td><td>7</td><td>3</td><td>1</td></tr>
            <tr><td>11</td><td>4</td><td>8</td><td>3</td><td>1</td></tr>
            <tr><td>12</td><td>4</td><td>8</td><td>3</td><td>1</td></tr>

        </table>
    <p>Attention, il ne s'agit pas d'égalité au sens mathématique mais de l'affectation
     d'une valeur à une variable.</p></div>
</div>


<!-- COMPRENDRE LES MESSAGES D'ERREUR -->
<p class="my-5 invisible" id="erreur">ancre</p>

<h3>Comprendre les messages d'erreur</h3>

<p>Il est très important de savoir analyser les messages d'erreur pour corriger les bugs et progresser rapidement, 
    car l'interpréteur Python fournit une aide précieuse et propose même parfois des correctifs.</p>

    <p>Il existe différents types d'erreur :</p>
    <ul>
        <li>les erreurs de syntaxe. Très faciles à corriger, il s'agit en général d'une mauvaise structure de code 
            qui saute rapidement aux yeux avec l'usage,</li>
        <li>les erreurs de logique. Elles sont souvent difficiles à trouver et il faut parfois recourir à des fonctions de tests 
            et de validation pour savoir d'où provient l'erreur.</li>
    </ul>

<p>Analysons les messages d'erreur les plus fréquents proposés par l'interpréteur. Chaque message d'erreur commence 
    par :</p>

    <pre><code class="language-python">Traceback (most recent call last):</code></pre>

<p>ce qui signifie qu'à la fin du message apparaît le numéro de la ligne de code où l'erreur a été déclenchée, 
    et qu'au début du message le numéro de ligne de code à l'origine de l'erreur. C'est donc à cette ligne (ou parfois 
    la suivante) qu'il faut effectuer les modifications.</p>

    
<h4>name is not defined</h4>

<pre><code class="language-svg">Traceback (most recent call last):
    File "<input>", line 4, in <module>
NameError: name 'prenom' is not defined</code></pre>

<p>Cela signifie que la variable appelée prenom n'est pas définie à la ligne 4. Le code l'utilise comme si elle 
    existait mais aucune valeur ne lui a été attribuée.</p>

<p><em>Solution</em> : il faut donc donner une valeur à la variable prenom avant la ligne 4.</p>

<h4>SyntaxError</h4>

<pre><code class="language-svg">Traceback (most recent call last):
    File "<input>", line 2
if prenom == "Antoine"
                          ^
SyntaxError: expected ':'</code></pre>

<p>Cela signifie que la syntaxe est mauvaise, et la petite flèche ^ montre l'endroit exact où manque 
    le ':' à la ligne 2.</p>

<p><em>Solution</em> : il faut rajouter ':' après "Antoine"</p>

<h4>IndentationError</h4>

<pre><code class="language-svg">Traceback (most recent call last):
    File "<input>", line 3
print("hello")
^^^^^
IndentationError: expected an indented block after 'if' statement on line 2</code></pre>

<p>Cela signifie qu'après la condition if il est nécessaire de décaler les instructions à exécuter vers la droite.
    Le décalage est attendu à la ligne 3 au niveau des signes ^^^^^</p>

<p><em>Solution</em> : indenter le print() d'une tabulation vers la droite.</p>

<h4>index out of range</h4>

<pre><code class="language-svg">Traceback (most recent call last):
    File "<input>", line 3, in <module>
IndexError: string index out of range</code></pre>

<p>Cela signifie qu'une boucle parcourt un indice qui n'existe pas à la ligne 3. Il faut donc vérifier 
    le premier et le dernier éléments de la boucle dont l'un des deux n'est sûrement pas défini.</p>

<p><em>Solution</em> : il faut changer l'indice de début de boucle ou l'indice de fin de boucle.</p>

<!-- QESTIONNAIRE -->

<h4>As-tu bien compris ?</h4>

<div class="quiz-container">
        
    <div class="question-container">
        <p id="question-5"></p>
        <form id="options_form-5">
            <ul>
                <li id="options"></li>
            </ul>
        </form>
        <p class="py-2" id="commentaire-5"></p>
    </div>
    <button class="bouton my-1" id="submit_btn-5">Soumettre</button>
    
</div>

<script>
var questionsData = 
    {
        question: " ...",
        options:["", "", ""],
        correctIndex: 2,
        commentaire: ""
    };
questionnaireUnique(5);
</script>


<!-- ENTRAINEMENT -->

<h3>Entraînement</h3>

<div class="exerciceApplication">
    <p><strong>Exercice 1 : </strong>écrire un programme qui demande à l'utilisateur de saisir son âge 
    puis affiche "Vous êtes majeur" si il a 18 ans ou plus, ou affiche "Vous êtes mineur" dans le cas 
contraire.</p>
    </div>

    <p class="separateur"></p>

<div class="exerciceApplication">
<p><strong>Exercice 2 : </strong>écrire un programme qui teste si une année est bissextile ou non, et affiche 
le résultat sous la forme "Année bissextile" ou "Année non bissextile".</p>
<p>Une année est bissextile si elle est divisible par 4 et pas divisible par 100 ou si elle est divisible par 400.</p>
<p>Par exemple, 800 est divisible par 400 donc c'est une année bissextile. 888 est divisble par 4 et pas par 100 donc 
    c'est une année bissextile.</p>
</div>

<p class="separateur"></p>

<div class="exerciceApplication">
    <p><strong>Exercice 3 : </strong>quelles sont les valeurs de a, b, c à la fin du code ci-dessous ? (travail sans ordinateur)</p>
    <pre><code class="language-python">a = 7
b = 8 * a
c = 5 * a
a = b - 3

if b &gt c:
    b = c - a 
else:
    b = a * c</code></pre>
</div>

<p class="separateur"></p>

<div class="exerciceApplication">
    <p><strong>Exercice 4 : </strong>écrire un programme qui détermine si une variable appelée x représente un 
    nombre pair ou impair. Le programme affiche le résultat sous la forme "la variable est paire" ou "la variable 
est impaire". Indication, on pourra utiliser l'opérateur reste de division %.</p>
</div>

<p class="separateur"></p>

<div class="exerciceApplication">
    <p><strong>Exercice 5 : </strong>écrire un programme qui demande à l'utilisateur de saisir deux nombres et affiche 
    True si les nombres ont des signes différents et False sinon.</p>
</div>

<p class="separateur"></p>

<div class="exerciceApplication">
    <p><strong>Exercice 6 : </strong>écrire un programme qui demande à l'utilisateur de saisir un nombre et affiche si 
        ce nombre est plus petit, plus grand ou égal à 10.</p>
</div>

<p class="separateur"></p>

<div class="exerciceApplication">
    <p><strong>Exercice 7 : </strong>le code suivant calcule le discriminant de l'équation 
    \(ax^2+bx+c\). Corrigez les erreurs de code pour qu'il fournisse les solutions suivantes 
\((-b-\sqrt{\Delta}/{2a})\) et \((-b+\sqrt{\Delta}/{2a})\) lorsque \(\Delta &gt 0\), \(-b/{2a}\) 
lorsque \(\Delta = 0\), pas de solution lorsque \(\Delta &lt 0\)</p>
    <pre><code class="language-python"> from math import *
a = float(input(Quelle est la valeur de a : ))
b = float(input('Quelle est la valeur de b : '))
c = float(input('Quelle est la valeur de c : ''))
delta = b * 2 - 4 * a
if delta &lt 0:
    print((-b - sqrt(delta)) / (2 * a))
    print((-b + sqrt(delta)) / (2 * a))
elif delta = 0:
print(-b / (2 * a))
else
    print("pas de solution")
print(resultat)</code></pre>
</div>

<p class="separateur"></p>

<div class="exerciceApplication">
    <p><strong>Exercice 8 : </strong>une borne automatique de paiement calcule les droits d'entrée dans un 
    aquaparc. Le prix d'entrée pour un adulte est de 43 €, pour un enfant de moins de 13 ans 12,5 €, pour un 
adolescent ou un étudiant jusqu'à 25 ans 21 €.</p>
<p>Vous devrez créer le programme de cette borne automatique qui demande tout d'abord le nombre d'adultes, 
    le nombre d'enfants et le nombre d'étudiants avant d'afficher le prix à payer.</p>
</div>

<p class="separateur"></p>

<div class="exerciceApplication">
    <p><strong>Exercice 9 : </strong>corrigez le code suivant qui devrait afficher si un nombre saisi par l'utilisateur 
    est positif, négatif ou nul.</p>

    <pre><code class="language-python">a = input("Donnez un nombre réel : ")
if a > 0
    print("Le nombre est strictement positif)
else:
if a == 0:
        print("Le nombre est nul")
    else:
print("Le nombre est strictement négatif")</code></pre>
</div>

<p class="separateur"></p>

<div class="exerciceApplication">
    <p><strong>Exercice 10 : </strong>le club alpin doit proposer à ses adhérents un site Web pour le renouvellement 
    des cotisations. Pour cela, il utilise un formulaire en ligne à remplir par chaque adhérent qui fournit la catégorie 
de adhérent en fonction de ce qu'il vient de répondre.</p>

<p>Ecrire un programme Python qui demande à l'utilisateur son âge et son statut marital, puis qui affiche sa catégorie. 
Les différentes catégories sont les suivantes :</p>
<ul>
    <li>célibataire entre 18 et 65 ans - T1</li>
    <li>marié entre 18 et 65 ans - M1</li>
    <li>moins de 18 ans - A0</li>
    <li>célibataire au-delà de 65 ans - T2</li>
    <li>marié au-delà de 65 ans - M2</li>
</ul>
</div>

<p class="separateur"></p>

<div class="exerciceApplication" style="margin-bottom:5%;">
    <p><strong>Exercice 11 : </strong> écrire un script qui affiche une prime d'assurance automobile, après avoir demandé l’âge du conducteur et le nombre d’accidents dans lequel il a été impliqué dans les 5 dernières années.
        La prime d’assurance de base est de 500 CHF. La surprime est de 100 CHF si le conducteur a moins de 25 ans, et une surprime supplémentaire s'applique pour les accidents en fonction des règles suivantes :</p>
    <ul>
        <li>pour 1 accident déclaré durant les 5 dernières années, la surprime est de 50 CHF</li>
        <li>pour 2 accidents déclarés durant les 5 dernières années, la surprime est de 125 CHF</li>
        <li>pour 3 accidents déclarés durant les 5 dernières années, la surprime est de 225 CHF</li>
        <li>pour 4 accidents déclarés durant les 5 dernières années, la surprime est de 375 CHF</li>
        <li>pour 5 accidents déclarés durant les 5 dernières années, la surprime est de 575 CHF</li>
        <li>pour 6 accidents déclarés durant les 5 dernières années, le conducteur ne peut pas être assuré. Il s'affiche "pas
        d'assurance" et aucun montant de prime d'assurance ne s'affiche.</li>
    </ul>
    <div>
        <p><button class='bouton' type="submit" onclick="affichageConditionnel(this,'solution5');"> Voir la solution </button></p>
    </div>

    <div id="solution5" style="display:none;">
        <p>Solution :</p>
        <pre><code class="language-python">age = int(input("quel est votre âge ? "))
nbre_accidents = int(input("combien avez-vous eu d'accidents en 5 ans ? "))

prime_assurance = 0

# on rajoute la prime de base
PRIME_DE_BASE = 500
prime_assurance = prime_assurance + PRIME_DE_BASE

# on s'assure que le client peut être assuré
if nbre_accidents > 5:
    print("Pas d'assurance")
else:
    # on compare l'age du client avec 25
    if age &lt 25:
        prime_assurance = prime_assurance + 100

    # on rajoute la surprime en fonction de son nombre d'accidents
    if nbre_accidents == 1:
        prime_assurance = prime_assurance + 50
    elif nbre_accidents == 2:
        prime_assurance = prime_assurance + 125
    elif nbre_accidents == 3:
        prime_assurance = prime_assurance + 225
    elif nbre_accidents == 4:
        prime_assurance = prime_assurance + 375
    elif nbre_accidents == 5:
        prime_assurance = prime_assurance + 575

    # on affiche le montant à payer
    print(prime_assurance)</code></pre>

    </div>
</div>


<!-- QUIZ -->

<div class="row py-5 gx-md-5 gy-2" style="border:2px solid var(--couleur_titre);border-radius:10px;margin:0%;margin-top:5%;padding-left:2%;">
    <div class="col-12 col-md-6">
        <img class="img_ombre" src="{% static 'home/images/general/index14.jpg' %}">  
    </div>
    <div class="col-12 col-md-6 my-auto" style="text-align:center;">
        <a class="blink_me annonce_quiz" href="{% url 'afficherModeleQuiz' niveau='python' chapitre='debuter' id=3 %}">Essaie le Quiz maintenant !</a>
    </div>
</div>

{% endblock cours %}