{% extends '../../../modelePage.html' %}
{% load static %}

{% block contenu %} 
<ul>
    <li><a href="#structure">comprendre la structure des blocs de code Python</a></li>
    <li><a href="#interprete">comprendre ce qu'est un langage interprété</a></li>
    <li><a href="#environnement">bien choisir son outil pour exécuter du Python</a></li>
    <li><a href="#devinette">découvrir Python avec un jeu de devinette</a></li>
    <li><a href="#escargots">découvrir Python avec une course d'escargots</a></li>
</ul>
{% endblock contenu %}

{% block tampon %}
<p class="tampon">COURS ...</p>
{% endblock tampon %}

{% block cours %}

<!-- A PLACER EN DEBUT DE FICHIER -->
<!-- script for pyodide python sandbox -->
<script src="https://cdn.jsdelivr.net/pyodide/v0.24.1/full/pyodide.js"></script>
<!-- import codemirror stylings -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.63.3/codemirror.min.css" />
<!-- install codemirror.js version /5.63.3 from cdn -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.63.3/codemirror.min.js"
integrity="sha512-XMlgZzPyVXf1I/wbGnofk1Hfdx+zAWyZjh6c21yGo/k1zNC4Ve6xcQnTDTCHrjFGsOrVicJsBURLYktVEu/8vQ=="
crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<!-- install codemirror python language support -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.63.3/mode/python/python.min.js"
integrity="sha512-/mavDpedrvPG/0Grj2Ughxte/fsm42ZmZWWpHz1jCbzd5ECv8CB7PomGtw0NAnhHmE/lkDFkRMupjoohbKNA1Q=="
crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<!-- import codemirror dracula theme styles from cdn -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.63.3/theme/elegant.css" />

<style>
    /* set codemirror ide height to 100% of the textarea */
    .CodeMirror {
      height: auto;
      overflow: hidden;
    }
  </style>


<!-- Common function to initialize a sandbox -->
<script>
    var commentInitial = "# type your code here";
    let texteInitial = "";
    const sandboxes = {};
  
    function initializeSandbox(codeInitial, sandboxId) {
      const outputElement = document.getElementById(`output${sandboxId}`);
      const codeElement = document.getElementById(`code${sandboxId}`);
  
      const editor = CodeMirror.fromTextArea(codeElement, {
        mode: {
          name: "python",
          version: 3,
          singleLineStringErrors: false,
        },
        theme: "elegant",
        lineNumbers: true,
        indentUnit: 4,
        matchBrackets: true,
      });
  
      editor.setValue(codeInitial);
      outputElement.value = "Initializing...\n";
  
      const sandbox = {
        pyodide: null,
        editor,
        outputElement,
      };
  
      sandboxes[sandboxId] = sandbox;
  
      async function main() {
        sandbox.pyodide = await loadPyodide({
          indexURL: "https://cdn.jsdelivr.net/pyodide/v0.24.1/full/",
        });
  
        sandbox.pyodide.runPython(`
          import sys
          sys.version
        `);
  
        sandbox.outputElement.value = ">>>\n";
      }
  
      main();
    }
  
    function executePython(sandboxId) {
      const sandbox = sandboxes[sandboxId];
  
      try {
        sandbox.pyodide.runPython(`
          import io
          sys.stdout = io.StringIO()
        `);
  
        const result = sandbox.pyodide.runPython(sandbox.editor.getValue());
        const stdout = sandbox.pyodide.runPython("sys.stdout.getvalue()");
        sandbox.outputElement.value += stdout + "\n";
      } catch (err) {
        sandbox.outputElement.value += "Error: " + err + "\n";
      }
    }
</script>
<!-- fin js sandbox -->


<!-- LANGAGE INTERPRETE -->

<p class="invisible" id="interprete">ancre</p>

<h3>Python est un langage interprété</h3>

<p>Python est un langage de programmation généraliste qui permet de construire tous types de projets : études et gestion 
    de bases de données, calculs scientifiques, graphismes, jeux vidéos, applications, sites Web, intelligence artificielle, ...</p>

    <p>Les languages de programmation les plus populaires en juin 2023 sont (source index Tiobe):</p>
    <ul>
        <li>Python</li>
        <li>C</li>
        <li>C++</li>
    </ul>
    
    <p>Les languages de programmation les plus demandés sur les offres d'emploi en 2023 sont (source devjobscanner.com):</p>
    <ul>
        <li>JavaScript</li>
        <li>Python</li>
        <li>Java</li>
    </ul>
    
    <p>Tous indices confondus, on constate en fait une large domination de 4 langages : Python, C, C++ et Java.</p>
    
    <p>Python n'est donc pas qu'un langage scolaire, mais un véritable langage polyvalent utilisé pour tous types de projets.</p>
    

<p>Python est un langage de programmation dont la philosophie repose sur la simplicité du code et 
    l'implémentation de bonnes pratiques. Rien n'est fait pour empêcher le programmeur de mener une action, 
    même si celle-ci semble inappropriée. La structure du code en blocs indentés permet de meilleure lecture 
    de code, et impose une structure commune et compréhensible pour tout codeur qui souhaiterait reprendre le programme.</p>

<p>Python est également un langage <em>interprété</em>. Cela signifie que le code source est traduit pas 
    à pas par un logiciel appelé interpréteur, qui récupère des données d'entrée au fur et à mesure pour fournir des données de 
    sortie. Le code source n'est pas transformé entièrement en code binaire avant d'être compilé, comme pour un langage compilé.</p>
<p>Le principal avantage est que le code source d'un langage interprété peut fonctionner sur tout ordinateur. Le principal inconvénient est qu'un langage interprété est plus lent qu'un langage compilé,
    qui peut réutiliser certaines parties de code préalablement compilées.</p>

<p>Grâce à ses bibliothèques performantes et régulièrement mises à jour, Python est particulièrement utilisé dans les 
    environnements scientifiques, pour la manipulation de données et pour l'intelligence artificielle. Par ailleurs Python 
bénéficie d'une communauté active et de nombreux forums permettant de résoudre tous types de problèmes rencontrés.</p>
<img src="{% static 'home/images/general/python.jpg' %}" width="100px" style="margin-left:50%;padding-bottom:5%;border-radius:10%;">



<!-- STRUCTURE DU CODE -->
<p class="invisible" id="structure">ancre</p>

<h3>La structure du code Python</h3>

<p>Chaque programme est composé d'instructions, qui sont comme des phrases avec leur propre syntaxe, 
    leur orthographe et leur grammaire. Ces instructions sont lues de haut en bas et de la gauche vers la droite. 
    Contrairement à la langue française, le nombre de mots est très limité, 
et la syntaxe est toujours la même. Le meilleur moyen de bien connaître cette syntaxe  
 est de pratiquer le coding en s'aidant des commentaires fournis par l'interpréteur Python pour chaque erreur de code 
 rencontrée. Ainsi chaque erreur est une opportunité pour améliorer sa façon de coder. Il faut par ailleurs 
garder à l'esprit que l'ordinateur exécute toujours à la lettre ce qu'on lui demande de faire.</p>

<p>Dans un livre, les phrases composent des paragraphes, qui eux-même composent des chapitres. 
    En suivant cette analogie, une ligne de code serait une phrase, un ensemble d'instructions 
    regroupées entre elles (ou bloc) serait un paragraphe, un fichier serait un chapitre et un projet serait un livre.</p>

<p>Le langage Python a la particularité de ne pas séparer les blocs de code par des accolades. 
    Il utilise plutôt un niveau de décalage à droite (appelé indentation) qui représente chaque bloc.</p>

<p>Par exemple, au lieu d'avoir un code structuré ainsi :</p>

<pre><code class="language-svg">{
instruction du bloc 1;
instruction du bloc 1;
{
instruction du bloc 2;
instruction du bloc 2;
}
suite instruction du bloc 1;
}</code></pre>

<p>le même code en Python serait structuré ainsi :</p>

<pre><code class="language-svg">instruction du bloc 1
instruction du bloc 1
    instruction du bloc 2
    instruction du bloc 2
suite instruction du bloc 1</code></pre>

<p>On remarque tout de suite que le code Python est plus court et plus lisible. En revanche, 
    il est impératif de penser à décaler les instructions du bloc 2, sinon elles appartiendraient 
    au bloc 1 et cela changerait forcément le résultat obtenu.</p>

<p>La fin d'une ligne symbolise la fin d'une instruction. Il n'est pas nécessaire en Python 
    d'utiliser des points-virgules pour symboliser la fin d'une instruction.</p>

<p>Par ailleurs, les programmes comprennent des fonctions qu'on appelle autant de fois que nécessaire pour éviter de 
    répéter les mêmes lignes de code.</p>

<p>Il est possible et même très important d'écrire des commentaires dans un programme. Ces portions de code ne
    sont pas exécutées par l'interpréteur Python et ont pour but de faciliter la compréhension du code pour le 
    développeur, car parfois les codes sont compliqués. Les commentaires d'une ligne 
commencent toujours par le symbole #, alors que les commentaires de plusieurs lignes sont entourés des symboles """, 
comme dans l'exemple ci-dessous.</p>

<pre><code class="language-python"># ceci est un commentaire d'une ligne

"""
ceci est un commentaire
sur plusieurs lignes
"""</code></pre>

<p>Il faut prendre l'habitude d'écrire les commentaires en anglais car Python est écrit en anglais, au début de chaque 
    fichier pour en expliquer le but, ainsi qu'au début de chaque fonction (on appelle ces commentaires des Docstrings dans 
    ce cas).</p>

<div class="exerciceType my-5">
<p>En résumé</p>

<ul>
    <li>les codes Python sont composés de blocs qu'on repère grâce à leur décalage par rapport au bord gauche de la page.</li>
    <li>les commentaires sont destinés aux développeurs et permettent de mieux comprendre le code</li>
    <li>les fonctions permettent d'éviter de répéter le code</li>
</ul>
</div>


<!-- EXECUTER PYTHON -->
<h3>Comment exécuter Python</h3>

<p>Pour coder en Python, il est généralement nécessaire d'installer Python 3 sur sa machine 
et d'en connaître le chemin d'accès. Ceci peut être difficile lorsqu'on commence la programmation. 
C'est pourquoi, chey ToKeta, on te propose d'exécuter tes codes en ligne sur le site et sans
 aucune installation préalable (partie <i>Bien débuter en Python</i>).</p>

<p>Lorsque tu seras plus à l'aise ne programmation, tu pourras alors installer toi-même Python 
    ainsi qu'un environnement de développement (partie <i>Progresser en Python</i>).</p>

<p>Ainsi pour exécuter un code, il te suffit d'attendre que l'interpréteur Python soit disponible 
    (le message <i>Initializing...</i> devient >>>), puis d'appuyer sur le bouton 
    <i>Exécuter Python</i> comme dans l'exemple ci-dessous.</p>


<!-- SANDBOX 1 -->
{% include '../../../sandbox.html' with nmr='1' %}
<script>
    texteInitial = 'print("Bonjour à tous les codeurs Python")';
    initializeSandbox(texteInitial, 1);
</script>

<p>Lorsque le résultat nécessite plusieurs lignes d'affichage, il apparaît alors sur la droite de 
    l'écran une barre de défilement afin de passer d'une ligne à l'autre comme dans l'exemple 
    ci-dessous :</p>


<!-- SANDBOX 2 -->
{% include '../../../sandbox.html' with nmr='2' %}
<script>
    texteInitial = 'for i in range(5):\n\tprint(i)';
    initializeSandbox(texteInitial, 2);
</script>


<!-- PYTHON AVEC UN JEU DE DEVINETTE -->

<p class="my-5 invisible" id="devinette">ancre</p>

<h3>Premiers contacts avec Python</h3>

<h4>Un jeu de devinette</h4>

<p>Voici le code d'un programme Python qui tire un nombre au hasard et demande au joueur de le deviner 
    en 5 tentatives. Comme le programme interagit avec l'utilisateur qui saisit des réponses au clavier, 
nous utiliserons l'interface <i>Trinket</i> ci-dessous. Pour exécuter le code, il suffit d'appuyer sur 
<i>Run</i></p>

<div class="exerciceApplication">
    <p><strong>A toi de jouer :</strong> exécute ce code pour comprendre le déroulement du jeu. Puis essaie de 
    répondre aux questions suivantes :</p>
    <ul>
        <li>Pour mieux comprendre ce que fait le programme, lit les lignes de codes une à une en essayant 
            de deviner ce qu'elles font.</li>
        <li>Si on veut maintenant que le jeu se joue en 10 tentatives, que faut-il changer dans le code ? 
            Exécute de nouveau le code après l'avoir modifié.</li>
        <li>Si on veut ensuite que le nombre à deviner soit compris entre 1 et 100, que doit-on changer 
            dans le code ?. Exécute de nouveau le code après l'avoir modifié.</li>
        <li>Si on veut finalement truquer le jeu pour que le joueur ne trouve jamais la solution. 
            Comment pourrait-on changer le code ? Exécute de nouveau le code après l'avoir modifié.</li>
    </ul>

<iframe src="https://trinket.io/embed/python3/d8582fda76" width="100%" height="356" frameborder="0" marginwidth="0" marginheight="0" allowfullscreen></iframe>

<p>Pour rappel, tu trouveras ci-dessous le code original :</p>
<pre><code class="language-python">from random import randint

nbre_essais_max = 5
tentative = 1
min = 0
max = 50
choisi = randint(min, max)   
proposition = -1                      

print("Devine en " + str(nbre_essais_max) + " le nombre que j'ai choisi, entre " + str(min) + " et " + str(max))

while proposition != choisi and tentative <= nbre_essais_max:
    proposition = int(input("Ta proposition : "))
    if proposition < choisi:
        print("Trop petit")
    elif proposition > choisi:
        print("Trop grand")
    else:
        print("Bravo ! Tu as trouvé " + str(choisi) + " en " + str(tentative) + " essai(s)")
    tentative += 1
        
if tentative > nbre_essais_max and proposition != choisi :
    print("Perdu. J'avais choisi le nombre : " + str(choisi))</code></pre>

</div>



<!-- PYTHON AVEC UNE COURSE D'ESCARGOTS 

<p class="my-5 invisible" id="escargots">ancre</p>

<h3>Découvrir Python avec une course d'escargots</h3>

<p>Voici le code d'un programme Python qui fait courir trois escargots jusqu'à une ligne d'arrivée et affiche 
    vainqueur lorsque le premier escargot a terminé.</p>

<pre><code class="language-python">from tkinter import *
from time import sleep
from random import randint

def demarrer():
    global x1, x2, x3
    y = 1000
    while x1 < 1040 and x2 < 1040 and x3 < 1040:
        nbre_hasard = randint(1,3)
        if nbre_hasard == 1:
            x1 += 10
            can.coords(esca1, x1, y1)
            y = y1
        elif nbre_hasard == 2:
            x2 += 10
            can.coords(esca2, x2, y2)
            y = y2
        else:
            x3 += 10
            can.coords(esca3, x3, y3)
            y = y3
        sleep(0.05)  
        can.update()
    can.coords(vainqueur, 500, y)


def reinit():
    global x1, x2, x3, y1, y2, y3
    can.coords(esca1, x1, y1)
    can.coords(esca2, x2, y2)
    can.coords(esca3, x3, y3)
    can.coords(vainqueur, 200, 800)

x1, y1  = 130, 75
x2, y2  = 130, 225
x3, y3  = 130, 375

fen = Tk()
fen.title("Course d'escargots")
can = Canvas(fen, width=1100, height=500, bg ='white')
can.pack(side=TOP, padx=5, pady=5)
b2 = Button(fen, text ='Départ de la course', width=15, command=demarrer)
b2.pack(side=RIGHT)

can.create_line(1080, 0, 1080, 500, width=5, fill="red")
can.create_line(250, 0, 250, 500, width=5, fill="green")
can.create_line(0, 150, 1100, 150, width=5, fill="black")
can.create_line(0, 300, 1100, 300, width=5, fill="black")
can.create_line(0, 450, 1100, 450, width=5, fill="black")

photo1 = PhotoImage(file ='~/Documents/ecg1.png')
esca1 = can.create_image(x1, y1, image=photo1)
photo2 = PhotoImage(file ='~/Documents/ecg2.png')
esca2 = can.create_image(x2, y2, image=photo2)
photo3 = PhotoImage(file ='~/Documents/ecg3.png')
esca3 = can.create_image(x3, y3, image=photo3)
photo4 = PhotoImage(file ='~/Documents/vainqueur.png')
vainqueur = can.create_image(200, 800, image=photo4) 

fen.mainloop()
fen.destroy()</code></pre>

<div class="exerciceApplication">
    <p><strong>A toi de jouer :</strong> crée un fichier vierge à l'aide de Visual Studio Code. Copie-colle le programme 
        ci-dessus dans ce nouveau fichier, donne un nom à ton fichier comme par exemple escargots.py. Télécharge ensuite les 
        images ecg1.png, ecg2.png, ecg3.png et vainqueur.png, puis place ces images dans le même dossier que 
        ton fichier escargot.py. Exécute ensuite le code pour jouer.</p>
    <p>Il est possible que ton programme rencontre des difficultés pour trouver l'adresse des images. Tu peux 
        dans ce cas placer ton fichier escargots.py ainsi que les images dans le dossier Documents et modifier 
        les adresses du type 'ecg1.png' en adresses du type '~/Documents/ecg1.png'  </p>
    <ul>
        <li>Cherche sur Internet l'utilité des bibliothèques random, time et tkinter qui sont importées au début du programme</li>
        <li>Les escargots se déplacent trop vite. Comment pourrait-on changer le code pour ralentir la progression 
            des escargots et que cela ressemble plus à une course d'escargots.</li>
        <li>Que représentent les nombres dans la ligne de code can.create_line(1080, 0, 1080, 500, width=5, fill="red") ?</li>
        <li>Comment pourrait-on modifier le code en truquant le jeu pour que le 3ème escargot gagne systématiquement la course ?</li>
    </ul>
    
<a href="{% static 'home/images/ecg1.png' %}" download><button class="bouton2 bi bi-download"> ecg1.png</button></a>
<a href="{% static 'home/images/ecg2.png' %}" download><button class="bouton2 bi bi-download"> ecg2.png</button></a>
<a href="{% static 'home/images/ecg3.png' %}" download><button class="bouton2 bi bi-download"> ecg3.png</button></a>
<a href="{% static 'home/images/vainqueur.png' %}" download><button class="bouton2 bi bi-download"> vainqueur.png</button></a>
</div>-->


<!-- QUIZ -->

<div class="row py-5 gx-md-5 gy-2" style="border:2px solid var(--couleur_titre);border-radius:10px;margin:0%;margin-top:5%;padding-left:2%;">
    <div class="col-12 col-md-6">
        <img class="img_ombre" src="{% static 'home/images/general/index14.jpg' %}">  
    </div>
    <div class="col-12 col-md-6 my-auto" style="text-align:center;">
        <a class="blink_me annonce_quiz" href="{% url 'afficherModeleQuiz' niveau='python' chapitre='debuter' id=0 %}">Essaie le Quiz maintenant !</a>
    </div>
</div>

{% endblock cours %}
