{% extends '../../../modelePage.html' %}
{% load static %}

{% block contenu %} 
<ul>
  
</ul>
{% endblock contenu %}

{% block cours %}

<p>Nous allons explorer le Terminal et apprendre à l'utiliser en suivant des directives étape par étape.</p>
<p>Toutes les instructions nécessaires à ce travail pratique se trouve dans le chapitre <em>Le système Linux</em>.</p>

<ul>
    <li>Ouvrir le Terminal puis se rendre dans le dossier Documents,</li>
    <li>Afficher tous les fichiers et sous-dossiers présents dans Documents, avec les détails et les fichiers cachés.</li>
    <li>Creer un sous dossier appelé Dossier_term</li>
    <li>Se rendre dans Dossier_term, puis y créer un fichier vide appelé fichier1.txt</li>
    <li>Ouvrir fichier1.txt avec nano, puis écrire dans ce fichier le texte "Les sanglots longs de 
        l'automne blessent mon coeur d'une langueur monotomne."</li>
    <li>Quitter nano, puis lire le contenu de fichier1.txt dans le Terminal</li>
    <li>Copier fichier1.txt puis le coller dans Documents sous le nom fichier2.txt</li>
    <li>Ouvrir fichier2.txt avec nano, puis en modifier le contenu pour que soit écrit 
        print("Les sanglots longs de l'automne ...")</li>
    <li>Renommer fichier2.txt en fichier3.py en respectant bien le changement d'extension.</li>
    <li>Exécuter en Python fichier3.px</li>
</ul>

{% endblock cours %}