{% extends '../../../modelePage.html' %}
{% load static %}

{% block contenu %} 
<ul>
    <li><a href="">l'historique</a></li>
	<li><a href="">l'architecture de Von Neumann</a></li>
	<li><a href="">une fiche mémo sur l'architecture des ordinateurs</a></li>
</ul>
{% endblock contenu %}

{% block cours %}

<!-- HISTORIQUE -->

<h3>Historique</h3>

<ul>
	<li>1945 - ENIAC première machine de Turing complète qui prend en charge toute fonction calculable.</li>
	<li>1945 - l'architecture de Von Neumann est adoptée pour tout ordinateur</li>
	<li>1953 - premier ordinateur à transistor</li>
	<li>1958 - premier circuit intégré</li>
	<li>1965 - loi de Moore, doublement de la capacité des circuits intégrés tous les 18 mois</li>
	<li>1970 - premier micro-processeur Intel</li>
	<li>1976 - Apple I</li>
	<li>1981 - IBM PC</li>
</ul>


<h3>Architecture de Von Neumann</h3>

<p>Un ordinateur est une machine capable de traiter de l'information codée sous forme binaire. Celle-ci est 
	manipulée par un processeur puis stockée dans de la mémoire. Au sens général du terme, un ordinateur peut se 
	présenter sous différentes formes : PC, laptop, smartphones, tablettes et autres objets connectés.</p>
	
<p>Un ordinateur respecte la structure de Von Neumann, qui est composée des éléments suivants :</p>

<ul>
	<li>un processeur aussi appelé CPU Central Processing Unit</li>
	<li>de la mémoire vive RAM et de la mémoire persistante SSD / ROM</li>
	<li>des bus qui permettent la communication en le processeur et la mémoire</li>
</ul>

<img src="../../images/nsi/vonneumann.png" alt="architecture Von Neumann" width="50%">


<h4>Processeur</h4>

<p>On trouve dans le processeur :</p>
<ul>
	<li>l'unité arithmétique et logique UAL, responsable des opérations élémentaires, qui contient un registre appelé 
		accumulateur ACC</li>
	<li>l'unité de contrôle UC, responsable des instructions à suivre, qui émet des codes d'opération CO et met à jour
		 le compteur de programme CP</li>
</ul>

<p>La vitesse du processeur est donnée en GHz qui correspond au nombre de milliards de tâches élémentaires 
	effectuées en 1 seconde. Les processeurs actuels sont multi-coeurs, c'est à dire qu'ils sont construits 
	avec plusieurs unités autonomes de travail appelées coeurs, qui leur permettent d'effectuer des 
	opérations simultanément.</p>

<h4>Mémoire</h4>

<p>Dans un ordinateur, on retrouve la mémoire sous différentes formes :

<ul>
	<li>le registre est une mémoire interne au processeur qui permet un gain de temps en stockant les résultats des opérations élémentaires.</li>
	<li>la mémoire vive RAM dont le contenu est perdu lorsqu'on éteint l'ordinateur. Il s'agit essentiellement 
		de la mémoire centrale et de la mémoire cache.  La mémoire centrale contient les résultats 
	des programmes en cours. Sa taille est de l'ordre de plusieurs Go. La mémoire cache permet d'adapter la vitesse 
du processeur à celle de la mémoire centrale. Il s'agit donc d'une mémoire intermédiaire et plus rapide qui contient 
les données venant d'être utilisées.</li>
<li>la mémoire de stockage de type SSD, ROM ou encore sous forme de disque dur. Elle contient les données importantes qui 
	doivent être conservées pour le fonctionnement du système d'exploitation et des applications. Attention, 
	ceci n'a rien à voir avec les données issues des applications et stockées dans des serveurs. Elle contient 
également les données que l'utilisateur souhaite conserver sur un support en dehors du cloud.</li>
</ul>


<h4>Les bus</h4>

<p>Le processeur communique avec la mémoire et les périphériques à l'aide de 3 bus :</p>
<ul>
	<li>le bus d'adresses fait le lien entre le processeur et l'adresse mémoire à laquelle accéder</li>
	<li>le bus de données transporte les données vers le processeur ou vers la mémoire</li>
	<li>le bus de contrôle, coordonne le fonctionnement du processeur et de la mémoire</li>
</ul>



<!-- FICHE MEMO -->

<h3>Fiche mémo</h3>

<iframe src='../../documents/memo_architecture_materielle.pdf' width='850px' height='1120px' type='application/pdf'></iframe>

{% endblock cours %}