{% extends '../../../modelePage.html' %}
{% load static %}

{% block contenu %} 
<ul>
    <li>utiliser les applications Google Maps et Geoportail pour se localiser</li>
    <li>effectuer des calculs de triangulation pour se localiser</li>
</ul>
{% endblock contenu %}

{% block cours %}

<div class="row">
    <div class="col-12">
        <iframe src="{% static 'home/documents/TP_geolocalisation.pdf' %}" height='1200px' width='1100px' type='application/pdf'></iframe>
    </div>
</div>

{% endblock cours %}