{% extends '../../../modelePage.html' %}
{% load static %}

{% block contenu %}
<ul>
    <li>utilisation de conditions</li>
    <li>utilisation de boucles</li>
    <li>utilisation de fonctions</li>
    <li>pratique de la construction de code</li>
</ul>
{% endblock contenu %}

{% block cours %}

<p><em>Travail Pratique proposé par N. Samarine.</em></p>

<div class="row">
    <div class="col-12">
        <iframe src="{% static 'home/documents/TP_liste_fonctions.pdf' %}" height='1200px' width='1100px' type='application/pdf'></iframe>
    </div>
</div>

{% endblock cours %}