{% extends '../../../modelePage.html' %}
{% load static %}

{% block tampon %}
<p class="tampon">COURS ...</p>
{% endblock tampon %}

{% block cours %}

<!-- ENVIRONNEMENT DE DEVELOPPEMENT -->
<p>Il est important de bien choisir son outil pour développer du code et exécuter Python. En effet, développer demande de passer du temps devant son écran et il est préférable 
d'avoir une interface conviviale, facile à utiliser, performante et proposant des fonctionnalités intéressantes.</p>
<p>On peut construire un programme et l'exécuter en utilisant un site internet disposant d'une console et d'un interpréteur 
    en ligne. Dans ce cas aucune installation de Python n'est requise. On peut également construire un programme Python
     et l'exécuter à l'aide de l'éditeur intégré de Python <em>IDLE</em>, qui colorie 
    automatiquement le code mais dispose de fonctionnalités très limitées. Il est plus pratique d'utiliser un éditeur de 
    texte tel que <em>Sublim Text</em> ou <em>NotePad++</em> qui colorient automatiquement le code en fonction du langage choisi et 
    proposent en plus une auto-complétion des instructions. Il faut dans ce cas utiliser le Terminal pour exécuter le code. 
    Il est encore plus efficace d'utiliser un Environnement de Développement Intégré IDE tel que <em>PyCharm</em>, 
    <em>JetBeans</em> ou <em>Visual Studio Code</em> (ce dernier n'étant pas toujours considéré comme un IDE),
     qui proposent en plus une recherche passive des erreurs de frappe, un debugger (aide pour corriger les bugs)
    et le paramétrage des outils de versioning (pour conserver l'historique du code). L'exécution du code s'effectue 
    dans ce cas par le biais de l'IDE qui propose le choix des versions de Python présentes sur l'ordinateur.
    
    
    IDLE s'installe automatiquement avec Python, 
    et il faut ouvrir un nouveau module pour créer un fichier 
</p>
<p>On peut construire un programme Python en utilisant un éditeur de texte tel que <em>Sublim Text</em>,
    <em>NotePad++</em>  qui colorient automatiquement le code en fonction du langage choisi et proposent une 
    auto-complétion des instructions. On peut ensuite exécuter ce programme à l'aide du Terminal d'un ordinateur 
    (sous Linux et MacOS) ou le Powershell (sous Windows).
    </p>


<div class="exerciceType">
    <p>En résumé</p>
    <p>Il est possible d'exécuter Python en utilisant l'un des outils suivants (du plus pratique au plus performant) :</p>

    <ul>
        <li>un site internet proposant un interpréteur en ligne</li>
        <li>l'éditeur intégré de Python IDLE</li>
        <li>un éditeur de texte et le Terminal pour exécuter le code</li>
        <li>un environnement de développement intégré IDE</li>
    </ul>
</div>


<h4>Exécuter son code à l'aide d'un interpréteur en ligne</h4>

<p>Lorsqu'on débute en Python, l'installation de Python et le paramétrage du chemin d'accès peut s'avérer laborieux et décourageant. 
    Il peut être pratique de se consacrer uniquement à la rédaction du code 
    au lieu de passer du temps à installer et à configurer un Environnement de Développement fonctionnel.
    Pour cela, il existe des consoles Python en ligne, présentes sur des pages Web, qui exécutent votre code 
    à partir d'un serveur distant ayant déjà installé et configuré Python.</p>

<p>Il suffit dans ce cas de se rendre sur un site Internet proposant l'exécution de code. Nul besoin d'installer Python sur sa machine.
    Voici par exemple une liste de trois sites qui fournissent cette prestation et fonctionnent correctement :</p>

<ul>
    <li><a href="https://www.onlinegdb.com/online_python_compiler" target="_blank">OnlineGDB compiler</a></li>
    <li><a href="https://www.programiz.com/python-programming/online-compiler/" target="_blank">Programiz compiler</a></li>
    <li><a href="https://console.basthon.fr/" target="_blank">Basthon console</a></li>
</ul>
    
    <p>Dans tous les cas, l'interface graphique qui se présente devant vos yeux est composée d'une partie consacrée à l'écriture du code et
    d'une console dans laquelle apparaissent les résultats lors de l'exécution du code. </p>

    <p>Avec OnlineGDB compiler, l'interface graphique ressemble à ceci :</p>
    <img src="{% static 'home/images/python/gdbcompiler.png' %}"  alt="python online gdb compiler" width="60%" style="margin-bottom:5%;">

    <p>Avec Programiz compiler, l'interface graphique ressemble à ceci : </p>
    <img src="{% static 'home/images/python/programizcompiler.png' %}"  alt="python online programiz" width="90%" style="margin-bottom:5%;">

    <p>Avec Basthon console, l'interface graphique ressemble à ceci : </p>
    <img src="{% static 'home/images/python/basthoncompiler.png' %}"  alt="python online Basthon" width="100%" style="margin-bottom:5%;">


    <p>L'exécution d'un programme est très intuitive sur ces interpréteurs et se réalise
        avec la touche <em>Run</em> ou <em>Exécuter</em>. Tu peux tester le fonctionnement de ces interpréteurs avec le code ci-dessous.</p>
    
    <div class="exerciceApplication">
        <p><strong>A toi de jouer : </strong>par exemple, pour afficher "Hello world", exécutez le code suivant dans l'interpréteur en ligne de ton choix :</p>
        <pre><code class="language-python">print("Hello world")</code></pre>
        <p>Petit rappel : la touche <em>Run</em> ou <em>Exécuter</em></p>
    
        <p>Si tout fonctionne normalement, tu dois voir s'afficher sur une partie de l'écran</p> <pre><code class="language-python">Hello world</code></pre>
    </div>

<p>Bien joué, tu viens d'exécuter ton premier programme Python. &#128515;</p>

    <p>A noter que Basthon offre une particularité très intéressante, en proposant également un moyen de lire et d'exécuter les 
        Jupyter Notebooks. Il s'agit de documents au format .IPYNB contenant à la fois des zones de texte et des 
        zones de console Python exécutables. Ces Notebooks peuvent donc être stockés sur ton ordinateur et 
        exécutés en ligne après upload, ce qui ne nécessite pas l'installation de Python et constitue une excellente alternative 
        d'apprentissage. Pour uploader un Notebook, il faut se rendre sur le site <a href="https://notebook.basthon.fr/" target="_blank">Basthon notebook</a></p>

        <p>Les interpréteurs en ligne sont très pratiques, mais ont principalement trois inconvénients. Ils peuvent être lents suivant 
            le traffic occasionné sur le site au moment de son utilisation, et ils n'acceptent pas d'affichage en sortie avec une fenêtre indépendante
             du navigateur utilisé. Il devient dans ce cas compliqué de faire des dessins ou de créer des fenêtres pour une application. Par 
            ailleurs, certains interpréteurs en ligne n'acceptent pas de uploader des images servant de support à 
        votre code.</p>
        
        <p>Les interpréteurs en ligne offrent donc une solution pratique mais temporaire. Si tu ne parviens pas à installer un environnement de 
            développement, les interpréteurs en ligne sont une bonne alternative permettant un progression rapide 
            dans l'apprentissage.</p>


<h4>Exécuter son code à l'aide de IDLE</h4>

<p>Cette manière de procéder est plus complexe. Elle requiert un peu d'expérience pour télécharger et installer Python sur son ordinateur.</p>
<p>Python est souvent installé nativement sur les ordinateurs, mais sa version permet uniquement de faire fonctionner certaines applications de la machine.
    Cette version n'est généralement pas accessible à l'utilisateur pour exécuter du code. Il est donc nécessaire d'installer une 
    autre version de Python pour développer ses propres programmes.</p>
    
<p>Il faut d'abord télécharger et installer une version récente de Python sur 
    sa machine. Pour cela, il faut se rendre sur le <a href="https://www.python.org/downloads/">site officiel de Python</a>, 
    suivre la documentation, télécharger une version du langage et l'installer. Il existe de nombreux tutoriels 
expliquant comment installer une version de Python, sachant que pour chaque système d'exploitation l'installation est différente.</p>

<div class="exerciceApplication">
<p><strong>A toi de jouer : </strong>une fois qu'une version de Python a été installée sur la machine, l'éditeur intégré de Python appelé IDLE est présent 
    et fonctionnel. Il suffit de l'ouvrir pour voir apparaître une console capable d'exécuter séparément des lignes de 
    code. Pour exécuter un programme complet, donc un fichier, il faut ouvrir un nouveau Module, taper une ligne de code 
    comme par exemple :</p>

<pre><code class="language-python">print("hello world")</code></pre>

<p>puis enregistrer le fichier en lui donnant un nom et un emplacement, par exemple bonjour.py dans le dossier Documents.</p>

<p>Pour exécuter le code il suffit de sélectionner Run Module en haut de la fenêtre IDLE et il devrait apparaître dans 
    la toute première page qui a été ouverte, celle de la console :</p>

<pre><code class="language-svg">hello world</code></pre>
</div>

<p>A ce niveau les principaux problèmes que tu peux rencontrer sont les suivants :</p>
<ul>
    <li>tu as donné un nom de fichier avec des " et des espaces et le programme s'exécute mal</li>
    <li>tu ne vois pas le résultat affiché car tu cherches sur ta page Module au lieu de la première page ouverte Console</li>
</ul>
           

<h4>Exécuter son code à l'aide du Terminal</h4>
    
<p>Comme précédemment, il faut télécharger et installer une version récente de Python sur 
    sa machine. Pour cela, il faut se rendre sur le <a href="https://www.python.org/downloads/">site officiel de Python</a>, 
    suivre la documentation, télécharger une version du langage et l'installer. Il existe de nombreux tutoriels 
expliquant comment installer une version de Python, sachant que pour chaque système d'exploitation l'installation est différente.</p>

<p>Il faut ensuite installer un éditeur de texte comme Sublim Text ou NotePad++. Voici le lien vers 
    le <a href="https://www.sublimetext.com/3">site officiel de Sublim Text</a>.</p>

<p>L'exécution d'un programme au Terminal est simple et rapide si les installations de Python et Sublim Text fonctionnent 
    correctement.</p>

    <div class="exerciceApplication">
        <p><strong>A toi de jouer : </strong>par exemple, pour afficher "Hello world", il faut se placer dans un dossier comme Documents,
            creer un fichier appelé bonjour.py dans ce dossier, puis ouvrir ce fichier dans Sublim Text et finalement écrire son premier code :</p>
        <pre><code class="language-python">print("Hello world")</code></pre>

        <p>Ensuite, ouvrir le Terminal, et exécuter l'instruction suivante en précisant le chemin d'accès à bonjour.py qui 
            se trouve dans le dossier Documents. Pour exécuter du Python il suffit de commencer par python3. Pour exécuter 
            une instruction au Terminal, il suffit d'appuyer sur la touche Entrée après avoir tapé cette instruction.</p>
        <pre><code class="language-svg">python3 ~/Documents/bonjour.py</code></pre>
        <p>La plus grosse difficulté et la principale source d'erreurs consiste à se tromper dans l'adresse du fichier 
            ~/Documents/bonjour.py, qui dépend de l'emplacement où se trouve ton fichier.</p>
        <p>Si tout fonctionne normalement, tu dois voir s'afficher dans ton Terminal :</p>
        <pre><code class="language-python">Hello world</code></pre>
    </div>

<p>On constate donc que l'éditeur de texte sert à écrire son code, et le Terminal demande à l'ordinateur 
    d'exécuter le langage Python.</p>

    <p>Cette méthode présente deux inconvénients majeurs. Tout d'abord il faut télécharger et installer manuellement 
        toutes les bibliothèques qui n'existent pas nativement dans Python et qu'on souhaite utiliser. C'est le cas 
        par exemple de matplolib ou de biopython. Ensuite, on ne dispose ni d'un correcteur de code intégré, ni 
    d'un debuggeur. Toutefois, il peut être pratique d'exécuter un code directement au Terminal pour vérifier par exemple qu'un 
        problème d'exécution n'est pas lié à l'environnement de développement qu'on utilise. Et puis cela permet de 
    bien comprendre que Python ne fait pas partie de l'environnement de développement ou de l'éditeur de texte,
     mais qu'il est simplement utilisé par cet environnement de développement.</p>


<h4>Exécuter son code à l'aide d'un environnement de développement intégré IDE</h4>
 
<p>La principale difficulté lors de l'utilisation d'un environnement de développement intégré est la suivante : 
    l'exécution d'un programme Python nécessite en général que le développeur paramètre sur son ordinateur le chemin d'accès à l'interpréteur Python, 
 car il y a de fortes chances pour que votre machine dispose de plusieurs versions de Python.</p>

<p>L'installation et la configuration sont dans ce cas plus complexes que pour un simple éditeur de texte et dépendent de chaque IDE. 
    A noter que de nombreux IDE utilisent un espace de travail (workspace) dans lequel sont stockés les fichiers 
    sources et les utilitaires. Attention donc, les fichiers enregistrés ne sont pas toujours là où l'on pense.</p>

<p>Prenons l'exemple de Visual Studio Code. L'installation se fait à partir de la page <a href="https://code.visualstudio.com/download">Visual Studio Code download</a>.</p>
    
<div class="exerciceApplication">

<p><strong>A toi de jouer : </strong>une fois l'installation et la configuration de Visual Studio Code terminée, il est possible d'ouvrir un Nouveau fichier, de choisir le langage 
de développement (ici Python), de créer un petit programme comme par exemple :</p>

<pre><code class="language-python">print("hello world")</code></pre>

<p>Il suffit de l'exécuter en cliquant sur la flèche en haut à gauche de la fenêtre. Il est même possible de choisir 
    un autre Terminal d'exécution pour conserver le Terminal courant actif, ou d'exécuter le fichier en mode debuggage.</p>

<img src="{% static 'home/images/python/visual.png' %}" width="30%">
<p>pour voir s'afficher un Terminal dans lequel apparaît le résultat :</p>
<pre><code class="language-svg">hello world</code></pre>
</div>

<p>Lorsque vous exécutez votre programme directement sur votre machine au lieu d'utiliser un interpréteur en ligne, 
    il peut être utile de rajouter à la première ligne de votre code un shebang qui indique à l'ordinateur où se 
    trouve dans votre machine la version du langage Python que vous souhaitez utiliser, comme dans l'exemple ci-dessous
     où Python se trouve dans le répertoire bin :</p>

<pre><code class="language-python">#!/usr/bin/python3</code></pre>

<p>Pour enregistrer votre code, il faut penser à lui donner l'extention .PY, comme par exemple monFichier.py</p>

<p>Le debugger est un outil particulièrement intéressant, qui propose non seulement des commentaires relatifs aux erreurs de code, 
    des solutions possibles, mais également la possibilité d'exécuter le code de point d'arrêt en point d'arrêt pour connaître l'état des 
    variables du programme à chacune des lignes de son exécution, ces lignes ayant été préalablement définies par le développeur.</p>

<p>Un outil de versioning tel que <em>Git</em> est également très utile puisqu'il permet de conserver un historique des différentes versions de code, de revenir en arrière 
    en choisissant une version plutôt qu'une autre si le code actuel n'est pas satisfaisant. Par ailleurs, il permet de travailler sur des copies de code 
    plutôt que sur des originaux et de regrouper le travail de toute une équipe en évitant les conflits de code.</p>


<!-- QUIZ -->

<div class="row py-5 gx-md-5 gy-2" style="border:2px solid var(--couleur_titre);border-radius:10px;margin:0%;margin-top:5%;padding-left:2%;">
    <div class="col-12 col-md-6">
        <img class="img_ombre" src="{% static 'home/images/general/index14.jpg' %}">  
    </div>
    <div class="col-12 col-md-6 my-auto" style="text-align:center;">
        <a class="blink_me annonce_quiz" href="{% url 'afficherModeleQuiz' niveau='python' chapitre='debuter' id=0 %}">Essaie le Quiz maintenant !</a>
    </div>
</div>

{% endblock cours %}
