/* couleurs
target: all pages */
:root{
  --couleur_titre:#61c9a8;
  --couleur_important: #ed9b40;
  --couleur_retenir: #ed9b40;
  --couleur_lien: lightslategray; 
  --couleur_nav: #61c9a8;
  --couleur_fond: #c6e7dc;
  --couleur_2: #aa8f66;
  --couleur_3: #ffeedb;
  --couleur_4: #ba3b46;
}

.separateur{
  border-bottom:2px solid lightgray;
  margin-top:2%;
  margin-bottom:2%;
}

.invisible{
  visibility:hidden !important;
  padding-top:7%;
}
.img_ombre{
  width:100%;
  border-radius:10px;
  box-shadow:2px 8px 10px 2px lightslategray;
}

.annonce_quiz{
  font-size:1.5em;
}

.couleur_reponseCorrecte {
  color:white;
  background-color:#49b749;
  padding-right:3%;
  padding-left:3%;
}

.couleur_reponseIncorrecte {
  color:white;
  background-color: #db4f4f;
  padding-left:3%;
  padding-right:3%;
}

.quiz-container{
  margin: 0 auto;
}

.bg-gris{
  background-color:lightgray;
}

/* couleur de fond
target: toutes les pages */
body{
  background-color: white;
}

/* texte important
target: toutes les pages */
strong{
  font-weight: bold;
}

.important{ /* fils de strong */
  color: var(--couleur_important);
  font-weight: bold;
  display: inline;
}

/* paragraphes 
target: all pages */
p{
  font-family: Arial, Cambria;
  font-size: 1.2em;
  color: black;
  text-align: justify;
}

iframe{
  height:auto;
  width:100%;
  aspect-ratio:16/9;
}
.p3_index{
  font-size:1.5em;
}

/* blocs ligne et colonne
target: toutes les pages */
.bloc_colonne{
  /* deprecated A REMPLACER PETIT A PETIT PAR colonne */
  display: flex;
  flex-direction: column;
}
  
.bloc_ligne{
  /* deprecated */
  display: flex;
  flex-direction: row;
}

.colonne{
  display: flex;
  flex-direction: column;
}
  
.ligne{
  display: flex;
  flex-direction: row;
}

.noir{
  color: black;
}

/* titres
target: toutes les pages */ 

h1{
  color:black;
}

h2{
  color: black;
  font-family: Arial, Cambria;
  font-size: 2em;
  text-align: center;
  margin-top: 10%;
  margin-bottom: 3%;
}
.toketa{
  background: -webkit-linear-gradient(45deg, var(--couleur_titre), var(--couleur_retenir) 30%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
h3{
  /* primary color */
  color:var(--couleur_titre);
  font-family: Arial, Cambria;
  font-size: 1.5em;
  font-weight:bold;
  margin-top: 3%;
  /* comptage titre h3 */
  counter-increment: section;
  counter-reset: subsection;
}

h3:before{
  /* comptage titre h3 */
  content: counter(section) ". ";
}

h4{
  color: var(--couleur_titre);
  font-family: Arial, Cambria;
  font-size: 1.2em;
  font-weight:bold;
  margin-top: 3%;
}

/* partie separee par un saut de ligne, integrant du code
target: toutes les pages*/ 
pre{
  color: black;
}

code{
  color:slategray;
}

/* photo qui s'eloigne 
target: index.php */
.stage {
  overflow: hidden;
  position: relative;
}

.actor{
  animation: zoomout 15s linear;
  background-size: cover;
  inset: 0;
  opacity: 1;
  position: relative; 
  }

@keyframes zoomout {
  1%{
    opacity: .2;
    scale: 1.2;
  }
  25% {
    opacity: 1;
    scale: 1.15;
  }
  50% {
    scale: 1.1;
    
  }
  75%{
    scale: 1.05;
  }
  100% {
    scale: 1;
  }
}

/* bootstrap */


a{
    color: lightslategray;
    font-family: Arial, Cambria;
    font-size:1.1em;
    text-decoration: none;
}

a:hover{
    color: var(--couleur_important);
}



/* tables */
table{
  font-family: Arial, Cambria;
  font-size: 1.2em;
  border-collapse: collapse; /* colle les cellules du tableau entre elles */
  color: black;
}

td{/* champs */
  font-family: Arial, Cambria;
  padding: 5px;
  padding-left: 30px;
  padding-right: 30px;
  border: 1px solid lightslategray;
  background-color: white;
}

td > pre{/* champs dans lesquelles se trouvent du code */
  font-size:0.8em;
}

th{/* descripteurs */
  font-family: Arial, Cambria;
  padding: 5px;
  padding-left: 30px;
  padding-right: 30px;
  border: 1px solid lightslategray;
  background-color: white;
}

ul{
  color:black;
}
/* listes
target: toutes les pages */
li{
  list-style-type: disc;
  font-family: Arial, Cambria;
  font-size: 1.2em;
  color: black;
}

.fieldsetDefinition > ul{
  color: var(--couleur_retenir);
}

.fieldsetDefinition > ul > li{
  color: var(--couleur_important);
}

/* section 'A vous de jouer'
target: toutes les pages */
.exerciceApplication{
    border-left: 4px black dashed;
    padding-left: 1%;
    padding-right: 1%;
    margin-top: 1%;
    margin-bottom: 1%;
}

/* section exemple type
target: toutes les pages de maths */
.exerciceType{
  background-color: var(--couleur_fond);/*#cee6ec;*/
  padding-left:1%;
  margin-top: 1%;
  margin-bottom: 1%;
}

/* section resume a la fin de chaque section
target: toutes les pages de python */
.resume{
  background-color: var(--couleur_fond);
  padding:1%;
  margin-top: 1%;
  margin-bottom: 1%;
}

/* section quiz a la fin de chaque questionnaire unique
target: toutes les pages de python */
.quizUnique{
  background-color: lightslategray;
  padding:1%;
  margin-top: 1%;
  margin-bottom: 1%;
}

.essentiel{
  border: 4px var(--couleur_titre) dashed;
  background-color: var(--couleur_fond);
  padding:1%;
  padding-top:0;
}

/* encadre important 
target: toutes les pages */
.fieldsetDefinition{
  margin-top: 3%;
  margin-bottom: 3%;
}

.fieldsetDefinition > h4{
  color: var(--couleur_4);
  margin-top: 0%;
}

.fieldsetDefinition > p{
  color: var(--couleur_4);
} 

.fieldsetDefinition > li{
  color: var(--couleur_4);
}

/* images
target: toutes les pages */
figure{
  margin: auto;
  text-align: center;
  color: white;
  font-family: Arial, Cambria;
  font-size: 1em;
}

figcaption{
  font-style: italic;
}


label{
  color:black;
  font-size:1em;
  margin-bottom:5px;
  margin-left:5px;
}


footer p{
color: var(--couleur_lien);
}


/* USE ??? */
  .bloc_choix_contenu{
    height:10%;
    margin: 2%;
    margin-top: 0%;
    padding: 2%; 
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top: 10px var(--couleur_lien) solid;
    background-color: lightgrey;
  }

  .image_index{
    border-radius:5%;
    box-shadow:2px 8px 10px 2px lightslategray;
  }

  /* pour centrer une image */
  .center{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .bloc_choix_contenu p{
    color: var(--couleur_lien);
  }

.navig_table_matiere{
  display: flex;
  flex-direction: column;
  
}
.navig_table_matiere a{
  margin: 1%;
}

/* bouton 
target: all pages */
.bouton{
    line-height: 2;
    padding: 5px 10px;
    margin-bottom: 10px;
    border: 0;
    font-size: 1em;
    background-color:var(--couleur_nav);
    color: white;
    border-radius: 10px;
    font-family: Arial, Cambria;
    cursor: pointer;
    transition: background-color 500ms;
}

.bouton:hover{
    background-color: var(--couleur_2);
    cursor: grab;
}

/* bouton 
target: all pages */
.bouton2{
  line-height: 2;
  padding: 5px 10px;
  margin-bottom: 10px;
  border: 0;
  font-size: 1em;
  background-color:white;
  color: var(--couleur_titre);
  border-radius: 10px;
  border-style: solid;
  border-width: 2px;
  border-color: var(--couleur_titre);
  font-family: Arial, Cambria;
  cursor: pointer;
  transition: background-color 500ms;
}

.bouton2:hover{
  color: var(--couleur_2);
  border-color: var(--couleur_2);
  cursor: grab;
}

/* augmente la taille des liens images au passage de la souris dans l'index*/
.choix{
    color: black;
    text-decoration: none;
    transform: scale(1);
    transition: transform 500ms;
    cursor: pointer;
  }
  
  .choix:hover{
    transform: scale(1.03);
  }

  
  /* fait clignoter */
.blink_me {
  font-size:1.5em;
  margin-top:5%;
  color:var(--couleur_lien);
  font-weight:bold;
  animation: blinker 1s ease infinite;
}
@keyframes blinker {
  50% {
    opacity: 0;
  }
}

/* BALLE REBONDISSANTE 
target: pages tables de matieres */

/* forme la balle */
.ball{
  background: linear-gradient(var(--couleur_important), var(--couleur_nav)); 
  height: 150px;
  width : 150px;
  border-radius: 50%;
  position: relative;
  bottom: 0px;
  left : 45%;
  animation: bounce 2s infinite;
  padding-top:2.5%;
}
/*anime la balle*/
@keyframes bounce {
  25%{
  height : 150px;
  width : 150px;
  }
  50%{
  height : 110px;
  width : 157px;
  transform : translateY(150px);
  }
  75%{
  height : 150px;
  width: 150px;
  }
  100%{
  transform: translateY(0px);
  }
}
/* container de la balle */
.container_ball{
  height:250px;
  margin-bottom:5%;
}
/* texte dans la balle */
.text_ball{
  color:white;
  margin-left:10%;
  font-weight:bold;
  font-size:2em;
}

/* -------------------------------------------------
           LES MISES EN FORMES POUR EXEMPLES
Ces mises en forme ne sont pas utilisées pour l'ensemble de la page, mais
uniquement pour l'affichage de certains exemples 
----------------------------------------------------*/

.exempleBloc:nth-child(1){ /* exemples html "La mise en page avec Flexbox" */
    background-color: #CF6084;
  }
  .exempleBloc:nth-child(2){
    background-color: #70995E;
  }
  .exempleBloc:nth-child(3){
    background-color: #33A9CC;
  }
  #exempleBloc10-1{
    background-color: #CF6084;
  }
  #exempleBloc10-2{
    background-color: #70995E;
  }
  #exempleBloc10-3{
    background-color: #33A9CC;
    align-self: flex-end;
  }
  #exempleBloc11-1{
    background-color: #CF6084;
    order: 2;
  }
  #exempleBloc11-2{
    background-color: #70995E;
    order: 1;
  }
  #exempleBloc11-3{
    background-color: #33A9CC;
    order: 3;
  }
  #exempleBloc12-1{
    background-color: #CF6084;
    flex: 1;
  }
  #exempleBloc12-2{
    background-color: #70995E;
  }
  #exempleBloc12-3{
    background-color: #33A9CC;
  }
  #exempleBloc13-1{
    background-color: #CF6084;
    flex: 2;
  }
  #exempleBloc13-2{
    background-color: #70995E;
    flex: 1;
  }
  #exempleBloc13-3{
    background-color: #33A9CC;
  }
  #exempleConteneur1{
    border: 1px black dotted;
    display: flex;
    flex-direction: row;
  }
  #exempleConteneur2{
    border: 1px black dotted;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
  #exempleConteneur3{
    border: 1px black dotted;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  #exempleConteneur4{
    border: 1px black dotted;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  #exempleConteneur5{
    border: 1px black dotted;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  #exempleConteneur6{
    border: 1px black dotted;
    display: flex;
    flex-direction: row-reverse;
  }
  #exempleConteneur7{
    border: 1px black dotted;
    display: flex;
    flex-direction: column;
  }
  #exempleConteneur8{
    border: 1px black dotted;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100px;
  }
  #exempleConteneur9{
    border: 1px black dotted;
    display: flex;
    flex-direction: column-reverse;
  }
  .exempleConteneur10{
    border: 1px black dotted;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100px;
  }
  .exempleConteneur12{
    border: 1px black dotted;
    display: flex;
    flex-direction: row;
  }
  #blocIndependant{ /* exemple html "la notion de bloc" */
    background-color: #33A9CC;
  }
  #span1{
    background-color: #CF6084;
  }
  #span2{
    background-color: #70995E;
  }
  