{% extends '../../../modelePage.html' %}
{% load static %}

{% block contenu %}
<ul>
    <li>utilisation de conditions</li>
    <li>utilisation de boucles</li>
    <li>utilisation de fonctions</li>
    <li>utilisation de listes</li>
    <li>pratique de la construction de code</li>
</ul> 
{% endblock contenu %}

{% block cours %}

<p>Ce projet est l'occasion d'un travail en binôme. Il vous est demandé de construire un jeu de pendu simple 
    mais fonctionnel, qui utilise la bibliothèque turtle pour dessiner le pendu et une interface graphique 
    sous forme de fenêtre pour saisir les propositions du joueur.</p>

<p>Vous afficherez dans une fenêtre des tirets à la place du mot à trouver, puis les lettres correctes trouvées 
    par le joueur aux emplacements correspondant dans ce mot. Vous afficherez également toutes les lettres 
    proposées par le joueur.</p>

<p>Le joueur dispose de 5 tentatives pour gagner. A la 6ème tentative, le joueur perd la partie.</p>

<p>Vous afficherez finalement dans la même fenêtre si le joueur a perdu ou gagné, et dans ce cas vous rajouterez 
    son score en pourcentage.</p>

<p>Une solution possible :</p>

<pre><code class="language-python">"""
This module implements a simple hangman game using the turtle graphics library 
to draw the hangman figure on the screen.

The module includes several helper functions for word manipulation and game control.

The module requires the follownig dependencies :
    - turtle library 
    - random library

Usage:
    Run the module to start the hangman game. Guess letters to find the hidden word
    before the hangman is completely drawn.

Functions:
    to_word(liste: list) -> str:
        Converts a list of characters into a single word.

    to_list(mot: str) -> list:
        Converts a word into a list of individual characters.

    terminer(mot_trouve: str, mot_cherche: str, nb_tentatives: int) -> bool:
        Determines if the game should stop based on the conditions.

    dessiner(etape: int) -> None:
        Draws a specific step of the hangman figure on the turtle canvas.
"""
import turtle as tu
import random
import time

def to_word(liste: list) -> str:
    """
    Converts a list of characters into a single word.

    Args:
        liste (list): A list of characters.

    Returns:
        (str): The word formed by joining the characters in the list.
    """
    return ''.join(liste)

assert to_word(['a', 'b', 'c']) == 'abc', 'erreur to_word()'


def to_list(mot: str) -> list:
    """
    Converts a word into a list of individual characters.

    Args:
        mot (str): A word to be converted into a list.

    Returns:
        (list): A list containing individual characters of the word.
    """
    resultats = []
    for l in mot:
        resultats.append(l)
    return resultats

assert to_list('abc') == ['a', 'b', 'c'], 'erreur to_list()'


def terminer(mot_trouve: str, mot_cherche: str, nb_tentatives: str) -> bool:
    """
    Determines if the game should stop based on the conditions.

    Args:
        mot_trouve (str): The word that has been found so far.
        mot_cherche (str): The target word to be found.
        nb_tentatives (int): The number of attempts made.

    Returns:
        (bool): True if the game should stop, False otherwise.
    """
    return mot_trouve == mot_cherche or nb_tentatives == 6

assert terminer('bonjour', 'bonjour', 5) == True, 'erreur terminer()'
assert terminer('bonjour', 'hello', 5) == False,  'erreur terminer()'
assert terminer('bonjour', 'hello', 6) == True, 'erreur terminer()'

def dessiner(etape: int) -> None:
    """
    Draws a specific step of the hangman figure on the turtle canvas.

    Args:
        etape (int): The step of the hangman figure to be drawn.
                        Valid values are integers from 1 to 6.

    Returns:
        None
    """
    tu.color('red')
    match etape:
        case 1:
            # head
            tu.goto(-74, 140)
            tu.pendown()
            tu.right(90)
            tu.circle(15, None, 100)
            tu.penup()
        case  2:
            # chest
            tu.goto(-74, 140)
            tu.pendown()
            tu.left(90)
            tu.penup()
            tu.forward(30)
            tu.pendown()
            tu.forward(40)
            tu.right(180)
            tu.forward(30)
            tu.penup()
        case 3:
            # right arm
            tu.goto(-74, 100)
            tu.pendown()
            tu.left(55)
            tu.forward(45)
            tu.right(180)
            tu.forward(45)
            tu.penup()
        case 4:
            # left arm
            tu.goto(-74, 100)
            tu.pendown()
            tu.left(70)
            tu.forward(45)
            tu.right(180)
            tu.forward(45)
            tu.penup()
        case 5:
            # right leg
            tu.goto(-74, 100)
            tu.pendown()
            tu.left(55)
            tu.forward(30)
            tu.right(30)
            tu.forward(60)
            tu.right(180)
            tu.forward(60)
            tu.penup()
        case 6:
            # left leg
            tu.goto(-74, 70)
            tu.pendown()
            tu.right(120)
            tu.forward(60)
            tu.penup()
    tu.color('black')

if __name__ == '__main__':
    police = ("Arial", 14, "normal")
    tu.hideturtle()
    tu.clear()
    tu.speed(0)
    tu.pensize(3)
    tu.home()
    tu.pendown()
    tu.left(90)
    tu.forward(175)
    tu.left(90)
    tu.forward(74)
    tu.left(90)
    tu.forward(35)
    tu.penup()

    # on choisit un mot a trouver et on le place dans une liste de lettres
    mots = ['python', 'difficile', 'activisme', 'proportionnel', 'capitalisme']
    mot_cherche = random.choice(mots)
    mot_cherche_list = to_list(mot_cherche)

    # on initialise les compteurs et la liste des lettres trouvees
    nb_tentatives = 0
    essais = []
    lettres_trouvees = ['_' for l in mot_cherche]   
    mot_trouve = to_word(lettres_trouvees)

    while terminer(mot_trouve, mot_cherche, nb_tentatives) == False:

        time.sleep(1)
        lettre_proposee = tu.textinput('Jeu du pendu', f'{mot_trouve}.\nProposez une lettre').lower()
        essais.append(lettre_proposee)
        
        tu.goto(-135, -35)
        # si la lettre proposee n'est pas dans le mot a trouver
        # on augmente le nombre de tentatives et on continue le dessin
        if lettre_proposee not in mot_cherche:
            nb_tentatives += 1
            dessiner(nb_tentatives)
        else:
            for i in range(len(mot_cherche_list)):         
                if lettre_proposee == mot_cherche_list[i]:           
                    lettres_trouvees[i] = lettre_proposee

        mot_trouve = to_word(lettres_trouvees)

        essais_str = ', '.join(essais).upper()
        tu.goto(-200, -60)
        tu.write(f'Vous avez essayé les lettres {essais_str}', True, align='left', font=police)

    if nb_tentatives == 6:
        tu.goto(-200, -150)
        tu.write('Perdu...', False, align='left', font=police)

    if mot_trouve == mot_cherche:
        score = round(100 - 100 / 6 * nb_tentatives, 1)
        tu.goto(-200, -150)
        tu.write(f'Bravo, vous avez gagné.\nLe mot à trouver était {mot_cherche.upper()}.\nVotre score {score} %', False, align='left', font=police)

    tu.exitonclick()</code></pre>

{% endblock cours %}