{% extends '../../../modelePage.html' %}
{% load static %}

{% block contenu %}
<ul>
<li><a href="#imperatif">comprendre le paradigme impératif</a></li>
<li><a href="#evenementiel">comprendre le paradigme événementiel</a></li>
<li><a href="#fonctionnel">comprendre le paradigme fonctionnel</a></li>
<li><a href="#poo">comprendre le paradigme orienté objet</a></li>
</ul>
 {% endblock contenu %}

{% block cours %}

<p>Un paradigme de programmation correspond à un certain état d'esprit qui va être utilisé pour construire le code.</p>

<div class="fieldsetDefinition">
    <h4>A RETENIR ...</h4>
<p>Un paradigme de programmation est un style de programmation répondant à certains critères et respectant certains processus.</p>
</div>

<p>Le choix du paradigme de programmation à adopter dépend donc de la nature du programme à construire. Par exemple un projet sccientifique 
    sera souvent codé à l'aide d'un script en mode impératif, une application de bureau se prêtera volontiers à de la programmation 
    objet alors qu'une appli pour smartphone utilisera de la programmation événementielle.</p>


<!-- LE PARADIGME IMPERATIF -->

<p class="invisible" id="imperatif">ancre</p>

<h3>Le paradigme impératif</h3>

<p>Dans le cas du paradigme impératif, le code est construit suivant une exécution étape par étape, de haut en bas. On parle également de programmation linéaire. Il correspond par exemple aux langages C, Fortran, Cobol, Pascal
     ou encore à des scripts Python. Bien qu'il s'agisse du 1er paradigme de programmation inventé, il est encore très utilisé dans le cadre de scripts devant effectuer
      une tâche précise, car il est simple et rapide à mettre en oeuvre.</p>

<p>Typiquement, c'est le paradigme qu'on utilise en mathématiques ou en sciences pour trouver un résultat.</p>

<p>Par exemple, pour convertir un nombre décimal en nombre binaire, on pourrait utiliser le code suivant en programmation impérative :</p>

<pre><code class="language-python">def decimalToBinaire(decimal):
    binaire = ''

    while decimal > 0:
        # decimal%2 doit etre transformé en string avant d'être concaténé
        binaire = str(decimal % 2) + binaire
        decimal = decimal // 2

    return binaire</code></pre>


<!-- LE PARADIGME EVENEMENTIEL -->

<p class="invisible" id="evenementiel">ancre</p>

<h3>Le paradigme événementiel</h3>

<p>Le paradigme événementiel est construit à partir de Listeners qui attendent un événement tel qu'un clic de souris pour 
    s'exécuter. Les programmes de ce type sont donc en attente permanente et consomment nécessairement de la batterie.
     Ce paradigme est très utilisé dans la création d'apps pour smartphones ou tablettes. On le retrouve par exemple avec la librairie Swing de Java ou avec Node.js.</p>


<!-- LE PARADIGME FONCTIONNEL -->

<p class="invisible" id="fonctionnel">ancre</p>

<h3>Le paradigme fonctionnel</h3>

<p>Le paradigme fonctionnel utilise des blocs de fonctions pour produire des données à partir de données. Contrairement à la 
    programmation impérative où l'on affecte différentes valeurs successives à une variable, en programmation fonctionnelle on crée 
    d'autres expressions. Par exemple, le code peut s'appeller lui-même et les modifications se font souvent au niveau des 
    paramètres des fonctions. On parle dans ce cas de récursivité. Les boucles ne sont plus nécessaires dans ce paradigme qui intègre directement dans la structure 
    d'une fonction la répétition jusqu'à ce qu'une condition soit vérifiée. Ce type de programmation correspond aux langages Lisp, Haskell, Logo,...</p>


<!-- LE PARADIGME ORIENTE OBJET -->

<p class="invisible" id="poo">ancre</p>

<h3>Le paradigme orienté objet</h3>

<p>Le paradigme orienté objet identifie les principaux éléments qui interviennent dans un programme. Ces éléments sont regroupés en 
    catégories appelées possédant des caractéristiques communes, appelées attributs. Le code se base ensuite
    sur les échanges de messages entre ces éléments, appelés méthodes, pour en modifier le comportement.  
    Les programmes orientés objets offrent une meilleure protection des données, 
    sont facilement modifiables et réutilisables. Par ailleurs, la conception objet est très proche de la réalité des 
    situations courantes. Cela correspond par exemple aux langages Java ou C++.</p> 

<p>Le principal avantage de la programmation objet réside dans sa modularité, c'est à dire le fait de décomposer le code en 
    modules indépendants en expliquant les liens entre ces modules et en donnant une structure à l'ensemble du code. Cette modularité permet de mieux comprendre les 
    gros projets et permet d'augmenter plus facilement la taille de ces projets.</p>

<p>Par exemple, la plupart des voitures ont les mêmes propriétés, consommation, vitesse maximale, puissance du moteur, couleur de carrosserie, ... 
    Un développeur peut donc regrouper tous ces objets dans une classe appelée Voiture, et créer une Mercedes E300 ou une Toyota Corolla à 
    partir de ces propriétés. Un autre programmeur pourra regrouper des objets représentant des camions dans une classe Camion, 
    avec comme caractéristiques la consommation, la vitesse maximale, la puissance du moteur, la couleur de carrosserie, le poids total 
    autorisé, la limite de chargement, ... Un chef de projet pourra maintenant facilement regrouper le travail des deux développeurs en
    l'intégrant dans une classe appelée Vehicule qui est le parent des classes Voiture et Camion. Ainsi, le chef de projet est en 
    mesure de faire fonctionner son programme global sans modifier le travail des deux développeurs. Efficace !</p>

{% endblock cours %}
