{% extends '../../../modelePage.html' %}
{% load static %}

{% block contenu %} 
<ul>
    
</ul>
{% endblock contenu %}

{% block cours %}

<p>Ce projet est l'occasion d'analyser des données statistiques, d'utiliser un tableur Excel, d'intégrer un graphique dans un document Word et d'exporter ce document au format pdf</p>



<p>Vous travaillerez en binôme avec le partenaire de votre choix pour effectuer ce projet.</p>

<p>Vous choisirez un ensemble de données sur un sujet qui vous intéresse, par exemple en utilisant le site <a href="https://www.insee.fr/fr/accueil" target="_blank">www.insee.fr</a>, puis vous décrirez ces données statistiques à l'aide des métriques du cours (moyenne, médiane, étendue, quartiles, ...).</p>

<p>Vous décrirez ensuite l'évolution statistique de ces données à travers le temps en fournissant des hypothèses ou des explications.</p>

<p>Finalement, vous dessinerez un graphique de votre choix (histogramme, diagramme en bâtons, secteurs angulaires, ...) représentatif de ces données statistiques en utilisant le tableur Excel.</p>

<p>Vous rédigerez votre projet dans un document Word, dans lequel vous intégrerez votre diagramme et votre tableau de données. Vous disposerez de deux semaines pour réaliser votre travail, qui sera rendu au format pdf sur l'espace Teams de votre classe (un pdf par binôme).</p>

<p>Excellent travail à tous...</p>

{% endblock cours %}