{% extends '../../../modelePage.html' %}
{% load static %}

{% block contenu %} 
<ul>
    
</ul>
{% endblock contenu %}

{% block cours %}

<div class="col-12 col-md-8 my-5">
    <iframe src="https://www.youtube.com/embed/AA7-Sq3GFtc"
            title="Trouver la médiane et les quartiles c'est facile - ToKeTa" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media;
            gyroscope; picture-in-picture" allowfullscreen></iframe>
    <figcaption>Trouver la médiane et les quartiles c'est facile</figcaption>
</div>


<h3>Fiche mémo</h3>

<div class="col-12 col-md-8 my-5">
<iframe src="{% static 'home/documents/quartiles.pdf'%}" height='1200px' type='application/pdf'></iframe>
</div>

<!-- SANS LA CALCULATRICE -->
<h3>Entraînement sans la calculatrice</h3>

<p>Il est important de savoir trouver le 1er et le 3ème quartile sans la calculatrice dans le cas d'une série statistique contenant peu de données, car cela permet de mieux comprendre ce que les quartiles représentent.</p>



<div class="exerciceApplication">
    <p><strong>A vous de jouer : </strong>trouver la médiane, le 1er quartile et le 3ème quartile de chacune des séries statistiques suivantes :</p>
    <ul>
        <li>2 - 18 - 5 - 13 - 9 - 3</li>
        <li>4 - 10 - 3 - 19 - 14 - 5</li>
        <li>23 - 13 - 14 - 17 - 18 - 19 - 22 - 20 - 11</li>
        <li>14 - 8 - 10 - 5 - 7 - 13 - 4</li>
    </ul>
</div>

{% endblock cours %}
