{% extends '../../../modelePage.html' %}
{% load static %}

{% block contenu %}
<ul>
    <li>découvrir le petit monde de Milgram</li>
    <li>comprendre l'importance des liens faibles</li>
    <li>connaître les sources de revenue des réseaux sociaux</li>
    <li>comprendre ce qu'est une trace numérique</li>
</ul>
{% endblock contenu %}

{% block tampon %}
<p class="tampon">TRAVAIL<br/>PRATIQUE</p>
{% endblock tampon %}
{% block cours %}

<p>Il est possible d'effectuer ce travail pratique en effectuant des recherches sur Internet plutôt que d'utiliser 
    le manuel de cours.</p>
<div class="row">
    <div class="col-12">
        <iframe src="{% static 'home/documents/TP_reseauxSociaux.pdf' %}" height='1200px' width='1100px' type='application/pdf'></iframe>
    </div>
</div>

{% endblock cours %}
