{% extends '../../../modelePage.html' %}
{% load static %}

{% block contenu %}
<ul>
	<li>comprendre l'intérêt des serveurs distants</li>
    <li>prendre conscience de la pollution engendrée par les bases de données</li>
</ul>
{% endblock contenu %}

{% block cours %}

<h3>Introduction</h3>

<p>La vidéo suivante publiée par <em>pixees Scienceparticipative</em> sur YouTube détaille l'utilisation du Cloud Computing : <br/>
    <a href="https://youtu.be/5YawCCUxa_E" target="_blank">&#127911; vidéo | Qu'est-ce que le cloud - pixees Scienceparticipative YouTube</a></p>


<!-- LES SERVEURS DISTANTS -->
	
<h3>Des serveurs distants</h3>

	<p>Les services offerts par le cloud sont les suivants :</p>
	<ul>
<li>utilisation d'une infrastructure (architecture matérielle, serveur distant) comme d'un service</li>
<li>utilisation d'un système d'exploitation comme d'un service</li>
<li>utilisation d'une application comme d'un service</li>
</ul>

<p>Les caractéristiques du cloud computing sont les suivantes :
	<ul>
		<li>accès au service à la demande par l'utilisateur</li>
<li>rapidité de l'accès aux ressources et puissance de calcul accrues</li>
<li>mutualisation des services</li>
<li>la capacité de stockage et le traitement des données s'adaptent à la demande</li>
<li>facturation à l'usage</li>
</ul></p>

<div class=fieldsetDefinition>
	<h4>A RETENIR ...</h4> 
	<p>Le cloud computing consiste en l'utilisation de serveurs distants par l'intermédiaire d'un réseau, pour 
		stocker des données, effectuer un travail collaboratif, et exploiter des données.</p>
</div>


<!-- POLLUTION ENGENDREE PAR LES BASES DE DONNEES -->

<h3>Pollution engendrée par les bases de données</h3>

<p>Le recours systématique aux technologies numériques, au Big Data et au Cloud change profondément notre façon 
	de vivre et de travailler. Il n'est pas envisageable à l'heure actuelle de se passer des e-mails, des réseaux
	 sociaux, des datacenters et de l'optimisation des ressources avec le Cloud Computing. Toutefois, cette 
	 technologie induit un coût énergétique pour notre planète, puisqu'il faut en permanence refroidir les 
	 datacenters et les fournir en énergie, recharger et changer les batteries de nos smartphones. Françoise 
	 Berthoud, chercheur au CNRS dénonce la pollution invisible d'Internet 
	 "les ordinateurs, datacenters, réseaux,... engloutissent près de 10% de la consommation mondiale 
	 d'électricité - soit près de 4% de nos émissions de gaz à effet de serre" :
	 <a href="https://lejournal.cnrs.fr/articles/numerique-le-grand-gachis-energetique" target="_blank">&#128211; lecture | article de Françoise Berthoud - le journal du CNRS 2021</a></p>
	</p>

{% endblock cours %}